<input type="hidden" id="receipt_paper_active" value="{{ cheo.receiptPaper|default:0 }}">
<div class="d-flex {% if compact %}justify-content-center flex-wrap{% endif %} receipt-format-options">
  <button type="button" class="btn btn-light receipt_options {% if compact %}mr-2 mb-2{% endif %}{% if cheo.receiptPaper == 0 %} text-primary bluebox{% endif %}" data-paper="0" title="{% if useri.langSet == 0 %}A4{% else %}A4{% endif %}">
    <svg xmlns="http://www.w3.org/2000/svg" height="{% if compact %}38{% else %}30{% endif %}px" viewBox="0 -960 960 960" width="{% if compact %}38{% else %}30{% endif %}px" fill="currentColor"><path d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h360l200 200v520q0 33-23.5 56.5T720-80H240Zm0-80h480v-480H560v-160H240v640Zm240-40q67 0 113.5-47T640-360v-160h-80v160q0 33-23 56.5T480-280q-33 0-56.5-23.5T400-360v-220q0-9 6-14.5t14-5.5q9 0 14.5 5.5T440-580v220h80v-220q0-42-29-71t-71-29q-42 0-71 29t-29 71v220q0 66 47 113t113 47ZM240-800v160-160 640-640Z"/></svg>
    {% if compact %}<br>{% endif %}
    <small>{% if useri.langSet == 0 %}Risiti Kubwa (A4){% else %}Large (A4){% endif %}</small>
  </button>

  <button type="button" id="print_mini" class="btn btn-light receipt_options {% if compact %}mr-2 mb-2{% endif %}{% if cheo.receiptPaper == 1 %} text-primary bluebox{% endif %}" data-paper="1" data-active="{{ cheo.receiptPaper|default:0 }}" title="58mm">
    <svg xmlns="http://www.w3.org/2000/svg" height="{% if compact %}38{% else %}30{% endif %}px" viewBox="0 -960 960 960" width="{% if compact %}38{% else %}30{% endif %}px" fill="currentColor"><path d="M120-80v-800l60 60 60-60 60 60 60-60 60 60 60-60 60 60 60-60 60 60 60-60 60 60 60-60v800l-60-60-60 60-60-60-60 60-60-60-60 60-60-60-60 60-60-60-60 60-60-60-60 60Zm120-200h480v-80H240v80Zm0-160h480v-80H240v80Zm0-160h480v-80H240v80Zm-40 404h560v-568H200v568Zm0-568v568-568Z"/></svg>
    {% if compact %}<br>{% endif %}
    <small>{% if useri.langSet == 0 %}Thermal 58mm{% else %}Thermal 58mm{% endif %}</small>
  </button>

  <button type="button" class="btn btn-light receipt_options {% if compact %}mb-2{% endif %}{% if cheo.receiptPaper == 2 %} text-primary bluebox{% endif %}" data-paper="2" title="80mm POS">
    <svg xmlns="http://www.w3.org/2000/svg" height="{% if compact %}38{% else %}30{% endif %}px" viewBox="0 -960 960 960" width="{% if compact %}38{% else %}30{% endif %}px" fill="currentColor"><path d="M160-120v-720h640v720H160Zm80-80h480v-560H240v560Zm0 0v-560 560Z"/></svg>
    {% if compact %}<br>{% endif %}
    <small>{% if useri.langSet == 0 %}POS 80mm{% else %}POS 80mm{% endif %}</small>
  </button>
</div>
