{% extends 'userdash.html' %}
{% load static %}

{% block nav-staff %}class="c-menu__item style-none is-active  showingpop2"{% endblock %}

{% block active-staff-all-menu %}class="btn-default btn btn-sm pop2_active_menu"{% endblock %}

{% block Dashboard %}
<div class="Analytical whiteBg p-2 px-md-5 pt-md-3" id="general-panel" style="min-height:100vh;">

      {% include 'staff/staffnavigations.html' %}

  <div class="container-fluid p-2 p-md-3 rounded whiteBg">
    <h6>
      {% if useri.langSet == 0 %}Taarifa za mwajiliwa/Mshilika{% else %}Employee/Partner Details{% endif %}
      <a href="/staff/all" title="{% if useri.langSet == 0 %}Wafanyakazi wote{% else %}All staff{% endif %}" class="float-right">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
          <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
          <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
        </svg>
      </a>
    </h6>

    <div class="row">
      <div class="img-show col-md-2 p-2 p-md-3">
        <div class="d-flex classic_div justify-content-center align-items-center p-3 btn" data-toggle="modal" style="width:160px;height:160px;-webkit-box-shadow:0px 0px 5px -2px rgba(0,0,0,0.4);box-shadow:0px 0px 5px -2px rgba(0,0,0,0.4);" data-target="#Add-user-img">
          {% if worker.picha %}
          <img src="{{ worker.picha.url }}" style="max-width:100%;max-height:100%" alt="">
          {% else %}
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="7em" height="7em" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
          </span>
          {% endif %}
        </div>
        {% if worker.diactive %}
        <div class="weight600 text-center">
          <div class="text-capitalize" style="color:rgb(29, 29, 172)">{{ worker.diactive.where.owner.user.first_name }} {{ worker.diactive.where.owner.user.last_name }}</div>
          <div class="smallerFont">({{ worker.diactive.where.Intp_code }})</div>
        </div>
        {% endif %}
      </div>

      <div class="p-2 pl-md-3 col-md-10 pl-2 border-left-md">
        <div style="max-width:520px;">
          <h6 class="text-capitalize classic_div row"><span class="col-4 latoFont weight600" title="ID">ID</span><span class="brown col-8">{{ worker.workerId }}</span></h6>
          <h6 class="text-capitalize classic_div row"><span class="col-4 latoFont weight600">{% if useri.langSet == 0 %}Jina{% else %}Name{% endif %}</span><span class="col-8">{{ worker.jina }}</span></h6>
          <h6 class="text-capitalize classic_div row"><span class="col-4 latoFont weight600">{% if useri.langSet == 0 %}Kazi{% else %}Task{% endif %}</span><span class="brown col-8">{{ worker.kazi }}</span></h6>
          <h6 class="text-capitalize classic_div smallFont latoFont row"><span class="col-4 weight600">{% if useri.langSet == 0 %}Anwani{% else %}Address{% endif %}</span><span class="col-8">{{ worker.address }}</span></h6>
          <h6 class="text-capitalize classic_div smallFont latoFont row"><span class="col-4 weight600">{% if useri.langSet == 0 %}SIMU 1{% else %}PHONE 1{% endif %}</span><span class="col-8">{{ worker.simu1 }}</span></h6>
          {% if worker.simu2 %}
          <h6 class="text-capitalize classic_div smallFont latoFont row"><span class="col-4 weight600">{% if useri.langSet == 0 %}SIMU 2{% else %}PHONE 2{% endif %}</span><span class="col-8">{{ worker.simu2 }}</span></h6>
          {% endif %}

          {% if viewer_can_manage %}
          <div class="pt-2">
            {% if worker.diactive and not theUser and duka.Interprise %}
                <button data-toggle="modal" data-target="#addUser" title="{% if useri.langSet == 0 %}Ongeza mtumiaji kwenye akaunti hii{% else %}Add user to this business account{% endif %}" class="btn btn-light latoFont smallFont btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 -960 960 960" width="1.5em" fill="currentColor">
                    <path d="M673-480ZM80-200v-160h160v160H80Zm320-120-56-56 63-64H80v-80h327l-63-64 56-56 160 160-160 160ZM80-600v-160h160v160H80ZM400-80v-160h80v80h320v-640H480v80h-80v-160h480v205h40v190h-40v405H400Z"/>
                    </svg>
                    {% if useri.langSet == 0 %}Ongeza Mtumiaji{% else %}Add User{% endif %}
                </button>
            {% endif %}

            {% if not deliver %}
             <button data-toggle="modal" data-target="#addDeliver" title="{% if useri.langSet == 0 %}Ongeza kama delivery agent{% else %}Add delivery agent{% endif %}" class="btn btn-light latoFont smallFont btn-sm">
                   <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 -960 960 960" width="1.5em" fill="currentColor">
                     <path d="M195-195q-35-35-35-85H60l18-80h113q17-19 40-29.5t49-10.5q26 0 49 10.5t40 29.5h167l84-360H182l4-17q6-28 27.5-45.5T264-800h456l-37 160h117l120 160-40 200h-80q0 50-35 85t-85 35q-50 0-85-35t-35-85H400q0 50-35 85t-85 35q-50 0-85-35Zm442-245h193l4-21-74-99h-95l-28 120Zm-19-273 2-7-84 360 2-7 34-146 46-200ZM20-427l20-80h220l-20 80H20Zm80-146 20-80h260l-20 80H100Zm180 333q17 0 28.5-11.5T320-280q0-17-11.5-28.5T280-320q-17 0-28.5 11.5T240-280q0 17 11.5 28.5T280-240Zm400 0q17 0 28.5-11.5T720-280q0-17-11.5-28.5T680-320q-17 0-28.5 11.5T640-280q0 17 11.5 28.5T680-240Z"/>
                    </svg>
                {% if useri.langSet == 0 %}Ongeza Delivery Agent{% else %}Add Delivery Agent{% endif %}
             </button>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid rounded mt-3 whiteBg p-2 p-md-3">
    <h6 class="mb-3">{% if useri.langSet == 0 %}General Permissions{% else %}General Permissions{% endif %}</h6>
    <form id="generalPermissionsForm" class="row">
      {% csrf_token %}
      <input type="hidden" name="worker_id" value="{{ worker.id }}">
      <input type="hidden" name="branch_permissions" id="branchPermissionsHidden" value="{}">

      <div class="col-md-4 mb-2">
        <div class="custom-control custom-switch cursor-pointer">
          <input type="checkbox" class="custom-control-input cursor-pointer" id="permAllow" name="allow" {% if perm and perm.Allow %}checked{% endif %} {% if not theUser %}disabled{% endif %}>
          <label class="custom-control-label cursor-pointer" for="permAllow">Add user complete required, then Grant access</label>
        </div>
        {% if viewer_can_manage and branch_permission_options %}
        <button type="button" class="btn btn-link btn-sm p-0 smallFont mt-2" data-toggle="collapse" data-target="#branchPermissionsAllow" aria-expanded="false" aria-controls="branchPermissionsAllow">
          {% if useri.langSet == 0 %}Onyesha matawi mengine{% else %}Show Other branches{% endif %}
        </button>
        <div id="branchPermissionsAllow" class="collapse mt-2">
          <div class="border rounded p-2">
            <small class="text-muted d-block mb-2">
              {% if useri.langSet == 0 %}Chagua matawi ya biashara na uweke ruhusa ya Grant access kwenye kila moja kwa wakati mmoja.{% else %}Select business branches and apply Grant access to each of them at once.{% endif %}
            </small>
            {% if not linked_user %}
            <small class="text-danger d-block mb-2">{% if useri.langSet == 0 %}Kwanza fanya operation 1 (Add User).{% else %}Complete operation 1 (Add User) first.{% endif %}</small>
            {% endif %}
            <div class="table-responsive">
              <table class="table table-sm mb-0">
                <thead>
                  <tr>
                    <th class="text-left" >{% if useri.langSet == 0 %}Biashara{% else %}Branch{% endif %}</th>
                    <th class="text-left" >{% if useri.langSet == 0 %}User Added{% else %}User added{% endif %}</th>
                    <th class="text-left" >{% if useri.langSet == 0 %}Allowed{% else %}Allowed{% endif %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for branch in branch_permission_options %}
                  <tr class="branch-permission-row" data-branch="{{ branch.enterprise.id }}" data-permission="allow">
                    <td>{{ branch.enterprise.name }}</td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input branch-added-checkbox" id="branchAllowAdded{{ branch.enterprise.id }}" {% if branch.is_added %}checked{% endif %} {% if not linked_user or not viewer_can_manage %}disabled{% endif %}>
                        <label class="custom-control-label" for="branchAllowAdded{{ branch.enterprise.id }}"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input branch-allowed-checkbox" id="branchAllowAllowed{{ branch.enterprise.id }}" {% if branch.is_allowed %}checked{% endif %} {% if not branch.is_added or not linked_user or not viewer_can_manage %}disabled{% endif %}>
                        <label class="custom-control-label" for="branchAllowAllowed{{ branch.enterprise.id }}"></label>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="col-md-4 mb-2">
        <div class="custom-control custom-switch cursor-pointer">
          <input type="checkbox" class="custom-control-input cursor-pointer" id="permWaiter" name="waiter_counter" {% if perm and perm.waiter_counter %}checked{% endif %} {% if not theUser %}disabled{% endif %}>
          <label class="custom-control-label cursor-pointer" for="permWaiter">Waiter</label>
        </div>
        {% if viewer_can_manage and branch_permission_options %}
        <button type="button" class="btn btn-link btn-sm p-0 smallFont mt-2" data-toggle="collapse" data-target="#branchPermissionsWaiter" aria-expanded="false" aria-controls="branchPermissionsWaiter">
          {% if useri.langSet == 0 %}Onyesha matawi mengine{% else %}Show Other branches{% endif %}
        </button>
        <div id="branchPermissionsWaiter" class="collapse mt-2">
          <div class="border rounded p-2">
            <small class="text-muted d-block mb-2">
              {% if useri.langSet == 0 %}Chagua matawi ya biashara na uweke ruhusa ya Waiter kwenye kila moja kwa wakati mmoja.{% else %}Select business branches and apply Waiter access to each of them at once.{% endif %}
            </small>
            {% if not linked_user %}
            <small class="text-danger d-block mb-2">{% if useri.langSet == 0 %}Kwanza fanya operation 1 (Add User).{% else %}Complete operation 1 (Add User) first.{% endif %}</small>
            {% endif %}
            <div class="table-responsive">
              <table class="table table-sm mb-0">
                <thead>
                  <tr>
                    <th class="text-left" >{% if useri.langSet == 0 %}Biashara{% else %}Branch{% endif %}</th>
                    <th class="text-left" >{% if useri.langSet == 0 %}User Added{% else %}User added{% endif %}</th>
                    <th class="text-left" >{% if useri.langSet == 0 %}Allowed{% else %}Allowed{% endif %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for branch in branch_permission_options %}
                  {% if branch.enterprise.waiter_counter %}
                  <tr class="branch-permission-row" data-branch="{{ branch.enterprise.id }}" data-permission="waiter">
                    <td>{{ branch.enterprise.name }}</td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input branch-added-checkbox" id="branchWaiterAdded{{ branch.enterprise.id }}" {% if branch.is_added %}checked{% endif %} {% if not linked_user or not viewer_can_manage %}disabled{% endif %}>
                        <label class="custom-control-label" for="branchWaiterAdded{{ branch.enterprise.id }}"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input branch-allowed-checkbox" id="branchWaiterAllowed{{ branch.enterprise.id }}" {% if branch.is_waiter %}checked{% endif %} {% if not branch.is_added or not linked_user or not viewer_can_manage %}disabled{% endif %}>
                        <label class="custom-control-label" for="branchWaiterAllowed{{ branch.enterprise.id }}"></label>
                      </div>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="col-md-4 mb-2">
        <div class="custom-control custom-switch cursor-pointer">
          <input type="checkbox" class="custom-control-input cursor-pointer" id="permCashDeposit" name="cash_deposit_supervisor" {% if perm and perm.cash_deposit_supervisor %}checked{% endif %} {% if not theUser %}disabled{% endif %}>
          <label class="custom-control-label cursor-pointer" for="permCashDeposit">Cash deposit supervisor</label>
        </div>
      </div>

      <div class="col-12 mt-2">
        {% if not theUser %}
        <small class="text-danger d-block mb-2">{% if useri.langSet == 0 %}Kwanza fanya operation 1 (Add User), ndipo ruhusa 3, 4, 5 zitafunguka.{% else %}Complete operation 1 (Add User) first. Permissions 3, 4, 5 stay disabled until then.{% endif %}</small>
        {% endif %}
        {% if viewer_can_manage %}
        <button type="submit" class="btn btn-primary btn-sm" {% if not theUser %}disabled{% endif %}>{% if useri.langSet == 0 %}Hifadhi Ruhusa{% else %}Save Permissions{% endif %}</button>
        {% endif %}
      </div>
    </form>
  </div>

  <div class="container-fluid rounded mt-3 mb-5 whiteBg p-2 p-md-3" style="min-height:40vh;">
    <h6 class="p-3">
      {% if useri.langSet == 0 %}Viambatanisho{% else %}Attachments{% endif %}
      {% if viewer_can_manage %}
      <button class="btn btn-primary latoFont smallFont float-right" onclick="$('#removeAttach').fadeOut();$('#attachOne').val(0);$('#attachWord').val('')" data-toggle="modal" data-target="#viambatanishi">
        + {% if useri.langSet == 0 %}Ongeza kiambatanisho{% else %}Add attachment{% endif %}
      </button>
      {% endif %}
    </h6>

    {% if attach.count > 0 %}
    <ul class="list-unstyled">
      {% for at in attach %}
      <li class="py-2">
        <div class="input-group">
          <a href="{% if viewer_can_manage %}{{ at.fileAttach.url }}{% endif %}" target="blank" class="border px-2 py-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
              <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
            </svg>
            {{ at.desc }}
          </a>
          {% if viewer_can_manage %}
          <span class="btn btn-light border btn-sm d-flex justify-content-center align-items-center input-group-append latoFont mt-0 smallFont" onclick="$('#removeAttach').fadeIn();$('#attachOne').val(Number('{{ at.id }}'));$('#attachWord').val('{{ at.desc }}')" data-toggle="modal" data-target="#viambatanishi">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
          </span>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="mt-3 text-center">{% if useri.langSet == 0 %}Hakuna utambulisho wowote kwa sasa{% else %}No attachments found{% endif %}</p>
    {% endif %}
  </div>

  {% if viewer_can_manage %}
  <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">{% if useri.langSet == 0 %}Ongeza Mtumiaji{% else %}Add User{% endif %}</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">{% if useri.langSet == 0 %}Muongeze <i class="text-capitalize weight600" style="color:blue;">{{ worker.jina }}</i> awe mtumiaji wa biashara hii.{% else %}Add <i class="text-capitalize weight600" style="color:blue;">{{ worker.jina }}</i> as user for this business account.{% endif %}</div>
        <form class="text-center py-2" action="/addStaff_form" id="savestaff_form" data-user="{{ worker.id }}">
          <button type="submit" class="btn btn-primary latoFont">{% if useri.langSet == 0 %}Ongeza Mtumiaji{% else %}Add User{% endif %}</button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addDeliver" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">{% if useri.langSet == 0 %}Ongeza Delivery Agent{% else %}Add Delivery Agent{% endif %}</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">{% if useri.langSet == 0 %}Muongeze <i class="text-capitalize weight600" style="color:blue;">{{ worker.jina }}</i> kama delivery agent.{% else %}Add <i class="text-capitalize weight600" style="color:blue;">{{ worker.jina }}</i> as delivery agent.{% endif %}</div>
        <form class="text-center py-2" action="/addDeliveryAgent" id="saveDAgent_form" data-user="{{ worker.id }}">
          <button type="submit" class="btn btn-primary latoFont">{% if useri.langSet == 0 %}Ongeza Delivery Agent{% else %}Add Delivery Agent{% endif %}</button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="Add-user-img" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% if useri.langSet == 0 %}Weka/Badili Picha ya mtumiaji{% else %}Add/Change User image{% endif %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <form class="row classic_div entpLogo_pic" data-input="#User_img_save" action="/userImgAdd" id="entpLogo_pic" method="post" style="width:95%;">
              {% csrf_token %}
              <p>{% if useri.langSet == 0 %}Faili lisizidi kb 200{% else %}File should not exceed 200kb{% endif %}</p>
              <div class="input-group mb-3">
                <input type="file" class="custom-file-input" id="User_img_save" name="User_img_save">
                <label class="custom-file-label" for="User_img_save">{% if useri.langSet == 0 %}Chagua Picha{% else %}Choose file{% endif %}</label>
              </div>
              <input type="hidden" value="{{ worker.id }}" name="workerName">
              <div class="pt-3 row classic_div">
                <div class="col-6"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div>
                <div class="col-6 text-right"><button type="submit" class="btn btn-primary">Save</button></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="viambatanishi" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% if useri.langSet == 0 %}Ongeza viambatanisho vya mfanyakazi{% else %}Add Employee attachment{% endif %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body pb-4">
          <form action="/AddEmployeeAttachments" class="px-2" id="employeeAttchments" method="post">
            {% csrf_token %}
            <div class="form-group my-3">
              <label for="attachWord">{% if useri.langSet == 0 %}Maelezo ya kiambatanisho{% else %}Attachment description{% endif %}</label>
              <textarea name="attachWord" id="attachWord" class="form-control"></textarea>
            </div>
            <div class="form-group my-5">
              <label for="attachFile">{% if useri.langSet == 0 %}Kiambatanishi (PDF){% else %}Attachment (PDF){% endif %}</label><br>
              <input type="file" id="attachFile" name="attachFile">
            </div>
            <input type="hidden" id="worker" name="workerd" value="{{ worker.id }}">
            <input type="hidden" id="attachOne" name="attachOne" value="0">
            <div class="text-center mb-2"><button type="submit" class="btn btn-primary latoFont">{% if useri.langSet == 0 %}Ongeza Kiambatanishi{% else %}Add Attachment{% endif %}</button></div>
            <div class="text-center mt-2" id="removeAttach" style="display:none;"><button type="button" class="btn btn-danger latoFont btn-sm smallFont" onclick="if(confirm('{% if useri.langSet == 0 %}Ondoa Kiambatanisho{% else %}Remove attachment{% endif %}')){sendDidata($('#attachOne').val())}">{% if useri.langSet == 0 %}Ondoa{% else %}Remove{% endif %}</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

<script>
$('body').on('submit', '#savestaff_form', function(e) {
  e.preventDefault();
  let code = Number($(this).data('user'));
  if (!code) {
    return;
  }
  $('#addUser').modal('hide');
  $('#loadMe').modal('show');
  $.ajax({
    type: 'POST',
    url: $(this).attr('action'),
    data: {
      staff: code,
      csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
    }
  }).done(function(data) {
    $('#loadMe').modal('hide');
    hideLoading();
    if (data.success) {
      toastr.success(lang(data.msg_swa, data.msg_eng), lang('Imefanikiwa', 'Success'), { timeOut: 2000 });
      location.reload();
    } else {
      toastr.error(lang(data.msg_swa, data.msg_eng), lang('Haijafanikiwa', 'Error'), { timeOut: 2000 });
    }
  });
});

$('body').on('submit', '#saveDAgent_form', function(e) {
  e.preventDefault();
  let code = Number($(this).data('user'));
  if (!code) {
    return;
  }
  $('#addDeliver').modal('hide');
  $('#loadMe').modal('show');
  $.ajax({
    type: 'POST',
    url: $(this).attr('action'),
    data: {
      agent: code,
      csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
    }
  }).done(function(data) {
    $('#loadMe').modal('hide');
    hideLoading();
    if (data.success) {
      toastr.success(lang(data.msg_swa, data.msg_eng), lang('Imefanikiwa', 'Success'), { timeOut: 2000 });
      location.reload();
    } else {
      toastr.error(lang(data.msg_swa, data.msg_eng), lang('Haijafanikiwa', 'Error'), { timeOut: 2000 });
    }
  });
});

function updateBranchPermissionRow(row) {
  const added = row.find('.branch-added-checkbox').is(':checked');
  const allowedInput = row.find('.branch-allowed-checkbox');
  allowedInput.prop('disabled', !added);
  if (!added) {
    allowedInput.prop('checked', false);
  }
}

$('.branch-permission-row').each(function() {
  updateBranchPermissionRow($(this));
});

$('body').on('change', '.branch-added-checkbox', function() {
  updateBranchPermissionRow($(this).closest('.branch-permission-row'));
});

$('#generalPermissionsForm').submit(function(e) {
  e.preventDefault();
  const form = $(this);
  const csrfToken = $('input[name=csrfmiddlewaretoken]').first().val();
  const branchPermissionPayload = { allow: {}, waiter: {} };

  $('.branch-permission-row').each(function() {
    const row = $(this);
    const branchId = row.data('branch');
    const permissionType = row.data('permission');
    if (!branchId || !permissionType) {
      return;
    }
    branchPermissionPayload[permissionType][branchId] = {
      added: row.find('.branch-added-checkbox').is(':checked') ? 1 : 0,
      allowed: row.find('.branch-allowed-checkbox').is(':checked') ? 1 : 0
    };
  });

  $('#branchPermissionsHidden').val(JSON.stringify(branchPermissionPayload));

  $.ajax({
    type: 'POST',
    url: '/staff/general-permissions',
    data: {
      csrfmiddlewaretoken: csrfToken,
      worker_id: form.find('[name=worker_id]').val(),
      allow: form.find('[name=allow]').is(':checked') ? 1 : 0,
      waiter_counter: form.find('[name=waiter_counter]').is(':checked') ? 1 : 0,
      cash_deposit_supervisor: form.find('[name=cash_deposit_supervisor]').is(':checked') ? 1 : 0,
      branch_permissions: $('#branchPermissionsHidden').val()
    }
  }).done(function(data) {
    if (data.success) {
      toastr.success(lang(data.msg_swa || 'Imefanikiwa', data.msg_eng || 'Success'), lang('Imefanikiwa', 'Success'), { timeOut: 2000 });
      location.reload();
    } else {
      toastr.error(lang(data.msg_swa || data.msg || 'Haijafanikiwa', data.msg_eng || data.msg || 'Error'), lang('Haijafanikiwa', 'Error'), { timeOut: 2500 });
    }
  });
});

$('#entpLogo_pic').submit(function(e) {
  e.preventDefault();
  var input = $(this).data('input'),
      val = $(input).val(),
      extension = val.split('.').pop().toLowerCase();

  if (val == '') {
    redborder(input);
    return;
  }

  if (jQuery.inArray(extension, ['jfif', 'png', 'jpg', 'jpeg']) == -1) {
    $(this).trigger('reset');
    return;
  }

  $('#loadMe').modal('show');
  $('#Add-user-img').modal('hide');
  var formData = new FormData(this);
  $.ajax({
    url: $(this).attr('action'),
    type: 'POST',
    data: formData,
    cache: false,
    processData: false,
    contentType: false,
    success: function(response) {
      $('#loadMe').modal('hide');
      hideLoading();
      if (response.success) {
        toastr.success(lang('Picha Imefanikiwa', 'Profile picture added successfully'), lang('Imefanikiwa', 'Success'), { timeOut: 2000 });
        location.reload();
      } else {
        toastr.error(lang(response.msg_swa, response.msg_eng), lang('Haikufanikiwa', 'Error'), { timeOut: 2000 });
      }
    }
  });
});

$('#employeeAttchments').submit(function(e) {
  e.preventDefault();
  var input = $('#attachFile'),
      val = $(input).val(),
      desc = ($('#attachWord').val()).trim(),
      extension = val.split('.').pop().toLowerCase();

  if (val == '' || desc == '') {
    if (desc == '') { redborder('#attachWord'); }
    if (val == '') { redborder(input); }
    return;
  }

  if (jQuery.inArray(extension, ['pdf']) == -1 && val != '') {
    $(this).trigger('reset');
    return;
  }

  $('#loadMe').modal('show');
  $('#viambatanishi').modal('hide');
  var formData = new FormData(this);
  $.ajax({
    url: $(this).attr('action'),
    type: 'POST',
    data: formData,
    cache: false,
    processData: false,
    contentType: false,
    success: function(response) {
      $('#loadMe').modal('hide');
      hideLoading();
      if (response.success) {
        toastr.success(lang(response.msg_swa, response.msg_eng), lang('Imefanikiwa', 'Success'), { timeOut: 2000 });
        location.reload();
      } else {
        toastr.error(lang(response.msg_swa, response.msg_eng), lang('Haikufanikiwa', 'Error'), { timeOut: 2000 });
      }
    }
  });
});

function sendDidata(val) {
  $('#loadMe').modal('show');
  $('#viambatanishi').modal('hide');
  $.ajax({
    type: 'POST',
    url: '/RemoveAttach',
    data: { att: val, csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val() },
    success: function(dt) {
      $('#loadMe').modal('hide');
      if (dt.success) {
        toastr.success(lang(dt.msg_swa, dt.msg_eng), lang('Imefanikiwa', 'Success'), { timeOut: 2000 });
        location.reload();
      } else {
        toastr.error(lang(dt.msg_swa, dt.msg_eng), lang('Haikufanikiwa', 'Error'), { timeOut: 2000 });
      }
    }
  });
}
</script>

{% endblock %}
