
.pos-products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 0.75rem;
    max-height: 75vh;
    overflow-y: auto;
    padding-bottom: 5rem;
}
.pos-products-list > li {
    align-self: start;
}
.pos-products-list > li button {
    height: 100%;
    background-color: #e6ebf1;
    border: 0.2rem solid #e6ebf1;
    border-radius: 0.4rem;
    color: #525f7f;
    padding: 0;
}
.pos-products-list > li button:hover, .pos-products-list > li button:focus {
    background-color: var(--whiteBg);
}
.pos-products-list > li button:hover svg, .pos-products-list > li button:focus svg {
    fill: #00bc81;
    transform: scale(1.4);
}
.pos-products-list > li button:focus {
    outline: none;
    transform: scale(1.05);
}
.pos-products-list > li button:active {
    transform: scale(0.95);
}
.pos-products-list > li figure {
    background: var(--whiteBg);
    border-radius: 0.4rem;
    overflow: hidden;
    padding-bottom: 1rem;
    width:100%;
    margin: 0;
    /* padding-top:0.5rem ; */
    
}
.pos-products-list > li figure img, .pos-products-list > li figure svg {
    max-width: 95%;
    max-height: 95%;
    object-fit: cover;
}
.pos-products-list > li h6 {
    margin: 0;
    margin: 0.5rem;
    font-size: .93rem;
}
.pos-products-list > li div {
    padding: 0.5rem;
    text-align: left;
    line-height: 2rem;
    font-weight: bold;
}
.pos-products-list > li svg {
    float: right;
    fill: #525f7f;
    margin-top: 0.25rem;
    transition: all 0.15s ease-out;
}

.itm_qty{
    border: 0;
}
select.itm_qty{
    color: #00bc81;
    border:1px solid #fff ;
    font-size: smaller;

}

/* #itm_qty{
    width: 3rem;
} */

#categsList li {
   display: inline-block;
   text-wrap: nowrap;
}
