:root {
    --color-gold: #d49f0d;
    --color-gold-light: #f0b924;
  }
  

  
  .comment-stars {
    display: flex;
    flex-direction: row-reverse;
    max-width: 145px;
   
  }
  
  .comment-stars-input {
    display: none;
  }
  
  .comment-stars-input:checked ~ .comment-stars-view svg {
    fill: var(--color-gold);
  }
  
  .comment-stars-input:checked ~ .comment-stars-view:hover .icon,.comment-stars-input:checked ~ .comment-stars-view:hover ~ .comment-stars-view .icon {
    fill: var(--color-gold-light);
  }
  
  .comment-stars-view {
    cursor: pointer;
   
  }
  .comment-stars-view svg{
    fill: #dadada;
  }
  .comment-stars-view .icon {
    width: 2.29306640625em;
    height: 2.4em;
  }

  .afterRate{
    width: 1.09306640625em;
    height: 1.2em;
  }


  
  .comment-stars-view.is-half {
    transform: translateX(100%);
    margin-left: -0.54580078125em;
  }
  
  .comment-stars-view.is-half svg {
    width: 0.54580078125em;
  }



  .comment-stars-view:hover .icon,
  .comment-stars-view:hover ~ .comment-stars-view .icon {
    fill: var(--color-gold-light);
  }
  .rated{
    fill:var(--color-gold);
    width:1.3em;
    height: 1.3em;
  }

  .rated:first-child ~ svg{
    margin-left: -7px;
  }

  .theRateNav:hover{
        text-decoration: none;
        
  }
  .theRateNav{
    color:rgba(32, 34, 44, 0.733);
    font-weight: 700;
  }