{% extends 'userdash.html' %}

{% load humanize %}
{% load static %}

{% block Dashboard %}
<div  class="Analytical whiteBg pb-5 p-md-5 tab_div ">
    <h6>{% if useri.langSet == 0 %} Wezesha akaunti ya mteja {%else %} Activate customer account {% endif %}</h6>

    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'pics/addentp.svg' %}" alt="" style="width:100%" srcset="">
        </div>
        <div class="col-md-6 ">
              <div class="form-group">
                <label for="">{% if useri.langSet == 0 %} Utambulisho {%else%} Identification {% endif %}</label>
               
                <div class="input-group">
                   <input type="text" name="userId" id="userId" class="form-control" placeholder="" aria-describedby="helpId">
                   <span class="input-group-append">
                        <button id="sendUser" class="btn btn-secondary btn-sm latoFont">
                            {% if useri.langSet == 0 %} Tuma {%else%} Send {% endif %}
                        </button>
                   </span>
                </div>
                
              </div>

              <div class="mt-3" id="awezeshwe" hidden >
                 <h6>{% if useri.langSet == 0 %} Wezesha {%else%} Activate {% endif %}: <span id="Entpname"></span> </h6>
               
                 {% if  useri.ImModelate %}
                  <p><span class="darkblue">{{duka.currencii}}</span>.<span class="brown weight600">8,000</span> {% if useri.langSet == 0 %} Itapunguzwa kwenye akaunti yako {%else%} Will be reduced from your account amount {% endif %}</p>  
                 {% endif %}

               <div class="row">
                    <div class="col-5">{% if useri.langSet == 0 %}Akaunti{% else %}Account{% endif %}</div>
                    <div class="col-7"> <span class="darkblue">{{duka.name|title}}</span> </div>
                    <div class="col-md-5 col-5">
                        <span >
                            {% if useri.langSet == 0 %}Salio la Akaunti{% else %}Account Balance{% endif %}
                        </span>
                    </div>
                    <div class="col-md-6 col-7">
                        {{duka.currencii}}: <span style="font-size: 20px;" id="availableAmo" data-amo="{{duka.Balance}}" class="largerFont brown weight600 ">{{duka.Balance | floatformat:'-2' | intcomma}}</span>
                        <span class="mx-2 pl-1 border-left">
                            <button onclick="$('#token_verify').toggle(300)" class="btn btn-sm smallFont latoFont btn-light">
                                {% if useri.langSet == 0 %}Tokeni{% else %}Token{% endif %}
                            </button>
                            
                        </span>
                    </div>   
                    
                    {% if useri.ImSuper %}
                    <div class="col-12 my-2">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="recharge" id="recharge" value="checkedValue" >
                         
                            {% if useri.langSet == 0 %}Wekea salio{% else %}Recharge{% endif %}
                          </label>
                        </div>
                    </div>

                    <div class="col-5">
                        {% if useri.langSet == 0 %}Kiasi{% else %}Amount{% endif %}
                    </div>

                    <div class="col-7">
                       
                          <input type="number"
                            class="form-control" name="reAmount" id="reAmount" aria-describedby="helpId" placeholder="add amount">
                        
                    </div>

                    {% endif %}



                    
        </div>

        <div id="token_verify" class="form-group" style="display:none" >
          <label for="TokenVerifier">
            {% if useri.langSet == 0 %}Weka tokeni za malipo{% else %}Add token Number{% endif %}    
         </label>

          <div class="input-group">
            <input type="text" name="TokenVerifier" id="TokenVerifier" class="form-control" placeholder="{% if useri.langSet == 0 %}Andika Tokeni{% else %}Write token{% endif %}" aria-describedby="helpId">
             <button type="button"
             onclick = "
               let token = $('#TokenVerifier').val();
                    checkToken(token)
             "
             class="btn btn-secondary input-group-append smallFont latoFont">
                {% if useri.langSet == 0 %}Tuma{% else %}Send{% endif %}
             </button>
          </div>
         
        </div>

                 <p class="text-right mt-3">
                    <button data-valu=0 id="iwezeshweSasa" class="btn latoFont btn-primary">
                        {% if useri.langSet == 0 %} Wezesha {%else%} Activate {% endif %}
                    </button>
                 </p>
              </div>
        </div>
    </div>

</div>

<script>
    $('#sendUser').click(function(){
        const user=$('#userId').val()
        if(user!=''){
            $('#loadMe').modal('show')
            const toSend = {
                data:{
                    user
                },
                url:"/checkUser"
            },
            sendIt = POSTREQUEST(toSend)

            sendIt.then(resp=>{
                
                if(resp.success){
                     $('#awezeshwe').prop('hidden',false)
                     $('#iwezeshweSasa').data('valu',resp.id)
                     $('#Entpname').html(`<u class="darkblue text-capitalize">${resp.name}</u> | <span class="text-primary latoFont smallFont text-capitalize"> ${resp.address} </span>`)
                }else{
                    toastr.error(lang('Kitendo Hakikufanikiwa kutokana na hitilafu tafadhari jaribu tena.','Error occured during operation please try again'), lang('Haikufanikiwa','Error Alert'), {timeOut: 2000});
                     $('#awezeshwe').prop('hidden',true)
                }


                $('#loadMe').modal('hide')
                hideLoading()
            })


        }else{
            redborder('#userId')
        }
    })

$('#iwezeshweSasa').click(function(){
    const val = Number($(this).data('valu')) || 0,
          ac_amo = Number($('#availableAmo').data('amo')),
          amSuper = Number('{% if useri.ImSuper %}1{% else %}0{% endif %}'),
          rch = Number($('#recharge').prop('checked')) || 0,
          re_amo = Number($('#reAmount').val()) || 0

          if(ac_amo>=8000 || amSuper){
                $('#loadMe').modal('show')
                const datS = {
                    data:{
                        val,
                        rch,
                        re_amo
                    },
                    url:'/activateThis'
                },
                sendIt = POSTREQUEST(datS)
                sendIt.then(resp=>{
                    if(resp.success){
                         toastr.success(lang('Akaunti imezeshwa imewezeshwa kikamilifu.','account activated successfuly'), lang('Imefanikiwa','Success'), {timeOut: 5000});
                        $('#availableAmo').data('amo',Number(ac_amo-8000))
                        if(!amSuper)$('#availableAmo').text(Number(ac_amo-8000).toLocaleString())
                        
                    }else{
                         toastr.error(lang(resp.msg_swa,resp.msg_eng), lang('Haikufanikiwa','Error Alert'), {timeOut: 5000});

                    }
                    $('#loadMe').modal('hide')
                    hideLoading()

                })           
          }else{
            toastr.error(lang('Akaunti yako haina kiasi cha kutosha kwa sasa tafadhari ongeza salio kuwezesha akaunti.','No enough balance by now please recharge to activate'), lang('Haikufanikiwa','Error Alert'), {timeOut: 5000});

          }

})
</script>

{% endblock %}