<div  class=" Analytical tab_div" id="general-panel">
    
    <div class="contained table-responsive p-2 d-flex ">
        <div class="show-detail pb-2 pt-3">
            <div class="round-border pb-4 classic_div">
                 <div class="classic_div icon_div">
                <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-card-checklist" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                  </svg>
               </div>
                    <span class="item-detail-holder">
                                <span for="currencii" id="registered-stock-items" class=" show-item-detail font-weight-bold">0</span>
                    </span> 
               <span class="item-title">Bidhaa zilizosajiriwa</span>
            </div>
              


        </div>
        <div class="show-detail py-2">
            <div class="round-border pb-4 classic_div">

               <div class="classic_div icon_div">
                <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-shop" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                  </svg>
               </div>
               <span class="item-detail-holder" >
                <span for="currencii" class="font-weight-bold show-item-detail " id="jumla-ya-bidhaa">0</span>
            </span> 
               <span class="item-title">Idadi ya Bidhaa</span>
            </div>

        </div>
        <div class="show-detail py-3">
            <div class="round-border pb-4 classic_div">

               <div class="classic_div icon_div">
                <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-gem" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785l-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004l.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495l5.062-.005L8 13.366 5.47 5.495zm-1.371-.999l-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l2.92-.003 2.193 6.82L1.5 5.5zm7.889 6.817l2.194-6.828 2.929-.003-5.123 6.831z"/>
                  </svg>
               </div>
               <span class="item-detail-holder">
                <span class="currencii smallerFont">Tzs</span>
                <span for="currencii" class="show-item-detail font-weight-bold" id="thamani-ya-zote">0</span>
            </span> 
               <span class="item-title">Thamani ya bidhaa</span>

            </div>
        </div>
        <div class="show-detail py-3">
            <div class="round-border pb-4 classic_div">

               <div class="classic_div icon_div">
                <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-cash-stack" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z"/>
                    <path fill-rule="evenodd" d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z"/>
                    <path d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                  </svg>
               </div>
               <span class="item-detail-holder" >
                    <span class="currencii smallerFont">Tzs</span>
                    <span for="currencii" id="tegemeo-la-mauzo" class="show-item-detail font-weight-bold">0</span>
                </span>  
               <span class="item-title">Tegemeo la mauzo</span>

            </div>
        </div>
        <div class="show-detail py-3">
            <div class="round-border pb-4 classic_div">

               <div class="classic_div icon_div">
                <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-cash-stack" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z"/>
                    <path fill-rule="evenodd" d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z"/>
                    <path d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                  </svg>
               </div>
               <span class="item-detail-holder" >
                    <span class="currencii smallerFont">Tzs</span>
                    <span for="currencii" id="tegemeo-la-faida" class="show-item-detail font-weight-bold">0</span>
                </span>  
               <span class="item-title">Tegemeo la Faida</span>

            </div>
        </div>
        
    </div>


    <div class="mt-2 whiteBg p-3">
        <div class="table-responsive">
          <table id="table-bidhaa" class="table table-bordered smallFont" style="width:100%">
            <thead>
                <tr class="smallFont">
                    <th>Picha</th>
                    <th>Jina la bidhaa</th>
                    <th>Aina</th>
                    <th>Kampuni</th>
                    <th>Thamani</th>
                    <th>Bei ya kuuza</th>
                    <th>Vipimo</th>
                    <th>Zilizopo</th>
                    <th>Msambazaji</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="products_list">
                
            </tbody>
        </table>     
        </div>
             
    </div>

<!-- <script>
    $(document).ready(function(){
           $('#dataLoader').show()
 
    })

</script> -->
   
</div>