{% extends 'businessProfileHome.html' %}
{% load humanize %}
{% load static %}

{% block bidhaa_aina %}
{% endblock %}

{% block biznessI %}


<div class=" classic_div whiteBg p-md-2 py-3">
    <h6 class="py-2  px-3 latoFont" >
        {% if ain %}
           {{by | title }}
        {% else %}
          {% if useri.langSet == 0 %}Bidhaa za <i class="text-primary" >{{by}}</i>{% else %}<i class="text-primary" >{{by}}</i> Brand Items{% endif %} 
        {% endif %}

        <a class="float-right smallFont" href="{% url 'buzinessProfile' %}?value={{shop.id}}">{% if useri.langSet == 0 %}Onesha Zote{% else %}Show all{% endif %}</a>
    </h6>

    {% if duka == shop  %}

    {% if byi.audio %} 

    <div class="d-flex">
        <audio controls  >
        <source src="{{byi.audio.url}}" >
        Your browser does not support the audio element.
    </audio>

    <button class="btn btn-default btn-sm text-danger " onclick="
    if(confirm('{% if useri.langSet == 0 %}Ondoa sauti{% else %}Remove voice {% endif %} ?')){
              let data={data:{'{% if aina %}aina{% endif %}{% if brand %}brand{% endif %}{% if kundi %}kundi{% endif %}':Number('{{byi.id}}'),csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()},url:'stoku/RemoveItemAudio'}
                 
             
              $.ajax({
                  type:'POST',
                  url:data.url,
                  data:data.data,
                  success:function(dt){
                  if(dt.success){
                    toastr.success(`{% if useri.langSet == 0 %}${dt.msg_swa}{%else%} ${dt.msg_eng} {% endif %}`, '{% if useri.langSet == 0 %} Imefanikiwa {% else %} Success {% endif %}', {timeOut: 2000});

                      location.reload()
                  }else{
                    toastr.error(`{% if useri.langSet == 0 %}${dt.msg_swa}{%else%} ${dt.msg_eng} {% endif %}`, '{% if useri.langSet == 0 %} Haikufanikiwa {% else %} Error {% endif %}', {timeOut: 2000});

                  }
              }
          })
    }
   


    ">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" title="{% if useri.langSet == 0 %}Ondoa{% else %}Remove{% endif %}"  fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
    </button>        
    </div>

  
    {% else %}

    {% if cheo.product_edit or cheo.user == duka.owner %}
    <p class="text-right" >
      <button class="btn btn-outline-secondary btn-sm latoFont" data-toggle="modal" data-target="#poster_sound" >
          <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor" class="bi bi-megaphone-fill" viewBox="0 0 16 16">
              <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-11zm-1 .724c-2.067.95-4.539 1.481-7 1.656v6.237a25.222 25.222 0 0 1 1.088.085c2.053.204 4.038.668 5.912 1.56V3.224zm-8 7.841V4.934c-.68.027-1.399.043-2.008.053A2.02 2.02 0 0 0 0 7v2c0 1.106.896 1.996 1.994 2.009a68.14 68.14 0 0 1 .496.008 64 64 0 0 1 1.51.048zm1.39 1.081c.285.021.569.047.85.078l.253 1.69a1 1 0 0 1-.983 1.187h-.548a1 1 0 0 1-.916-.599l-1.314-2.48a65.81 65.81 0 0 1 1.692.064c.327.017.65.037.966.06z"/>
            </svg>
        {% if useri.langSet == 0 %}Weka Sauti  {% else %} Add Voice{% endif %}
    </button> 
   </p>

        <!-- Modal -->
  <div class="modal fade" id="poster_sound" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% if useri.langSet == 0 %}Maelezo ya Sauti{% else %}Audio Desc{% endif %} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body pb-4">
                <form action="stoku/ItemVoice" id="poster_form" method="post">
                  {% csrf_token %}

                  <h6>{% if useri.langSet == 0 %} Mafaili yaliyowekwa: {{AudioUpload}} kati ya 15 {% else %} Uploaded Audio Files: {{AudioUpload}} of 15 {% endif %}</h6>

                  <hr>

                    <div class="form-group my-2 ">
                      <label for="poster_word">
                          {% if useri.langSet == 0 %}weka sauti isizidi <strong class="text-danger" > 2Mb .</strong>  {% else %}Add Audio size not exceed <strong class="text-danger" > 2Mb .</strong> {% endif %} (.mp3, .wav, .ogg )</label> 
                      <br>
                        <input type="file" id="audioFile" name="audioFile" >   
                        <input type="hidden" name="{% if aina %}aina{% endif %}{% if brand %}brand{% endif %}{% if kundi %}kundi{% endif %}" value="{{byi.id}}" >                       
                      </div>
                      
                      <div class="text-center mb-2">
                          <button type="submit" class="btn btn-primary latoFont">
                              {% if useri.langSet == 0 %}Ongeza{% else %}Add{% endif %}
                          </button>
                      </div>

                      <div class="text-center">
                          <button type="button" class="btn btn-light  latoFont btn-sm smallFont" data-dismiss="modal">Close</button>
                      </div>

                </form>
            </div>
            
        </div>
    </div>
  </div>

  {% endif %}

  {% endif %}

{% endif %}



    <div class="container">
          <div class=" row mb-5">
        {% for b in bidhaa %}
        
                   
        <a href="{% url 'displaySelItem' %}?value={{shop.id}}&i={{b.id}}" class="item_show col-md-4 col-lg-3  mt-4">
           <!-- ADDED TO CART OR ORDERED INDICATOR -->
           <div class="text-center mb-2" style="height: 20px;" >
            <!-- SHOW IF TE ITEM HAS ORDERED TO CART .................................. ... -->
            {% if b.agizwa.last.mauzo.order and not b.agizwa.last.mauzo.cart %}
                <span class="bg-primary latoFont smallerFont " 
                    style="-webkit-box-shadow: 1px 1px 16px -1px rgba(0,0,0,0.7);
                    -moz-box-shadow: 1px 1px 16px -1px rgba(0,0,0,0.7);
                    box-shadow: 1px 1px 16px -1px rgba(0,0,0,0.7);color:#fff;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                <path d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z"/>
                <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z"/>
                </svg>  {% if b.agizwa.last.mauzo.user_customer.by  == useri %}
                        <span class="p-1" > {% if useri.langSet == 0 %}Umeagiza{% else %}You have ordered{% endif %}</span>
                    {% else %}
                        <span class="p-1" title="{% if useri.langSet == 0 %}Na {% else %}By {% endif %}  {{b.agizwa.last.mauzo.user_customer.by.user.first_name |title }}  {{b.agizwa.last.mauzo.user_customer.by.user.last_name |title }}" > {% if useri.langSet == 0 %}Imeagizwa{% else %}ordered{% endif %}</span>
                    {% endif %}
                </span>

            {% endif %}    


        <!-- SHOW IF TE ITEM HAS ADDED TO CART .................................. ... -->
            {% if b.agizwa.last.mauzo.order and  b.agizwa.last.mauzo.cart %}
            <span class="bg-primary latoFont smallerFont p-2" 
            style="-webkit-box-shadow: 1px 1px 16px -1px rgba(0,0,0,0.7);
            -moz-box-shadow: 1px 1px 16px -1px rgba(0,0,0,0.7);
                box-shadow: 1px 1px 16px -1px rgba(0,0,0,0.7);color:#fff;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                </svg>
            {% if b.agizwa.last.mauzo.user_customer.by  == useri %}
            <span class="p-1" > {% if useri.langSet == 0 %}Umeshaweka Kapuni{% else %}You have added to Cart{% endif %}</span>
            {% else %}
                <span class="p-1" title="{% if useri.langSet == 0 %}Na {% else %}By {% endif %}  {{b.agizwa.last.mauzo.user_customer.by.user.first_name |title }}  {{b.agizwa.last.mauzo.user_customer.by.user.last_name |title }}" > {% if useri.langSet == 0 %}Imewekwa kapuni{% else %}Added to Cart{% endif %}</span>
            {% endif %}   
        </span>
            {% endif %}
        </div>


            <div class=" d-flex  justify-content-center " style="align-items:center;width: 280px;height:38vh">
                {% if b.img %}
                    <img src="{{b.img.url}}" style="max-width: 100%;max-height:100%" alt="">
                {% else %}
                <span style="color:rgb(163, 163, 163)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                    </svg>
                </span>
                {% endif %}

                
            </div>
                <div class="mt-2 text-center  noprimary" style="width:280px" >
                    {% if b.name|length > 40 %}
                    {{b.name|slice:40 | title}} ...
                    {% else %}
                    {{b.name | title}}
                    {% endif %}
                </div>   

                <h6 class="pt-1 text-center mb-3 brown" style="width:280px">
                   <small class="text-primary" > {{shop.currencii}}</small>.<strong>  {{b.bei | floatformat:'-2' | intcomma }}</strong>
                </h6>
            



        </a>
            
            

        
        {% endfor %}
    </div>
    
    </div>
  
    


</div>

{% block audio %}
{% endblock %}

{% if duka != shop %}

{% if byi.audio %}
<p  >

  <button class="audio_end" id="audio_end" onclick="$(this).hide();$(this).siblings('.audio_end').fadeIn(500);let p=document.getElementById('the_audio') ;p.pause()"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-volume-up" viewBox="0 0 16 16">
    <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
    <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
    <path d="M10.025 8a4.486 4.486 0 0 1-1.318 3.182L8 10.475A3.489 3.489 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.486 4.486 0 0 1 10.025 8zM7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12V4zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11z"/>
</svg> 
</button>

<button class="audio_end" style="display: none;"  id="audio_start"
   onclick="$(this).hide();$(this).siblings('.audio_end').fadeIn(500);let pl=document.getElementById('the_audio') ;pl.play()"
> 
<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
</svg>
</button>
  
    <audio controls autoplay loop hidden id="the_audio" >
        <source src="{{byi.audio.url}}" >
        Your browser does not support the audio element.
    </audio>

  
  </p>

  {% endif %}

  <input id="vistors" type="hidden" data-shop="{{shop.id}}" data-brand={{kampuni}} data-categ="{{aina}}" data-group="{{mahitaji}}" >
  <script src="{% static 'js/countVistors.js' %}">  </script>
{% else %} 



<script src="{% static 'js/addAudio.js' %}">  </script> 
{% endif %}

{% endblock %}


{% block where %}
    <span class="text-muted">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </span> 
    <a href="#" class="tab_show" data-show="#general-panel">
       {{by}}
    </a>
{% endblock %} 

{% block active-home %}

{% endblock %}



