{% extends 'userdash.html' %}

{% block billcss %}
<link rel="stylesheet" href="/static/css/newbill.css">
{% endblock %}

{% load humanize %}


{% block all-bills %}
<div class="whiteBg py-2" style="margin-top: -15px;">
    <div class="row classic_div py-2 mx-2 border-bottom ">
        
            <h6 class=" col-6">

                <a type="button" href="/purchase/AllBills" class="border0 btn btn-light smallFont latoFont">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                      </svg>
                    {% if useri.langSet == 0 %}Rudi  {% else %}Back{% endif %}
                    </a>
            </h6>
            
            <h4 class="col-6 text-right">

            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
        
                {% if useri.langSet == 0 %} Mabadiliko ya Bili  {% else %} Edit Bill {% endif %}
            
            
            </h4>
    </div> 
    
 
 <div class="row classic_div px-3 py-2">
 <div class="col-md-6">
     <div class="row mb-3">
         <div class="col-4">
             <strong>
                <label class="text-danger " for="vendor_nami"> {% if useri.langSet == 0 %} Msambazaji  {% else %} Supplier {% endif %} <sup>*</sup> </label> 
             </strong>
         </div>
         <div class="col-8">
            <select id="produ_sambazaji-kununua" onchange=" if($(this).find('option:selected').data('value')!='0'){ $(this).selectpicker('setStyle', 'restore-border');$(this).selectpicker('setStyle', 'btn-light');}"  data-width="100%" class="selectpicker btn-sm muhimu-b-kununua rega form-control  robotoFont" data-live-search="true">
                <option value=0 > {% if useri.langSet == 0 %}  Chagua Wasambazaji {% else %} Select supplier {% endif %}</option>
                
              </select>   
              
              <p class=" text-right">
                  <button data-toggle="modal" data-target="#wasambazaji-modal" class="btn latoFont btn-default btn-sm smallFont text-primary">
                      +  {% if useri.langSet == 0 %} Mpya  {% else %} New {% endif %}
                  </button>
                </p>
            
            </div>
     </div>
 
     <div class="row mb-2">
         <div class="col-4">
             <label class="text-danger " for="vendor_nami"> {% if useri.langSet == 0 %}  Namba ya Bili {% else %} Bill no {% endif %} <sup>*</sup> </label> 
         </div>
         <div class="col-8">
             <input type="text" id="bill_no" placeholder="BI-{{the_bill.code}}" class="form-control smallerFont">
         </div>
     </div>
 
     <div class="row mb-2">
         <div class="col-4">
             <label class="text-danger " for="vendor_nami"> {% if useri.langSet == 0 %} Tarehe  {% else %} Date {% endif %} <sup>*</sup> </label> 
         </div>
         <div class="col-8">
             <input type="date" id="manunuzi-date" name="manunuzi-date" class="form-control smallerFont">
             <script>
               let date = new Date('{{ the_bill.date|date:"Y-m-d" }}') ,
                   day = date.getDate(),
                    month = date.getMonth() + 1,
                    year = date.getFullYear();
            
                if (month < 10) month = "0" + month;
                if (day < 10) day = "0" + day;
            
                var today = year + "-" + month + "-" + day;   
               document.getElementById("manunuzi-date").value = today;
           
               var today = new Date().toISOString().split('T')[0];
               document.getElementsByName("manunuzi-date")[0].setAttribute('max', today);
              </script>
         </div>
     </div>


    
  
    

 </div>
 </div>
<div class="row classic_div border-bottom" >
    <div class="col-md-12"  >
        <div class="mx-md-2  bgWhite px-1 py-3 table-responsive" style="padding-bottom:220px;margin-top:-10px;">
     <table id="prod_table" class=" table-bordered table table-sm" style="min-width: 1000px;" data-row=1>
         <tr class="thead-dark smallFont">
           <th colspan="2" > {% if useri.langSet == 0 %} Jina la Bidhaa  {% else %} Item Name {% endif %}</th>
           <th > {% if useri.langSet == 0 %} Idadi  {% else %} Quantity {% endif %}</th>
           <th >{% if useri.langSet == 0 %} Bei ya kununua   {% else %} Purchase Price {% endif %}</th>
           <th >{% if useri.langSet == 0 %}  Jumla kwa Bei {% else %}  Actual Total {% endif %}</th>
           <th data-vat={{duka.vatper}} id="vat_percent"> VAT({{duka.vatper | floatformat:'-2' }}%)
           <th > {% if useri.langSet == 0 %} Bei ya kuuza  {% else %} Sales Price {% endif %}</th>
           <th> {% if useri.langSet == 0 %} Jumla na VAT  {% else %} Total & VAT {% endif %}</th>
         </tr>

         <tbody id="new-bill_tbody">

            {% for itm in list %}
             <tr id="bill_item{{itm.id}}" class="bill_data" {% if itm.manunuzi.jum %} data-jum=true {% else %} data-jum=false {% endif %} data-jumin="#jum_item_qty{{itm.id}}" data-rejin="#rej_item_qty{{itm.id}}" data-pos={{itm.id}}>
            <!-- IMAGE COL -->

             <td class="pt-2 pb-2" id="imgplace{{itm.id}}">
                
              </td>


             <script>
                 $(document).ready(function(){
                     let val = '{{itm.bidhaa.id}}',
                     f=`<svg xmlns="http://www.w3.org/2000/svg" width="2.6em" height="2.6em" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                        </svg>`

                for(var i=0;i<1;i++){
                    '{% for img in pic %}'
                        pic_val  = "{{img.bidhaa.id}}";
                        if(val == pic_val){
                            let  photo =  "{{img.picha.picha}}"
                            f=`<img src="/media/${photo}" style="width:3.4625em;height:3.4em;cursor:pointer">`;
                        }             
                   ' {% endfor %}'

                 } 


                   $('#imgplace{{itm.id}}').html(f)
                 })
                
             </script>

             <!-- ITEM NAME -->
             <td class="py-2">
                 <!-- <div class="suggest-holder item-attr{{itm.id}} " id="suggest-holder{{itm.id}}"  style="display:none;margin-top: -18px;min-width:310px">
                    <div class="input-group container  p-1 bg-primary">
                  <input
                  placeholder=" {% if useri.langSet == 0 %} Andika Jina la Bidhaa {% else %} Write Item name {% endif %}"
                  style="min-width: 230px;"
                  type="text" 
                  data-pos=1
                  id = "search1"
                  class="form-control smallFont muhimu-b-kununua-zilizopo suggest-prompt1 suggest-prompt input-data latoFont" />
                 
                  <div class="input-group-append">
                    <span class="btn btn-primary btn-sm smallFont" data-toggle="modal" data-target="#add-products">
                        + {% if useri.langSet == 0 %}  Mpya {% else %} New {% endif %}
                    </span>
                  </div>
                </div>
                  <ul class="masaki masaki1" data-hiarch=1 style="min-width: 350px;z-index:999999;max-height:250px;overflow-y:scroll"></ul>
                </div> -->

                <h6 id="place_searched{{itm.id}}" style="min-width: 240px" class="item-attr1 py-2  border-bottom">
                    <label class="latoFont" style="color:rgb(108, 39, 236);" for="placeSearch">{{ itm.bidhaa.bidhaa_jina }}</label>
                    <!-- <button class="btn btn-default text-primary btn-sm smallFont item-re-write" data-pos={{itm.id}} data-show="#suggest-holder{{itm.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                          </svg>
                    </button> -->

                    <!-- <span id="manuuzi_namna{{itm.id}}" >
                        <button style="font-size: 10px;" data-jum=true data-units='' data-pos={{itm.id}} data-show=".jum-panel1" data-hide=.rej-panel1 class="btn-primary btn btn-sm setPu setPufirst1"> </button>
                        <button style="font-size: 10px;" data-jum=false data-units='' data-pos={{itm.id}} data-show=".rej-panel1" data-hide=.jum-panel1   class="btn-light btn btn-sm setPu setPusecond1"  > </button>              
                    </span> -->

                    <span id="item-desc{{itm.id}}" class="d-block text-muted smallerFont Assistant">
                            {{itm.bidhaa.maelezo}}
                    </span>
                </h6>

                <div class="bill-mauzo-namna item-attr1 " >
                    <div class="px-1 pt-1 classic_div row">
                        <label for="date" class="col-5" style="font-size: 11px;font-weight:bold;color:rgb(138, 26, 26)">
                            Expire Date:
                        </label>

                        <span class="col-7">
                       <input type="date" class="expdate" id="expire{{itm.id}}" name="expire{{itm.id}}" style="font-size: 11px;border:0">  



                       <script>
                           $(document).ready(function(){

                         if ('{{ itm.expire_date|date:"Y-m-d" }}'!=''){
                                let dt = new Date('{{ itm.expire_date|date:"Y-m-d" }}') 
                                    dy = dt.getDate(),
                                    m = dt.getMonth() + 1,
                                    y = dt.getFullYear();
                                
                                    if (m < 10) m = "0" + m;
                                    if (dy < 10) dy = "0" + dy;
                                
                                    let tdy = y + "-" + m + "-" + dy;   
                        document.getElementById("expire{{itm.id}}").value = tdy;
                    
                             tdy = new Date().toISOString().split('T')[0];
                        document.getElementsByName("expire{{itm.id}}")[0].setAttribute('max', tdy);

                         }

                           })
                        
                       </script>
                       
                    </span>
                    </div>
                </div>
                </td>


                <!-- QUANTITY-->
             <td class="pb-3 pt-3 qty">
               
                {% if itm.manunuzi.jum %}
                <div>
                    <span class="text-primary float-left d-block  idadi-units_disp{{itm.id}}" style="font-size: 11px;">{{itm.bidhaa.vipimo_jum}} </span>
                </div>    
                <div class="input-group" style="width: 128px;">

                  <div class=" jum-panel{{itm.id}} pt-2  idadi-jum-panel{{itm.id}}" style="padding-left: 0;" >
                    
                   <input type="number" data-sale="#bill_kuuza_jum{{itm.id}}"  data-itm={{itm.id}} data-expire="#expire{{itm.id}}" class=" form-control item-bill-jum_idadi smallFont" id="jum_item_qty{{itm.id}}" placeholder=1 data-pos={{itm.id}} data-tot_wth_vat='#jum-total{{itm.id}}' data-vat_allow="#vatallow-jum{{itm.id}}" data-bei='#bill_bei_jum{{itm.id}}' data-vat='#vat-disp-jum{{itm.id}}' data-jum='#jum-actual-total{{itm.id}}' style="width: 89px;">  
                     
                   <script>
                       $(document).ready(function(){
                        let idadi = Number('{{itm.manunuzi.idadi}}'),
                           jum = Number('{{itm.bidhaa.idadi_jum}}'),
                           val = idadi/jum

                           $('#jum_item_qty{{itm.id}}').val(val)
                       })
       





                   </script>
              
                </div>
                    <!-- Button trigger color modal -->
                    <div class="text-center py-2 input-group-append" id="is_colored_item{{itm.id}}">
                    <button  id="colored_items{{itm.id}}" title="{% if useri.langSet == 0 %}  Rangi  {% else %} Color {% endif %}" class="btn btn-default colored_items btn-sm" data-toggle="modal" data-pos={{itm.id}}  data-target="#modal_color"  data-val={{itm.id}} data-valu={{itm.bidhaa.id}} >
                        <img  width="20" src="{{baseUrl}}/{{'colors.svg'}}" />
                        
                    </button>
                    </div>
                </div>
                </div>
               {% else %}
               <div>
                <span class="text-primary float-left d-block  idadi-units_disp{{itm.id}}" style="font-size: 11px;">{{itm.bidhaa.vipimo}} </span>
              </div>  
              <div class="input-group" style="width: 128px;">

                 <div class="pt-2  rej-panel1 idadi-rej-panel1"  style="padding-left:0">
                   <input type="number" value="{{itm.manunuzi.idadi}}" placeholder=1 data-sale="#bill_kuuza_rej{{itm.id}}" data-itm={{itm.id}} data-expire="#expire{{itm.id}}" id="rej_item_qty{{itm.id}}" class=" form-control item-bill-rej_idadi smallFont" data-pos={{itm.id}} data-tot_wth_vat='#rej-total{{itm.id}}' data-vat_allow="#vatallow-rej{{itm.id}}" data-bei='#bill_bei_rej{{itm.id}}' data-vat='#vat-disp-rej{{itm.id}}' data-jum='#rej-actual-total{{itm.id}}' style=" width: 89px;">  
                 </div>
                 <div class="text-center py-2 input-group-append" id="is_colored_item{{itm.id}}" >
                 <button  id="colored_items{{itm.id}}" title="{% if useri.langSet == 0 %}  Rangi  {% else %} Color {% endif %}" class="btn btn-default colored_items btn-sm" data-toggle="modal" data-pos={{itm.id}}  data-target="#modal_color"  data-val={{itm.id}} data-valu={{itm.bidhaa.id}} >
                     <img  width="20" src="{{baseUrl}}/{{'colors.svg'}}" />
                     
                 </button>
                 </div>
              </div>

                 {% endif %}

                 <div class="color-wrapper" style="height: 35px;">
                    <div  id="popColored{{itm.id}}" class="py-2 whiteBg p-1 shrink-palet popColored  rounded  "
                   
                 style="-webkit-box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.37); 
                        box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.37);
                        cursor:pointer;display: none;
                        ">
 
                  <div class="row classic_div">
                     <label for="" style="cursor: pointer;"  class="smallerFont col-8 latoFont px-2">
                         {% if useri.langSet == 0 %}Rangi{% else %}Color{% endif %}(<span id="color_qt{{itm.id}}" class="text-danger" >0</span>)
                     </label>
 
                       <p class="text-right col-4">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                             <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                           </svg>
                       </p>
                  </div>
                  
                    
                  
 
                 <div id="color_obj{{itm.id}}" >
 
                 </div>
 
                 
                 </div>
                </div>
             
                 
             </td>


             <!-- PURCHASE PRICE -->

             <td class="pb-3 pt-3">

              
              {% if itm.manunuzi.jum %}
                <div>
                   <span class="text-primary float-left units_disp{{itm.id}}" style="font-size: 11px;">@{{itm.bidhaa.vipimo_jum}}</span>
              </div> 


                 <div class="jum-panel{{itm.id}} pt-2 kununua-jum-panel{{itm.id}}"  >
                    
                <div class="show_curency_blockt show_curency position-absolute text-danger   px-3" style="display: none ;">
                    <label class="mt-1" for=""></label> 
                   <div class="box-pointert d-inline "></div>
                </div>
                   <input type="number" placeholder="{{itm.Bei_kununua | floatformat:'-2' | intcomma}}" data-val={{itm.Bei_kununua}} data-qty='#jum_item_qty{{itm.id}}' data-tot_wth_vat='#jum-total{{itm.id}}' data-vat_allow="#vatallow-jum{{itm.id}}"  data-vat='#vat-disp-jum{{itm.id}}' data-jum='#jum-actual-total{{itm.id}}' class=" form-control money-fomat bill_bei_jum" id="bill_bei_jum{{itm.id}}" data-pos={{itm.id}} style="font-size:12px;width: 110px;">  
                 </div>

                 {% else %}
                <div>
                   <span class="text-primary float-left units_disp{{itm.id}}" style="font-size: 11px;">@{{itm.bidhaa.vipimo}}</span>
              </div>
                 <div class="pt-2  rej-panel1 kununua-rej-panel1"  >
               <div class="show_curency_blockt show_curency position-absolute text-danger   px-3" style="display: none ;">
                    <label class="mt-1" for=""></label> 
                   <div class="box-pointert d-inline "></div>
                </div>
                   <input type="number" placeholder="0"  data-val=0 data-qty='#rej_item_qty{{itm.id}}' data-tot_wth_vat='#rej-total{{itm.id}}' data-vat_allow="#vatallow-rej{{itm.id}}"  data-vat='#vat-disp-rej{{itm.id}}' data-jum='#rej-actual-total{{itm.id}}'  class="form-control money-fomat bill_bei_rej" id="bill_bei_rej{{itm.id}}" data-pos={{itm.id}} style="font-size:12px;width: 110px;">  
                 </div>

                 <script>
                    $(document).ready(function(){
                        let bei = Number('{{itm.Bei_kununua}}'),
                        i_jum = Number('{{itm.bidhaa.idadi_jum}}'),
                        pr = bei/i_jum

                    $('#bill_bei_rej{{itm.id}}').attr('placeholder',pr.toLocaleString())
                    $('#bill_bei_rej{{itm.id}}').data('val',pr)
                    })
                    

                </script>
                
                 {% endif %}

                    <div class="custom-control  custom-checkbox" id="na_vat_panel{{itm.id}}" >
                            <input type="checkbox" data-pos={{itm.id}} {% if itm.manunuzi.vat_included %} checked {% endif %} class="custom-control-input vat-include" id="na_vat{{itm.id}}">
                            <label class="custom-control-label latoFont smallerFont" for="na_vat{{itm.id}}"> 
                                {% if useri.langSet == 0 %} pamoja na VAT   {% else %} VAT included {% endif %}
                            </label>
                    </div> 

                   
                 
             </td>


             <!--ACTUAL TOTAL .................. . -->
             <td class="pb-3 pt-3 ">
                <div class="row">
                    <span class=" float-left d-block  idadi-units_disp{{itm.id}}" style="font-size: 11px;color:rgba(240, 248, 255, 0)">{{itm.bidhaa.vipimo_jum}} </span>
                </div>
                {% if itm.manunuzi.jum %}

                <div class=" jum-panel{{itm.id}} ">
                    <input type="text" id="jum-actual-total{{itm.id}}" readonly class="smallerFont beiJum{{itm.id}}  made-input" style="width:100px">
                </div>

                {% else %}
                
                <div class=" rej-panel{{itm.id}}" >
                   <input type="text" id="rej-actual-total{{itm.id}}" readonly class="smallerFont beiJum{{itm.id}} made-input" style="width:100px">
                </div>

                {% endif %}


                <script>
                    $(document).ready(function(){
                     const vat = Number("{{itm.Interprise.vatper}}")/100
                        let am =  Number("{{itm.Bei_kununua}}"),
                            idadii =   Number("{{ itm.manunuzi.idadi }}"),
                            jum = false,
                            id_jum = Number('{{itm.bidhaa.idadi_jum}}'),
                            vat_set = false
                         
                        if( '{{itm.manunuzi.jum}}' =="True" ){
                            jum = true
                        }

                        if( '{{itm.manunuzi.vat_set}}' =="True" ){
                            vat_set = true
                        }
                      

                        if(jum){
                            idadii = idadii/id_jum
                        }else{
                            am =am/id_jum
                        }

                        let    tot = am*idadii


                        if(vat_set){
                             tot = tot/(1+vat)


                        }             


                        $('.beiJum{{itm.id}}').val(tot.toLocaleString())


                        


                    })
                   

                </script>



            </td>

             <!-- VAT .................. . -->
             <td class="pb-3 pt-3">
                <div class="row">
                    <span class=" float-left d-block  idadi-units_disp{{itm.id}}" style="font-size: 11px;color:rgba(240, 248, 255, 0)">{{itm.bidhaa.vipimo_jum}} </span>
                </div>
                
                {% if itm.manunuzi.jum %}
        
                <div class="custom-control jum-panel{{itm.id}} custom-checkbox">
                    <input type="checkbox" {% if itm.manunuzi.vat_set %} checked data-include=true {% else %}data-include=false {% endif %} data-pos={{itm.id}} data-vat_val=0   data-actual="#jum-actual-total{{itm.id}}" data-qty='#jum_item_qty{{itm.id}}' data-total_with_vat="#jum-total{{itm.id}}" data-bei='#bill_bei_jum{{itm.id}}' class="custom-control-input vat-fill" id="vatallow-jum{{itm.id}}">
                    <label class="custom-control-label" for="vatallow-jum{{itm.id}}"> 
                        <input type="text" data-vat_val=0  readonly class="smallerFont vat_cal{{itm.id}} made-input" id="vat-disp-jum{{itm.id}}" style="width:100px">
                    </label>
                </div>
                {% else %}
                <div class="custom-control rej-panel{{itm.id}}  custom-checkbox" >
                    <input type="checkbox" {% if itm.manunuzi.vat_set %} checked data-include=true {% else %}data-include=false {% endif %} data-pos={{itm.id}} data-qty='#rej_item_qty{{itm.id}}'data-actual="#rej-actual-total{{itm.id}}" data-total_with_vat="#rej-total{{itm.id}}" data-vat_val=0 data-bei='#bill_bei_rej{{itm.id}}' class="custom-control-input vat-fill" id="vatallow-rej{{itm.id}}" />
                    <label class="custom-control-label" for="vatallow-rej{{itm.id}}"> 
                        <input type="text"  data-vat_val=0  readonly class="smallerFont vat_cal{{itm.id}} made-input" id="vat-disp-rej{{itm.id}}" style="width:100px" />
                    </label>
                </div> 

                {% endif %}

                <script>
                    $(document).ready(function(){
                        const vat = Number("{{itm.Interprise.vatper}}")/100
                        let am =  Number("{{itm.Bei_kununua}}"),
                            idadii =   Number("{{ itm.manunuzi.idadi }}"),
                            jum = false,
                            id_jum = Number('{{itm.bidhaa.idadi_jum}}'),
                            vat_set = false
                         
                        if( '{{itm.manunuzi.jum}}' =="True" ){
                            jum = true
                        }

                        if( '{{itm.manunuzi.vat_set}}' =="True" ){
                            vat_set = true
                        }
                      

                        if(jum){
                            idadii = idadii/id_jum
                        }else{
                            am =am/id_jum
                        }

                        let    tot = am*idadii


                        if(vat_set){
                             tot =tot - tot/(1+vat) 

                        $('.vat_cal{{itm.id}}').val(tot.toLocaleString())                        

                        }             


                              
                    })
                </script>

               
            </td>


            <!-- SALES PRICE -->
             <td class="pb-3 pt-3">
                
                
               {% if itm.manunuzi.jum %}
                <div>
                    <span class="text-primary float-left units_disp{{itm.id}}" style="font-size: 11px;">@{{itm.bidhaa.vipimo_jum}}</span>
                </div> 

                 <div class="  jum-panel1 pt-2 kununua-jum-panel{{itm.id}}" style="padding-left:0">
                    

                    <div class="show_curency_blockt show_curency position-absolute text-danger   px-3" style="display: none ;">
                        <label class="mt-1" for=""></label> 
                    <div class="box-pointert d-inline "></div>
                    </div>


                   <input type="number" placeholder="{{itm.Bei_kuuza_jum | floatformat:'-2' | intcomma }}" class=" form-control money-fomat bill_kuuza_jum" id="bill_kuuza_jum{{itm.id}}" style="font-size:12px;width: 110px;">  
                 </div>

                 {% else %}
                 <div>
                    <span class="text-primary float-left units_disp{{itm.id}}" style="font-size: 11px;">@{{itm.bidhaa.vipimo}}</span>
                </div> 
                 <div class=" pt-2  rej-panel{{itm.id}} kununua-rej-panel{{itm.id}}"  >
                    <div class="show_curency_blockt show_curency position-absolute text-danger   px-3" style="display: none ;">
                            <label class="mt-1" for=""></label> 
                        <div class="box-pointert d-inline "></div>
                    </div>
                   <input placeholder="{{itm.Bei_kuuza_jum}}" type="number" class=" form-control money-fomat bill_kuuza_rej" id="bill_kuuza_rej{{itm.id}}" style="font-size:12px ;width: 110px;">  
                 </div>

                 {% endif %}
                 
             </td>

             
            
             
             
            
  <!-- TOTAL -->
             <td class="pb-3 pt-3 remove-rw">
                <div class="row">
                    <span class=" float-left d-block  idadi-units_disp{{itm.id}}" style="font-size: 11px;color:rgba(240, 248, 255, 0)">{{itm.bidhaa.vipimo_jum}} </span>
                </div>


                {% if itm.manunuzi.jum %}
                 <input type="text" readonly id="jum-total{{itm.id}}" class="smallerFont bil_tot{{itm.id}} form-control jum-panel{{itm.id}}" style="width: 105px;">
              {% else %}
                 <input type="text" readonly id="rej-total{{itm.id}}" class="smallerFont bil_tot{{itm.id}} form-control rej-panel{{itm.id}}" style="width: 105px">
              {% endif %}
                 <div class="text-right remove_bill_item " style="margin-bottom: 2px;margin-right:0">
                     <button type="button" data-remove='#bill_item{{itm.id}}' class="btn btn-default btn-sm text-danger remove_bill_item_tr"  style="padding: 0 !important;">
                         <span style="font-size:x-large;padding: 3px 4px !important;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"  class="bi bi-dash-circle  " viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                              </svg>
                        </span>
                        </button>
                 </div>


                 <script>
                    $(document).ready(function(){
                        const vat = Number("{{itm.Interprise.vatper}}")/100
                        let am =  Number("{{itm.Bei_kununua}}"),
                            idadii =   Number("{{ itm.manunuzi.idadi }}"),
                            jum = false,
                            id_jum = Number('{{itm.bidhaa.idadi_jum}}'),
                            vat_set = false
                         
                        if( '{{itm.manunuzi.jum}}' =="True" ){
                            jum = true
                        }

                        if( '{{itm.manunuzi.vat_set}}' =="True" ){
                            vat_set = true
                        }
                      

                        if(jum){
                            idadii = idadii/id_jum
                        }else{
                            am =am/id_jum
                        }

                        let    tot = am*idadii


                                    
                        $('.bil_tot{{itm.id}}').val(tot.toLocaleString())                        


                              
                    })
                </script>
           
                </td>
             
         </tr> 

         {% endfor %}
         </tbody>
        
     </table>
 </div>


 </div>

 <div class="row classic_div col-md-12">
         <p class="text-right  col-6">
         </p>


     <p class="text-right  col-6">
    <button class="btn btn-primary btn-sm latoFont " id="add_bill_item" style="border-radius:0">
       + 
       {% if useri.langSet == 0 %} Ongeza Bidhaa   {% else %}Add item{% endif %}

    </button>
</p>
 </div>

<div class="row classic_div col-md-12">
    <h6 class="text-left   col-12">
        <strong>
            {% if useri.langSet == 0 %} Ghalama Nyingine   {% else %}Other Expenses{% endif %}

        </strong>

    </h6>
    <div class="md-col-6">
        <div class="table-resposive table-sm pb-5">
            <table class="table table-sm ">
                <thead >
                    <tr class="latoFont smallFont">
                        <th>{% if useri.langSet == 0 %} Gharama   {% else %}Expense Name{% endif %}</th>
                        <th>{% if useri.langSet == 0 %}  Mpya   {% else %}New{% endif %}</th>
                        <th>{% if useri.langSet == 0 %} Kiasi    {% else %}Amount{% endif %}({{duka.currencii}})</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="bill_expense_workout">

                        {% for exp in matumizi %}
                        <tr class="matumizi_data text-center  latoFont" data-value={{exp.matumizi.id}} data-amount={{exp.kiasi}} style="padding-bottom:5px;height:9px !important" class="smallerFont border-bottom">
                            <td data-value={{matumizi.matumizi.id}}>{{exp.matumizi.matumizi}}</td>
                            <td>-----</td>
                            <td class="bill_expense_sum" data-amount={{exp.kiasi}}>{{exp.kiasi | floatformat:'-2' | intcomma }}</td>
                            <td>
                            <div class="form-group mt-2">
                            <button class="btn-default remove-expense btn btn-sm text-danger">
                               <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                               <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                               <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                             </svg></button>  </div></td>
                         </tr> 
                        {% endfor %}
                        <tr>
                            <td scope="row">
                                <div class="form-group">
                                  <label for=""></label>
                                  

                                  <select name="" id="chagua-matumizi-manunuzini"   class="form-control selectpicker" data-live-search="true">
                                    <option data-value=0>{% if useri.langSet == 0 %}--Chagua Gharama--   {% else %}--Select Expense--{% endif %}</option>
                                   
                                  </select>   

                                  
                                  
                                </div>
                            </td>
                            <td>
                                <div class="text-right mt-2 form-group" style="margin-top:-7px;padding:0;margin-bottom:0">
                                    <label for=""></label>
                                    <button data-toggle="modal" data-target="#modal-matumizi" 
                                    class="btn-default btn btn-sm  latoFont smallerFont text-primary">+{% if useri.langSet == 0 %}  Ongeza   {% else %}Add{% endif %}
                                </button>
                                  </div>
                            </td>
                            <td> <div class="form-group">
                                    <label for=""></label>

                                <div class="show_curency_blockt show_curency position-absolute text-danger   px-3" style="display: none ;">
                                    <label class="mt-1 text-danger" for=""></label> 
                                <div class="box-pointert d-inline "></div>
                                </div>                     
                                
                                <input type="number"
                                class="form-control smallFont money-fomat" name="" id="bill-exp_amount" aria-describedby="helpIdn" placeholder="0">
                            </div>
                        </td>
                            <td>
                            <div class="form-group mt-2">
                                 <!-- <button class="btn-default add-expense btn btn-sm text-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                  </svg>
                                </button> -->

                                <label for=""></label>
                                
                                <button data-amount="#bill-exp_amount" data-value="#chagua-matumizi-manunuzini" 
                                class="btn-success latoFont border0 expense_bill_record btn btn-sm " >
                                   
                                      {% if useri.langSet == 0 %}  Ongeza   {% else %}Add{% endif %}                                </button>
                            </div>
                               
                                
                            </td>
                        </tr>
                       
                    </tbody>
            </table>
        </div>
    </div>
</div>

</div>

 
<div class="border-bottom mx-3 mt-3">
    <h6 class="text-right py-2 px-3">
        <span class=" latoFont" style="color: rgb(102, 102, 102);">
            {% if useri.langSet == 0 %}  Jumla bila kodi {% else %} Sub total {% endif %}:
            <span class="font-weight-nomal" style="font-size:11px;color:rgb(0, 56, 161)">{{duka.currencii}}.</span>
            <strong id="bill_sub_total">0</strong>
        </span>
    </h6>
</div>
 
<div class="border-bottom mx-3">
    <h6 class="text-right py-2 px-3">
        <span class=" latoFont" style="color: rgb(70, 70, 70);">
           VAT ({{duka.vatper | floatformat }}%) : 
            <span class="font-weight-nomal" style="font-size:11px;color:rgb(0, 56, 161)">{{duka.currencii}}.</span>
            <strong id="total_vat_disp">0</strong>
        </span>
    </h6>
</div>


<div class="border-bottom mx-3">
    <h6 class="text-right py-3 px-3">
        <strong class=" NuniFont" style="color: rgb(88, 88, 88);">
            {% if useri.langSet == 0 %}  Jumla  {% else %} Total {% endif %}:
            <span class="font-weight-nomal" style="font-size:11px;color:rgb(0, 56, 161)">{{duka.currencii}}.</span>
            <strong data-total=0 id="total_bill_cash">0</strong>
        </strong>
    </h6>
</div>

<div class="border-bottom mx-3 with_expenses" style="display: none;">
    <div class="text-right py-3 px-3">
        <span class=" latoFont" style="color: rgb(88, 88, 88);">
            {% if useri.langSet == 0 %}  Ghalama Nyingine  {% else %} Other expenses {% endif %}:
            <span class="font-weight-nomal" style="font-size:11px;color:rgb(0, 56, 161)">{{duka.currencii}}.</span>
            <strong id="total_bill_expenses">0</strong>
        </span>
    </div>
</div>

<div class="border-bottom mx-3 with_expenses" style="display: none;">
    <h5 class="text-right py-3 px-3">
        <strong class=" latoFont" style="color: rgb(88, 88, 88);">
            {% if useri.langSet == 0 %}  Jumla na Ghalama  {% else %} Total & Expenses {% endif %}:
            <span class="font-weight-nomal" style="font-size:11px;color:rgb(0, 56, 161)">{{duka.currencii}}.</span>
            <strong data-total=0 id="total_bill_wth_expenses">0</strong>
        </strong>
    </h5>
</div>






    <div class="classic_div mt-3 " style="width: 220px;">
        <div class="inputGroup">
                <input id="bill_tobe_paid" name="bill_tobe_paid" onchange='if($(this).prop("checked")){$("#chagua_akaunti_ya_kulipa_bill,.chagua_akaunti_ya_kulipa_bill").fadeIn(499);$("#bill_pay_date").hide();$("#save_the_bill").addClass("py-3")}else{$("#chagua_akaunti_ya_kulipa_bill,.chagua_akaunti_ya_kulipa_bill").fadeOut(100);$("#bill_pay_date").show();$("#save_the_bill").removeClass("py-3")}' type="checkbox"/>
                <label for="bill_tobe_paid">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                          <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                          <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    {% if useri.langSet == 0 %}  Bili Inalipwa {% else %} Bill to be paid {% endif %}</label>
            </div>
    </div>
    



 <div class="row mb-2 pt-2 classic_div" style="display: none;max-width:450px" id = "chagua_akaunti_ya_kulipa_bill">
   <div class="col-5 text-right">
      <strong>
          <label class="text-danger " for="vendor_nami"> {% if useri.langSet == 0 %}  Akaunti {% else %}  Account {% endif %} <sup>*</sup>
         </label> 
      </strong> 
    </div>
    <div class="col-7">
                <select name="" id="malipo-akaunti"  class="form-control machaguo-pesa smallFont selectpicker" data-live-search="true">
                <option value="" data-value=0 >{% if useri.langSet == 0 %}--Chagua Akaunti--{% else %}--Select Account--{% endif %}</option>
                </select>

                <small class="latoFont text-danger" id="akaunti_verifier" style="display: none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi mr-1 bi-exclamation-triangle" viewBox="0 0 16 16">
                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                      </svg>
                      {% if useri.langSet == 0 %} Akaunti uliyochagua haina kiasi cha kutosha {% else %} The selected account has insufficient amount for the bill {% endif %}
                </small>
        </div>
    </div>

 <div class="row mb-2 pt-2 classic_div chagua_akaunti_ya_kulipa_bill" style="display: none;max-width:450px" >
   <div class="col-5 text-right">
      <strong>
          <label  for="vendor_nami"> {% if useri.langSet == 0 %} kiasi kilichobaki {% else %} account Balance {% endif %} 
         </label> 
      </strong> 
    </div>
    <div class="col-7">
        <div class="show_curency_blockt show_curency position-absolute text-danger   px-3" style="display: none ;">
            <label class="mt-1" for=""></label> 
        <div class="box-pointert d-inline "></div>
        </div>
                <input type="number" class="form-control money-fomat" id="iliyobaki_bill">
        </div>
    </div>

<p class="text-center  " id="bill_pay_date">
    <strong> {% if useri.langSet == 0 %}   Tarehe ya kulipa{% else %} Bill Due Date  {% endif %}:</strong>
    <input type="date" class="made-input" id="tarehe_kulipa" >
    <script>
        $(document).ready(function(){
           if ('{{ the_bill.kulipa|date:"Y-m-d" }}'!=''){
                let dt = new Date('{{the_bill.kulipa|date:"Y-m-d" }}') 
                    dy = dt.getDate(),
                    m = dt.getMonth() + 1,
                    y = dt.getFullYear();
                
                    if (m < 10) m = "0" + m;
                    if (dy < 10) dy = "0" + dy;
                
                    let tdy = y + "-" + m + "-" + dy;   
        document.getElementById("tarehe_kulipa").value = tdy;
            }
        })

    </script>
</p>

    <form action="/purchase/addBill" method="POST" data-rudi=0 data-rudi_val=0 data-edit=1 data-bill={{the_bill.id}} id="save_bill_data">
        {% csrf_token %}
<p class="text-center pb-5" id="save_the_bill">

    <button type="submit" class="btn btn-success latoFont"   >
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
            <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
          </svg>  Save  Changes
    </button>

</p>

    </form>
  
 <!-- PLACE COLOR And size in appropriate js variables..........................................// -->
 <script>
    let colr=[],size=[],prod=[],itm_colori={},itmSize={},itmprod={}
    '{% for ls in list %}'
        itmprod = {
           id:Number('{{ ls.id }}'),
           jum:'{{ ls.bidhaa.idadi_jum }}',
           vipimo:'{{ ls.bidhaa.vipimo }}',
           vipimo_jum:'{{ ls.bidhaa.vipimo_jum }}'
       }
       prod.push(itmprod)
    '{% endfor %}'


   '{% for cl in color %}'
      itm_colori = {
         id:Number('{{ cl.id }}'),
         color:Number('{{cl.color.color.id}}'),
         bidhaa:Number('{{cl.bidhaa.id }}'),
         idadi:Number('{{cl.idadi}}'),
         code:'{{cl.color.color.color_code}}',
         name:'{{cl.color.color.color_name}}'
     }
     colr.push(itm_colori)
   '{% endfor %}'

   '{% for sz in size %}'
       itmSize = {
          id:'{{sz.id}}',
          idadi:Number('{{sz.idadi}}'),
          color:Number('{{sz.color.color.color.id}}'),
          color_id:Number('{{sz.color.id}}'),
          size:Number('{{sz.size.sized.id}}'),
          name:'{{sz.size.sized.size}}',
          bidhaa:Number('{{sz.bidhaa.id}}')
      }
      size.push(itmSize)
   '{% endfor %}'

prod.forEach(it=>{
let tr=``,
    uwiano=Number(it.jum),
    vipimo=it.vipimo,
    vipimo_jum=it.vipimo_jum
//Place data size to the button......................//
let idsz=x=>x.bidhaa===it.id
     const sz = size.filter(idsz)
     if(sz.length>0){
         $(`#colored_items${it.id}`).data('size',sz)
              //console.log(sz)

     } 


     
     
     
let idc=x=>x.bidhaa===it.id
//Place data color to the button......................//
     const clr = colr.filter(idc)

    

     if(clr.length>0){
         $(`#colored_items${it.id}`).data('color',clr)
         $(`#popColored${it.id}`).show()
         $(`#color_qt${it.id}`).text(clr.length)
         clr.forEach(cor=>{
       tr+=`<div class="p-1 smallerFont latoFont ">
            <div class="rounded p-2  d-inline"
             style="-webkit-box-shadow: 0px 0px 8px -3px rgba(18,13,255,0.22); 
             box-shadow: 0px 0px 8px -3px rgba(18,13,255,0.22);"
            >
            <label 
                style="width:15px;
                height:15px;
                background:${cor.code};
                border-radius:100%;
                color:rgba(240, 248, 255, 0);
                border:1px solid #ccc"
                >
                ''
            </label> 
              <span  style="margin-left:6px;font-size:14px">
              <span >
              ${cor.name} =>
              </span>
              `
              let colr_sz=sz=>sz.color_id===cor.id
              const szn = size.filter(colr_sz)

              if(szn.length>0){
                szn.forEach(si=>{                               
                  
                    let  szqty= Number(si.idadi)
                                

                   if(szqty>0){

                   tr+=`<span> <span class="text-danger smallFont">${si.name} </span> `

                       if(uwiano==1 || szqty/uwiano<=1){
                     tr+=`<span class="smallFont">${vipimo}:</span> <span class="text-primary">${szqty}</span>`
                   }else if(uwiano>1 && szqty/uwiano >1){
                     tr+=`<span class="smallFont">${vipimo_jum}:</span><span class="text-primary">${parseInt(szqty/uwiano)}</span>`

                     if(szqty%uwiano>0){
                       tr+=`+<span class="smallFont">${vipimo}:</span><span class="text-primary">${szqty%uwiano}</span>`
                     }
                   }
                   
                tr+=`</span> | `
                   }
                 
                   
           
                 })
              }else{
                if(Number(uwiano)==1 || Number(cor.idadi)/Number(uwiano)<=1){
                    tr+=`<span class="smallFont">${vipimo}:</span> <span class="text-primary">${Number(cor.idadi)}</span>`
                  }else if(Number(uwiano)>1 && Number(cor.idadi)/Number(uwiano) >1){
                    tr+=`<span class="smallFont">${vipimo_jum}:</span><span class="text-primary">${parseInt(Number(cor.idadi)/Number(uwiano))}</span>`

                    if(Number(cor.idadi)%Number(uwiano)>0){
                      tr+=`+<span class="smallFont">${vipimo}:</span><span class="text-primary">${Number(cor.idadi)%Number(uwiano)}</span>`
                    }
                  }
              }
            

              tr+=`
            </span>
            </div>
            </div>


              `

              
         })
        




$(`#rej_item_qty${it.id}`).prop('readonly',true)
$(`#jum_item_qty${it.id}`).prop('readonly',true)

     }


$(`#color_obj${it.id}`).html(tr)

})






//show the sat color/size on hover ...........................................//
$(document).on('mouseenter', '.popColored', function (e) {
    $(this).addClass('extend-palet')
    $(this).removeClass('shrink-palet')

    let pos=$(this).parent('div').position()
   // console.log(pos)
    $(this).css('left',pos.left+'px')


})

$(document).on('mouseleave', '.popColored', function (e) {
    $(this).removeClass('extend-palet')
    $(this).addClass('shrink-palet')

})

</script>

     
    <!-- Modal Color Rangi Rangi-->
    <div class="modal fade" id="modal_color" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog animate" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                            <h6 class="modal-title">
                                 <img  width="25" src="{{baseUrl}}/{{'colors.svg'}}" />
                               
                                {% if useri.langSet == 0 %}

                                Rangi za <span style="color:rgb(108, 39, 236)" id="item_jina"></span> {% else %} <span style="color:rgb(108, 39, 236)" id="item_jina"></span> color  {% endif %}
                            </h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-5">

                        </div>
                        <div class="col-7">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label for="input" class="pt-2 px-2 smallFont">Tafuta Rangi:</label>
                                </div>
                                <input type="text" id="filter_itm_color" class="form-control smallerFont">
                            </div>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function(){
                          $("#filter_itm_color").on("keyup", function() {
                            var value = $(this).val().toLowerCase();
                            $("#bill_item_color .the_color_itm").filter(function() {
                              $(this).toggle($(this).data('rangi_names').toLowerCase().indexOf(value) > -1)
                            });
                          });
                        });
                        </script>
                    <div class="container-fluid pr-5 mt-3" id="bill_item_color">                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary border0" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save</button> -->
                </div>
            </div>
        </div>
    </div>

</div>


{% block billmpya %}
<script src="/static/js/newbill.js"></script>
{% endblock %}

<script>
    $('.rej-panel').hide()
    $('.jum-panel').addClass('pt-2')
    setTimeout(calculateSum, 1000);
</script>

{% endblock %}
 
{% block dash-mapper %}
 {% if useri.langSet == 0 %} Bili  {% else %} Bill {% endif %}
{% endblock %} 

{% block nav-bills %}
class="c-menu__item  is-active has-submenu showingpop2 "
{% endblock %}



{% block active-bills %} 
    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-receipt text-primary font-weight-bold" height="1.3em" width="1.3em" viewBox="0 0 24 24"  fill="currentColor">
         <path d="M20,4H4C2.89,4,2.01,4.89,2.01,6L2,18c0,1.11,0.89,2,2,2h10v-2H4v-6h18V6C22,4.89,21.11,4,20,4z M20,8H4V6h16V8z M24,17v2 h-3v3h-2v-3h-3v-2h3v-3h2v3H24z"/>
    </svg>
    {% endblock %}

{% block dash-map %} {% if useri.langSet == 0 %}  Mabadiliko ya Bili {% else %} Edit Bill {% endif %}{% endblock %}