{% extends 'userdash.html' %}

{% load humanize %}
{% load static %}
{% block Dashboard %}




    <div  class=" Analytical p-md-4 p-2 whiteBg" id="general-panel" style="margin-top: -23px;min-height:100vh" >
        <h5 class="weight500 " >
            {% if useri.langSet == 0 %} {% if useri.business == 0 %} Wezesha {% else %} Ongeza {% endif %}  Akaunti za usimamizi wa mahesabu ya Karakana {% else %} {% if useri.business == 0 %} Activate {% else %} Extend {% endif %} business/enterprise/Wharehouse Management accounts{% endif %}
        </h5>

        <div class="row mt-4 classic_div">
            <div class="col-md-6">
                <img src="{% static 'pics/manageSave.svg' %}" alt="none" width="95%" srcset="">
            </div>

            <div class="col-md-6 ">
                 <h6 class="py-3" >{% if useri.langSet == 0 %}Akaunti za Usimamizi{% else %}Management Accounts{% endif %}</h6>
                 <div class="row my-3">
                        <div class="col-md-5 col-6">
                            <span >
                                {% if useri.langSet == 0 %}Idadi ya Akaunti{% else %}Number of Enterprises {% endif %}
                            </span>
                        </div>
                        <div class="col-md-4 col-6">
                            <input id="Wnumber" type="number" class="form-control" onkeyup="
                               var num=Number($(this).val()) || 0,
                               ext=Number('{% if useri.business == 0 %}0{% else %}1{% endif %}'),
                               val=ext?num*10000:num>1?(10000*num)-10000:num>0?10000:0,
                               txt = num>0?` <span class='brown weight500'> ${Number(Number(val).toFixed(2)).toLocaleString()}</span> {% if useri.langSet == 0 %} Itapunguzwa kwenye salio lako {% else %} Will be reduced from your balance {% endif %}`:''
                               $('#reducedMsg').html(txt)

                               $('#activateFee').text(Number(Number(val).toFixed(2)).toLocaleString())" >
                        </div>                    
                 </div>

                 <div class="row">
                        <div class="col-md-5 col-6">
                            <span >
                                {% if useri.langSet == 0 %}Ghalama za usajiri{% else %}Activation Fee{% endif %}
                            </span>
                        </div>
                        <div class="col-md-6 col-6">
                            {{duka.currencii}}: <span style="font-size:20px;" id="activateFee" class=" weight600">0</span>
                        </div>                    
                 </div>

                 <hr>

                 <div>
                    <h6>
                        {% if useri.langSet == 0 %}Malipo{% else %}Payments{% endif %}
                    </h6>

                    <div class="row mb-2">
                                <div class="col-md-5 col-6">
                                    <span >
                                        {% if useri.langSet == 0 %}Akaunti{% else %}Account{% endif %}:
                                    </span>
                                </div>
                                <div class="col-md-6 col-6">
                                   <span class="weight600 darkblue">{{duka.name | title}}</span>  
                                </div>   

                    </div>
                    
                    <div class="row">
                                <div class="col-md-5 col-6">
                                    <span >
                                        {% if useri.langSet == 0 %}Salio la Akaunti{% else %}Account Balance{% endif %}
                                    </span>
                                </div>
                                <div class="col-md-6 col-6">
                                    {{duka.currencii}}: <span style="font-size: 20px;" id="availableAmo" data-amo="{{duka.Balance}}" class="largerFont brown weight600 ">{{duka.Balance | floatformat:'-2' | intcomma}}</span>
                                    <span class="mx-2 pl-1 border-left">
                                        <button onclick="$('#token_verify').toggle(300)" class="btn btn-sm smallFont latoFont btn-light">
                                            {% if useri.langSet == 0 %}Tokeni{% else %}Token{% endif %}
                                        </button>
                                        
                                    </span>
                                </div>    
                    </div>

                    <div id="token_verify" class="form-group" style="display:none" >
                      <label for="TokenVerifier">
                        {% if useri.langSet == 0 %}Weka tokeni za malipo{% else %}Add token Number{% endif %}    
                     </label>

                      <div class="input-group">
                        <input type="text" name="TokenVerifier" id="TokenVerifier" class="form-control" placeholder="{% if useri.langSet == 0 %}Andika Tokeni{% else %}Write token{% endif %}" aria-describedby="helpId">
                         <button type="button"
                         onclick = "
                           let token = $('#TokenVerifier').val();
                                checkToken(token)
                         "
                         class="btn btn-secondary input-group-append smallFont latoFont">
                            {% if useri.langSet == 0 %}Tuma{% else %}Send{% endif %}
                         </button>
                      </div>
                     
                    </div>


                 </div>

                 <p id="reducedMsg" class="my-3">

                 </p>

                 <p class="text-right mt-2" onclick="activate()" >
                    <button class="btn btn-primary btn-sm latoFont">
                          {% if useri.langSet == 0 %}Kusanya{% else %}Submit{% endif %}
                    </button>
                 </p>

            </div>
        </div>

    </div>

  <script>

      function activate(){
         const num = Number($('#Wnumber').val()) || 0,
             amo = Number($('#availableAmo').data('amo')),
             ext=Number('{% if useri.business == 0 %}0{% else %}1{% endif %}'),
             val=ext?num*10000:num>1?(10000*num)-10000:num>0?10000:0

             if(num>0 && val <= amo){
                $('#loadMe').modal('show')

                const datA = {data:{num},url:'/ActiveWarehouse'},
                     sendIt = POSTREQUEST(datA)

                     
                     sendIt.then(dt=>{
                       
                         if(dt.success){
                            $('loadMe').modal('hide')

                              toastr.success(lang('Akaunti za usimamizi wa mahesabu zimewezeshwa kikamilifu.','Wharehouse accounts actived successfully'), lang('Imefanikiwa','Success'), {timeOut: 2000});

                              location.replace('/busines_ac')
                         }else{
                            
                            $('loadMe').modal('hide')
                           toastr.error(lang('Kitendo Hakikufanikiwa kutokana na hitilafu tafadhari jaribu tena.','Error occured during operation please try again'), lang('Haikufanikiwa','Error Alert'), {timeOut: 2000});

                         }

                         
                       
                         
                     }).fail((jqXHR, exception)=>{
                
                        $('#loadMe').modal('hide')                
                            toastr.error(lang('Kitendo Hakikufanikiwa kutokana na hitilafu tafadhari jaribu tena.','Error occured during operation please try again'), lang('Haikufanikiwa','Error Alert'), {timeOut: 2000});
                        $('#loadMe').modal('hide')
                        })  
             }else{
                if(num==0) redborder('#Wnumber') 
                if(val>amo) toastr.info(lang('Akaunti hii haina kiasi cha kutosha kwa Karakana zilizoorodheshwa tafadhari ongeza kiasi.','Account has insufficient amount for the number of enterprises inputed please recharge'), lang('Taarifa','Info'), {timeOut: 2000});


             }
      } 
    </script>

{% endblock %}



{% block akaunt-map %}  
    <a href="#" class="tab_show" data-show="#general-panel">
        {% if useri.langSet == 0 %}Akaunti za Usimamizi{% else %} Management Accounts{% endif %}
    </a>   
{% endblock %}