
{% extends 'inserviceBooking.html' %}

{% block servActive %}text-primaryi active{% endblock %}

{% block invoservActive %}{% endblock %}

{% block servingsTag %}
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-calendar-week pr-2" viewBox="0 0 16 16">
          <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg>
           {% if useri.langSet == 0 %}Huduma Zilizowekewa Nafasi{% else %}Booked Services{% endif %}
{% endblock %}

{% block titleNum %} 
      {% if useri.langSet == 0 %}  Huduma {% else %} Services {% endif %}
{% endblock %}


{% block dash-map %}
   {% if useri.langSet == 0 %}Huduma Zilizowekewa Nafasi   {% else %}Booked Services {% endif %}
{% endblock %}

{% block filterAina %}
<div class="col-md-6 py-1 d-none d-md-block ">
    {% if useri.langSet == 0 %} Aina {% else %}Category {% endif %}
</div>
<div class="col-md-6 py-1 mt-2 mt-md-0 brown">
    <select name="AinaFilter" onchange="$('#loadMe').modal('show');wekaData()" class="form-control darkblue smallFont btn-sm text-capitalize latoFont" id="AinaFilter">
        <option value=0 >{% if useri.langSet == 0 %}Aina Zote {% else %}All Categories {% endif %}</option>
    </select>
</div>
{% endblock %}



{% block billmpya %}
<script>    
    $('#loadMe').modal('show')
  </script>
<script src="/static/js/services/inservingServs.js"></script>  

{% endblock %}