{% extends 'productionMaterial.html' %}
{% load static %}


{% block descriptions %}
{% if aina.count > 0 %}
<h6 class="pb-2" ><i class="text-primary text-capitalize" >{{aina.last.aina}} </i>  </h6> 
{% endif %}
{% endblock %}

<!-- TOP NAVIATIONS <MENU -->
    {% block top-nav-brand %} actively {% endblock %}
    {% block top-nav-brand-icon %}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-tags-fill" viewBox="0 0 16 16">
        <path d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
        <path d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"/>
      </svg>
    {% endblock %}
    
<!-- NAVIGATIONS FOR MOBILE -->
{% block active-brand-menu %}
 text-primary weight700
{% endblock %}
{% block brand-icon %}
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-tags-fill" viewBox="0 0 16 16">
    <path d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
    <path d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043-7.457-7.457z"/>
  </svg>
{% endblock %}

{% block ufupisho %}
{% if useri.langSet == 0 %} Chapa za Bidhaa/Nyenzo kwa matumizi{% else %}Brands for Items to use {% endif %}
{% endblock %}

{% block li-title %}
{% if useri.langSet == 0 %}Orodha ya Chapa ya Vitu/Nyezo vyote/zote kwa Uzalisaji{% else %}All Items Brands to Use List{% endif %}

{% endblock %}

<!-- NAV MAPPER -->
{% block map-with %}
 {% if useri.langSet == 0 %}Chapa{% else %}Brands{% endif %}
{% endblock %}

<!-- ROAD ALL ITEME -->
{% block roadMap %}/production/MaterialChapa{% endblock %}

{% block datatable %}
<script>    
    $('#loadMe').modal('show')
  </script>
<script src="{% static 'js/materialtable/materialChapa.js' %}"></script>    
{% endblock %}