{% extends 'userdash.html' %}
{% load humanize %}
{% load static %}
{% block Dashboard %}

<link rel="stylesheet" href="{% static 'css/riports.css' %}">

<div  class=" Analytical whiteBg tab_div p-md-4 p-2" style="min-height: 100vh;" id="general-panel">
    <h5 class="" >{% if useri.langSet == 0 %}Ripoti ya Bidhaa Zilizopokelewa {% else %}Items Receives Report{% endif %}</h5>
    <hr>
    <div class=" my-3">
        <div class="row">
            <div class="col-md-4 ">
             
               <div class="form-group row">
                <div class="col-2 text-right weight600"  >{% if useri.langSet == 0 %}Tawi{% else %}Branch{% endif %}</div>
                <div class="col-10"> 
                    <div class="form-group">
                        <select class="custom-select latoFont darkblue weight600 smallFont" data-branches ="{{matawi.count}}"
                        onchange="AddRow();vali=$(this).val();$(this).css('color',`${Number(vali)==Number('{{duka.id}}')?'blue':'brown'}`)"
                        name="Matawini" id="Matawini">
                        <option value="{{duka.id}}" data-vat="{% if duka.vat_allow %}1{% else %}0{% endif %}" selected>{{duka.name | title}}</option>
                         
                        {% for m in matawi %}
                            <option value="{{m.Interprise.id}}" data-vatp="{{m.Interprise.vatper}}" data-vat="{% if m.Interprise.vat_allow %}1{% else %}0{% endif %}" >{{m.Interprise.name | title}}</option>
                        {% endfor %}

                     
                    </select>
                    </div>
                </div>
                  
               </div>
               
            </div>
            <div class="col-md-8 my-2 showDt PeriodTableData my-md-1 text-md-right">

            <div class="table-responsive">
                <div  id="mapSelector" class="d-flex d-md-block"  >

                </div>
                                    
            </div>
            </div>
        </div>
    </div>

    <div class="table-responsive showDt  PeriodTableData" id="PeriodTable" data-urli="ReceivesData" >
        <table class="table table-sm smallFont" style="min-width: 600px;">
            <thead>
                <tr >
                    <th> {% if useri.langSet == 0 %}Muda{% else %}Time{% endif %}</th>
                 
                    <th>{% if useri.langSet == 0 %}Thamani ya Bidhaa{% else %}Received Worth{% endif %} <span class="text-primary latoFont smallFont">({{duka.currencii}})</span> </th>
                    
                    <th>{% if useri.langSet == 0 %}Thamani Zilizopo {% else %}Onshelf Worth {% endif %}<span class="text-primary latoFont smallFont">({{duka.currencii}})</span></th>
                    
                  
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="riportData">
            </tbody>
        </table>
    </div>

    <div class="showDt RiportDataPanel pb-5 mb-5" style="display: none;">

   <div class="col-md-4 px-0 row">
                <div class="col-4 text-right weight600">{% if useri.langSet == 0 %} Kutoka{% else %} From{% endif %}</div>
                <div class="col-8"> 
                    <div class="form-group">
                        <select class="custom-select latoFont text-capitalize smallFont" onchange="let Wvat=$(this).val();$(this).css(Wvat==0?{'color':'currentColor','font-weight':400}:Wvat==1?{'color':'brown','font-weight':600}:{'color':'rgba(5, 5, 175, 0.877)','font-weight':600});AddRow()" name="NaVendor" id="NaVendor">
                            <option value="0" selected>{% if useri.langSet == 0 %}Wote{% else %}All{% endif %}</option>
                        </select>
                    </div>
                </div>
            </div>
     
        <!-- <div class="row px-0">
            <div class="col-md-4 px-0 row">
                <div class="col-4 text-right weight600">{% if useri.langSet == 0 %} Na{% else %} By{% endif %}</div>
                <div class="col-8"> 
                    <div class="form-group">
                        
                        <select class="custom-select weight600 latoFont text-capitalize smallFont" onchange="let usr = Number($(this).val());usr==0?$(this).removeClass('darkblue'):$(this).addClass('darkblue');AddRow()" name="Waliotumia" id="Waliotumia">
                            <option value="0" selected>{% if useri.langSet == 0 %}Wote{% else %}All{% endif %}</option>
                        </select>
                    </div>
                </div>
            </div>
            {% if duka.vat_allow %}
         

            {% endif %}

            <div class="col-md-3 px-0 row">
                <div class="col-4 text-right">
                    <label for="MauzoAina" class="px-2 weight600" >{% if useri.langSet == 0 %}Njia{% else %}Type{% endif %}:</label>
                  </div>

                  <div class="col-8">
                       <select class="custom-select latoFont  smallFont" 
                       onchange="
                       let vali = Number($(this).val())
                       
                           switch(vali){
                                   case 0:
                                   $(this).css({'color':'currentColor','font-weight':'500'})
                                   break;
                                   case 1:  
                                   $(this).css({'color':'brown','font-weight':'700'})
                                   break;
                                   case 2:
                                   $(this).css({'color':'blue','font-weight':'700'})
                                   break;
                           }
                           
                           
                       AddRow()
                       
                       "  name="MauzoAina" id="MauzoAina">
                           <option value=0 selected> {% if useri.langSet == 0 %}Zote{% else %}All{% endif %}</option>
                           <option value=1 > {% if useri.langSet == 0 %}Moja kwa Moja{% else %}Direct{% endif %}</option>
                           <option value=2 > {% if useri.langSet == 0 %}Mtandao{% else %}E-cormarce{% endif %}</option>
                           
                       </select>
                  </div>
            </div>

          
        </div> -->

<hr>
        <h6 class="py-2 py-md-2  weight500" data-val=0 id="riporttitle"></h6>
        

        <!-- <h6 class="weight400 mt-4" ><->{% if useri.langSet == 0 %}Mwenendo wa Bidhaa zilizozalishwa{% else %}The Trend of Produced Goods {% endif %}</h6> -->
        <div id="summary_wrapper" >
         
            <div class="row summary_row classic_div "  >
                  

                    <div class="col-md-12 mx-md-2  border">
              
                        
                            <table class="table table-hover  smallFont  table-sm"  >
                                <thead>
                                    <tr class="text-left ">
                                        <th class="text-left"></th>
                                        <th class="text-left">{% if useri.langSet == 0 %}Kiasi {% if matawi.count > 0 %}Tawi Hili{% endif %}{% else %}Amount {% if matawi.count > 0 %}This Branch{% endif %}{% endif %} <span class="text-primary latoFont">({{duka.currencii}})</span> </th>
                                        {% if matawi.count > 0 %}
                                           <th class="text-left">{% if useri.langSet == 0 %}Kiasi Matawi Mengine{% else %}Amount Other Branches{% endif %}<span class="text-primary latoFont">({{duka.currencii}})</span></th>
                                        {% endif %}

                                        <th>%</th>
                                    </tr>
                                </thead>
                                <tbody class="cursor-pointer  " style="font-size:.89rem;cursor:pointer" id="mwenendoRiport" style="font-size: 16px;cursor:pointer">
                                
                                </tbody>
                            </table>
                      

                    </div>
             


            </div>
        </div>
       
        
      
<!-- DATE ITEMS, CATEGORIES , GROUPS SELECT -->
        

       <div class="table-responsive">

           <div class="panel row classic_div  mt-3" style="min-width: 290px;" >
            <div class="col-8">
                    <div class="btn-group riportSwitch" role="group" id="riportSwitch" aria-label="Basic example">
                        <button type="button" class="btn btn-sm border-secondary riportOn btn-primary " id="firstR" data-r="1" data-riport="1" data-val="0" title="{% if useri.langSet == 0 %}Tarehe{% else %}Date{% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.0em" height="1.0em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                                <line x1="8" y1="6" x2="21" y2="6"></line>
                                <line x1="8" y1="12" x2="21" y2="12"></line>
                                <line x1="8" y1="18" x2="21" y2="18"></line>
                              
                            </svg>
                        </button>

                        <button type="button" class="btn border-secondary btn-sm riportOn btn-light" data-r="2" data-riport="1" data-val="0" title="{% if useri.langSet == 0 %}Bidhaa{% else %}Items{% endif %}">
                            <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-gem" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785l-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004l.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495l5.062-.005L8 13.366 5.47 5.495zm-1.371-.999l-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l2.92-.003 2.193 6.82L1.5 5.5zm7.889 6.817l2.194-6.828 2.929-.003-5.123 6.831z"/>
                            </svg>
                        </button>

                        <button type="button" class="btn border-secondary btn-sm riportOn btn-light" data-r="3" data-riport="1" data-val="0" title="{% if useri.langSet == 0 %}Aina{% else %}Categories{% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" fill="currentColor" class="bi bi-layers" viewBox="0 0 16 16">
                                <path d="M8.235 1.559a.5.5 0 0 0-.47 0l-7.5 4a.5.5 0 0 0 0 .882L3.188 8 .264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l2.922-1.559a.5.5 0 0 0 0-.882l-7.5-4zm3.515 7.008L14.438 10 8 13.433 1.562 10 4.25 8.567l3.515 1.874a.5.5 0 0 0 .47 0l3.515-1.874zM8 9.433 1.562 6 8 2.567 14.438 6 8 9.433z"/>
                            </svg>
                        </button>

                        <button type="button" class="btn border-secondary btn-sm riportOn btn-light" data-r="4" data-riport="1" data-val="0" title="{% if useri.langSet == 0 %}Makundi{% else %}Groups{% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.0em" height="1.0em" fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
                                <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
                            </svg>
                        </button>

                        <!-- <button type="button" class="btn border-secondary btn-sm riportOn btn-light" data-r="5" data-riport="1" data-val="0" title="{% if useri.langSet == 0 %}Wasambazaji{% else %}Vendors{% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-compass">
                                <circle cx="12" cy="12" r="10"></circle>
                                <polygon points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"></polygon>
                            </svg>
                        </button> -->

                       
                    </div>
            </div>
            
            <div class="col-4  text-right">
                <div class="btn-group riportChatRist" id="riportChatRist">
                        <button type="button"  class="btn border-secondary btn-sm riportListChatOn btn-secondary" data-r="0" data-riport="0" data-val="0" title="{% if useri.langSet == 0 %}Orodha{% else %}List{% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.0em" height="1.0em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                                <line x1="8" y1="6" x2="21" y2="6"></line>
                                <line x1="8" y1="12" x2="21" y2="12"></line>
                                <line x1="8" y1="18" x2="21" y2="18"></line>
                                <line x1="3" y1="6" x2="3.01" y2="6"></line>
                                <line x1="3" y1="12" x2="3.01" y2="12"></line>
                                <line x1="3" y1="18" x2="3.01" y2="18"></line>
                            </svg>
                        </button>

                        <button type="button"  class="btn border-secondary btn-sm riportListChatOn btn-light" data-r="1" data-riport="0" data-val="0" title="{% if useri.langSet == 0 %}Chati{% else %}Chart{% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.0em" height="1.0em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
                                <line x1="18" y1="20" x2="18" y2="10"></line>
                                <line x1="12" y1="20" x2="12" y2="4"></line>
                                <line x1="6" y1="20" x2="6" y2="14"></line>
                                </svg>
                        </button>  
                </div>
            </div>
          </div>


       </div>


       <div class="theDataPanel mt-4" id="theDataPanel">

       </div>

       

    </div>

    <div class=" showDt  PeriodTableData" >
     

            <!-- SAVED RIPORTS -->
            <div class=" mt-4 pt-2 px-2 py-3 border-top " id="theSavedRiport" style="display: none;max-width:400px">
                <div class="text-right">
                    <button class="btn btn-sm btn-default" onclick="$('#theSavedRiport').hide(400)">
                        &times;
                    </button>
                </div>
            <h6 >
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                </svg>
                {% if useri.langSet == 0 %}Notisi zilizowekwa Alama{% else %}Marked Receive Notes{% endif %}</h6>
                
            
                    <ul id="placeTheRiport"  class="list-unstyled d-block ">

                    </ul>
            
                
                
            <div id="saveR_loader">
                    <div   style="width: 300px;height: 100;" class="classic_div  d-flex justify-content-center align-items-center  "  >
                            <div  class="row classic_div whiteBg pb-2" style="min-width:200px ;"  >
                                
                            <div class="lds-ring col-3"><div></div><div></div><div></div><div></div></div>
                                <div class="col-9 pt-2 smallFont" > 
                                    
                                    {% if useri.langSet == 0 %} Tafadhari Subiri...  {% else %} Please Wait.. {% endif %}
                                
                                </div>
                            </div>
                        </div>
                </div>


            </div>

             <!-- CALENDER -->
             <div class=" tab_div" id="calenda-miamala" data-nowDate="" data-from="{{first.tarehe|date:'r'}}" data-to="{{last.tarehe|date:'r'}}" style="display:none" >
                <!-- <i class="prev-month fa fa-chevron-left fa-3x"></i>  -->
                <div class="text-right">
                    <button class="btn btn-sm largerFont btn-default" onclick="$('#calenda-miamala').hide(400)">
                        &times;
                    </button>
                </div>
            <div class="row pb-2">
              <div class="col-2 prev_month-miamala">
                <button class="btn btn-default prev-month">
                    <svg width="1.2em"  height="1.2em" viewBox="0 0 16 16" class=" bi bi-caret-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                  </button>
                  
              </div>
              <div class="col-8">
                  <div class="month-year nowrap text-center">
                     <h5></h5>
                  </div>
              </div>
              <div class="col-2 next_month-miamala">
                <button  class="float-right btn-default btn next-month">
                   <svg width="1.2em" disabled height="1.2em" viewBox="0 0 16 16" class="bi bi-caret-right-fill  " fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                   </svg>
                  </button>
                  
              </div>
            </div>
             
            <div id="mothYearPanel" class=" pb-3" style="display: none;" >
              <div class="table-responsive ">
                <div class="d-flex " style="min-width: 80vw;">

                            

                             <br/>

                           
                                <script>
                                    let beg = Number(moment('{{first.tarehe}}'!=''?'{{first.tarehe|date:"r"}}':'').format('YYYY')),
                                        lasted =  Number(moment('{{last.tarehe}}'!=''?'{{last.tarehe|date:"r"}}':'').format('YYYY')),
                                        currentDate = Number(moment($('#calenda-miamala').data('nowDate')).format('YYYY'))
                                        yeaers = '<div class="btn-group">'
                                        for(let i=beg;i<=lasted;i++){
                                            yeaers+=`<button data-start="${i}-01-01" class="btn YearSelect smallFont border-secondary ${i==currentDate?'btn-primary':'btn-light'} btn-sm">${i}</button>`
                                        }

                                        document.write(`${yeaers}</div>`)
                                </script>
                            </div>
              </div>
                
                <div class="table-responsive py-2">
                    <div class="d-flex btn-group" id="showMonths" style="min-width: 80vw;">

                    </div>
                </div>


            </div>


                <!-- <i class="next-month fa fa-chevron-right fa-3x"></i> -->
            
              <div class="table-responsive">
                  <table class="table table-bordered calender-table " id="calender-table">
                        <tr>
                          <th>Sun</th>
                          <th>Mon</th>
                          <th>Tue</th>
                          <th>Wed</th>
                          <th>Thu</th>
                          <th>Fri</th>
                          <th>Sat</th>
                        </tr>
                </table>
              </div>
                
            
            
            
            </div>
    </div>
    

    
    <div class="text-right mt-3 PeriodTableData border-top p-3">
        <div class="input-group d-inline " >
            <span class="input-group-btn">
                <button type="button" class="btn btn-secondary btn-sm latoFont smallFont dropdown-toggle" aria-label="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {% if useri.langSet == 0 %}Ongeza{% else %}Add{% endif %}
                </button>
                <div class="dropdown-menu  smallFont">
                    <a class="dropdown-item btn btn-default smallFont" type="button" onclick="createArray('{% if useri.langSet == 0 %}Jana{% else %}YesterDay{% endif %}',moment().subtract(1,'days').startOf('day').format(),moment().subtract(1,'days').endOf('day').format(),0)">{% if useri.langSet == 0 %}Jana {% else %}Yesterday{% endif %}</a>
                    <a class="dropdown-item btn btn-default smallFont" type="button"  onclick="createArray('{% if useri.langSet == 0 %}Wiki ilopita{% else %}Last Week{% endif %}',moment().startOf('isoWeek').subtract(1,'days').startOf('isoWeek').format(),moment().startOf('isoWeek').subtract(1,'days').endOf('isoWeek').format(),0)" > {% if useri.langSet == 0 %}Wiki ilopita{% else %}last Week{% endif %}</a>
                    <a class="dropdown-item btn btn-default smallFont" type="button"  onclick="createArray('{% if useri.langSet == 0 %}Mwezi ulopita{% else %}Last Month{% endif %}',moment().startOf('month').subtract(1,'days').startOf('month').format(),moment().startOf('month').subtract(1,'days').endOf('month').format(),0)">{% if useri.langSet == 0 %}Mwezi ulopita{% else %}last Month {% endif %}</a>
                    <a class="dropdown-item btn btn-default smallFont" type="button" onclick="createArray('{% if useri.langSet == 0 %}Mwaka huu{% else %}This Year{% endif %}',moment().startOf('Year').format(),moment().format(),0)"> {% if useri.langSet == 0 %}Mwaka huu{% else %}This Year{% endif %}</a>
                    <a class="dropdown-item btn btn-default smallFont" type="button" onclick="createArray('{% if useri.langSet == 0 %}Mwaka Jana{% else %}Last Year{% endif %}',moment().startOf('Year').subtract(1,'days').startOf('Year').format(),moment().startOf('Year').subtract(1,'days').endOf('Year').format(),0)"> {% if useri.langSet == 0 %}Mwaka Jana{% else %}Last Year{% endif %}</a>
                    <div role="separator" class="dropdown-divider"></div>

                    <a class="dropdown-item btn btn-default smallFont" type="button" onclick="let rfrom = `{{last.tarehe|date:'r'}}`; myCalendar(rfrom)" >
                        {% if useri.langSet == 0 %}Kalenda{% else %}Calender{% endif %}
                    </a>
                   
                    
                    <a class="dropdown-item btn btn-default smallFont" type="button" onclick="createArray('{% if useri.langSet == 0 %}Notisi zilizowekwa Alama{% else %}Marked Receive Notes{% endif %}',moment().endOf('Year').add(1,'days').startOf('Year').format(),moment().endOf('Year').add(1,'days').endOf('Year').format(),1)" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                            <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                            </svg>
                        {% if useri.langSet == 0 %}Notisi zilizowekwa Alama{% else %}Marked Receives {% endif %}
                    </a>

                </div>
          </span>
        </div>
    </div>

    

    <div class="RiportDataPanel showDt text-right" style="display: none;position: fixed;top:90vh;right:10px">
        <button class="btn btn-danger btn-sm    showDtBtn" data-show=".PeriodTableData" data-hide=".RiportDataPanel">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
            </svg>
        </button>
    </div>

</div>


<!-- Modal SaveRiport-->
<div class="modal fade" id="saveBillMarked" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header" id="markTite">
                        <h5 class="modal-title" id="markTite"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                </div>
             <div class="modal-body" id="markBody">
                <div class="container-fluid">
                    <form action="/stoku/markReceive" id="saveMarkedBill" method="post" >
                        {% csrf_token %}
                                 
                            
                            <div class="form-group  " id="markDesk" >
                                <label for="MarkBillDesc" class="brown" >{% if useri.langSet == 0 %}Maelezo{% else %}Descriptions{% endif %} <sup>*</sup> </label>
                                <textarea class="form-control" name="MarkBillDesc" id="MarkBillDesc" rows="3"></textarea>
                                <input type="hidden" name="bilMark" data-to="" data-from="" value=0 id="bilMark" >
                                <input type="hidden" name="bilMarked" value=0 id="bilMarked" >
                               
                            </div>   
  
  
                            
                            <p class="text-center">
                                <button type="submit" class="btn btn-primary latoFont" id="SubmitMark">
                                  
                                </button>
                            </p>
                    </form>
  
                    <p class="text-center">
                          
                                <button type="button" class="btn btn-light btn-sm latoFont" data-dismiss="modal">Close</button>
                    </p>
  
  
  
                </div>
             </div>
  
        </div>
    </div>
  </div>
  
  <script>
    
  $('body').on("submit", "#saveMarkedBill" ,function(e){
        e.preventDefault()
  
        const post_url = $(this).attr("action"),
            formData = new FormData(this),
            desc = $('#MarkBillDesc').val(),
            mark = !Number($('#bilMarked').val()),
            bil = Number($('#bilMark').val()),
            from = $('#bilMark').data('from'),
            to = $('#bilMark').data('to'),
            bile={bil,from,to}

            if(desc.trim()!=''|| mark){
                $("#saveBillMarked").modal('hide');
                $("#loadMe").modal('show');
                $.ajax({
                    url:post_url,
                    type: 'POST',
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    }).done(function(data) {
                        if(data.success){
                        toastr.success(lang(data.msg_swa,data.msg_eng), lang('Imefanikiwa','success'), {timeOut: 7000});
                        
                        billData.state = billData.state.filter(b=>b.id!=bil)
                        $('#MarkBillDesc').val('')
                        loadBill(bile)
                      
                        }else{
                        toastr.error(lang(data.msg_swa,data.msg_eng), lang('Haijafanikiwa','Error'), {timeOut: 7000});
                       
                        }
                
                    })                
            }else{
                redborder('#MarkBillDesc')
            }
  
            })
  
  </script>


    <input type="hidden" id="currencii" value="{{duka.currencii}}" data-currencii="{{duka.currencii}}" />
 
{% endblock %}

{% block billmpya %}
   <script src="{% static 'js/riports/repots.js' %}">  </script>
   <script src="{% static 'js/riports/calender.js' %}">  </script>
    <script src="{% static 'js/riports/receive/receivesr.js' %}">  </script>
{% endblock %}
 
{% block dash-mapper %}
  Dashboard
{% endblock %}

{% block nav-ripoti %}
class="c-menu__item style-none is-active"
{% endblock %}

{% block active-riport %} class="bi bi-graph-up text-primary" {% endblock %}

{% block dash-map %} 
   <a href="/riport/riportPage">{% if useri.langSet == 0 %}Ripoti {% else %}Reports{% endif %}</a>
   <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
  </svg>
  <a href="#">{% if useri.langSet == 0 %}Ripoti ya Bidhaa zilizopokelewa {% else %}Received Items Reports{% endif %}</a>
{% endblock %}