{% extends 'userdash.html' %}
{% load humanize %}
{% load static %}
{% block Dashboard %}
<link rel="stylesheet" href="{% static 'css/riports.css' %}">

<div  class=" Analytical whiteBg tab_div p-md-4 p-2" style="min-height: 100vh;" id="general-panel">
    
    <h5 >{% if useri.langSet == 0 %}Ripoti za Mapato na matumizi {% else %}Income & Expenditure Report{% endif %}</h5>
    <hr>


    <div class=" my-3">
        <div class="row">
            <div class="col-md-4 ">
             
               <div class="form-group row">
                <div class="col-2 text-right weight600"  >{% if useri.langSet == 0 %}Tawi{% else %}Branch{% endif %}</div>
                <div class="col-10"> 
                    <div class="form-group">
                        <select class="custom-select latoFont darkblue weight600 smallFont" 
                        onchange="AddRow();vali=$(this).val();$(this).css('color',`${Number(vali)==Number('{{duka.id}}')?'blue':'brown'}`)"
                        name="Matawini" id="Matawini">
                        <option value="{{duka.id}}" data-vat="{% if duka.vat_allow %}1{% else %}0{% endif %}" selected>{{duka.name | title}}</option>
                         
                        {% for m in matawi %}
                            <option value="{{m.Interprise.id}}" data-vatp="{{m.Interprise.vatper}}" data-vat="{% if m.Interprise.vat_allow %}1{% else %}0{% endif %}" >{{m.Interprise.name | title}}</option>
                        {% endfor %}

                        {% if matawi %}
                            <option value=0 data-vat="{% if duka.vat_allow %}1{% else %}0{% endif %}" data-vatp=0 >{% if useri.langSet == 0 %}Yote{% else %}All{% endif %}</option>
                        {% endif %}
                    </select>
                    </div>
                </div>
                  
               </div>
               
            </div>
            <div class="col-md-8 my-2 showDt PeriodTableData my-md-1 text-md-right">

            <div class="table-responsive">
                <div  id="mapSelector" class="d-flex d-md-block"  >

                </div>
                                    
            </div>
            </div>
        </div>
    </div>



    <div class="table-responsive showDt  PeriodTableData" id="PeriodTable" >
        <table class="table table-sm" style="min-width: 600px;">
            <thead>
                <tr >
                    <th> {% if useri.langSet == 0 %}Muda{% else %}Time{% endif %}</th>
                 
                    <th> {% if useri.langSet == 0 %}Mapato{% else %}Income{% endif %} <span class="text-primary latoFont smallFont">({{duka.currencii}})</span> </th>
                    <th>{% if useri.langSet == 0 %}Matumizi {% else %}Expenditure{% endif %}<span class="text-primary latoFont smallFont">({{duka.currencii}})</span></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="riportData">
            </tbody>
        </table>
    </div>

    
    <div class="showDt RiportDataPanel pb-5 mb-5" style="display: none;">

     
        <!-- <div class="row px-0">
            <div class="col-md-4 px-0 row">
                <div class="col-4 text-right weight600">{% if useri.langSet == 0 %} Na{% else %} By{% endif %}</div>
                <div class="col-8"> 
                    <div class="form-group">
                        
                        <select class="custom-select weight600 latoFont text-capitalize smallFont" onchange="let usr = Number($(this).val());usr==0?$(this).removeClass('darkblue'):$(this).addClass('darkblue');AddRow()" name="Waliotumia" id="Waliotumia">
                            <option value="0" selected>{% if useri.langSet == 0 %}Wote{% else %}All{% endif %}</option>
                        </select>
                    </div>
                </div>
            </div>
            {% if duka.vat_allow %}
            <div class="col-md-3 px-0 row">
                <div class="col-4 text-right weight600">VAT</div>
                <div class="col-8"> 
                    <div class="form-group">
                        <select class="custom-select latoFont smallFont" onchange="let Wvat=$(this).val();$(this).css(Wvat==0?{'color':'currentColor','font-weight':400}:Wvat==1?{'color':'brown','font-weight':600}:{'color':'rgba(5, 5, 175, 0.877)','font-weight':600});AddRow()" name="NaVat" id="NaVat">
                            <option value="0" selected>{% if useri.langSet == 0 %}Zote{% else %}All{% endif %}</option>
                            <option value="1" >{% if useri.langSet == 0 %}Mauzo na VAT{% else %}Sales with VAT{% endif %}</option>
                            <option value="2" >{% if useri.langSet == 0 %}Mauzo bila VAT{% else %}Sales without VAT{% endif %}</option>
                        </select>
                    </div>
                </div>
            </div>


            {% endif %}

            <div class="col-md-3 px-0 row">
                <div class="col-4 text-right">
                    <label for="MauzoAina" class="px-2 weight600" >{% if useri.langSet == 0 %}Njia{% else %}Type{% endif %}:</label>
                  </div>

                  <div class="col-8">
                       <select class="custom-select latoFont  smallFont" 
                       onchange="
                       let vali = Number($(this).val())
                       
                           switch(vali){
                                   case 0:
                                   $(this).css({'color':'currentColor','font-weight':'500'})
                                   break;
                                   case 1:  
                                   $(this).css({'color':'brown','font-weight':'700'})
                                   break;
                                   case 2:
                                   $(this).css({'color':'blue','font-weight':'700'})
                                   break;
                           }
                           
                           
                       AddRow()
                       
                       "  name="MauzoAina" id="MauzoAina">
                           <option value=0 selected> {% if useri.langSet == 0 %}Zote{% else %}All{% endif %}</option>
                           <option value=1 > {% if useri.langSet == 0 %}Moja kwa Moja{% else %}Direct{% endif %}</option>
                           <option value=2 > {% if useri.langSet == 0 %}Mtandao{% else %}E-cormarce{% endif %}</option>
                           
                       </select>
                  </div>
            </div>

          
        </div> -->

<hr>
        <h6 class="py-2 py-md-2  weight500" id="riporttitle"></h6>
        

       
        <div id="summary_wrapper" >
         
            <div class="row classic_div summary_row "  >
                  

                    <div class="col-6 px-0  border ">
                        <h6 class="text-center py-1">{% if useri.langSet == 0 %}Mapato{% else %}Income{% endif %}</h6>  
                        <table class="table table-hover table-sm">
                            <thead>
                            

                                <tr>
                                    <th class="text-left">{% if useri.langSet == 0 %}Mapato{% else %}Income{% endif %}</th>
                                    <th class="text-left">{% if useri.langSet == 0 %}Kiasi{% else %}Amount{% endif %}<span class="text-primary latoFont smallFont">({{duka.currencii}})</span></th>
                                                                 
                                                                                 
                                </tr>
                            </thead>
                            <tbody class="cursor-pointer  latoFont" id="incomeTable" style="font-size: 16px;cursor:pointer">
                               
                            </tbody>
                        </table>
                    </div>

                    <div class="col-6 px-0 border ">
                        <h6 class="text-center py-1">{% if useri.langSet == 0 %}Matumizi{% else %}Expenditure{% endif %}</h6>  
                        <table class="table table-hover table-sm">
                            <thead>
                            

                                <tr>
                                    <th class="text-left">{% if useri.langSet == 0 %}Matumizi{% else %}Expenditure{% endif %}</th>
                                    <th class="text-left">{% if useri.langSet == 0 %}Kiasi{% else %}Amount{% endif %}<span class="text-primary latoFont smallFont">({{duka.currencii}})</span></th>
                                                                 
                                                                                 
                                </tr>
                            </thead>
                            <tbody class="cursor-pointer  latoFont" id="ExpendTable" style="font-size: 16px;cursor:pointer">
                               
                            </tbody>
                        </table>
                    </div>
             

              <div class="col-6 px-0 classic_div row border">
                        <table class="table table-hover table-sm">
                            <tbody>
                            

                                <tr class="weight500" >
                                    <td class="text-left">{% if useri.langSet == 0 %}Mapato Jumla{% else %}Net Income{% endif %}</td>
                                    <td class="text-left" id="netIncome"></td>
                                                                 
                                                                                 
                                </tr>
                            </tbody>
                       
                        </table>
                    </div>
                    <div class="col-6 row px-0 classic_div border">
                         <table class="table table-hover table-sm">
                            <tbody>
                            

                                <tr class="weight500">
                                    <td class="text-left">{% if useri.langSet == 0 %}Matumizi Jumla{% else %}Net Expenditure{% endif %}</td>
                                    <td class="text-left" id="netExpense"></td>
                                                                 
                                                                                 
                                </tr>
                            </tbody>
                       
                        </table>
                    </div>

            </div>

           
                 
          
        </div>

        <h6 class="py-3 weight600" id="netBalance"></h6>
       
        
      
<!-- DATE ITEMS, CATEGORIES , GROUPS SELECT -->
        

       <div class="table-responsive">

           <div class="panel row px-0 classic_div  mt-3" style="min-width: 290px;" >
            <div class="col-8 px-0 ">
                    <div class="btn-group riportSwitch" role="group" id="riportSwitch" aria-label="Basic example">
                        <button type="button" class="btn btn-sm border-secondary riportOn btn-primary " id="firstR" data-r="1" data-riport="1" data-val="0" title="{% if useri.langSet == 0 %}Miamala ya Kuweka Pesa{% else %}Cash Deposit Transactions{% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square">
                                <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                                <line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line>
                              </svg>
                        </button>

                        <button type="button" class="btn border-secondary btn-sm riportOn btn-light" data-r="2" data-riport="1" data-val="0" title="{% if useri.langSet == 0 %}Miamala ya Kutoa Pesa{% else %}Cash Withdraw Transactions{% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-square">
                                <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                                <line x1="8" y1="12" x2="16" y2="12"></line>
                              </svg>
                        </button>

                      <!--   <button type="button" class="btn border-secondary btn-sm riportOn btn-light" data-r="3" data-riport="1" data-val="0" title="{% if useri.langSet == 0 %}Aina{% else %}Categories{% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" fill="currentColor" class="bi bi-layers" viewBox="0 0 16 16">
                                <path d="M8.235 1.559a.5.5 0 0 0-.47 0l-7.5 4a.5.5 0 0 0 0 .882L3.188 8 .264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l2.922-1.559a.5.5 0 0 0 0-.882l-7.5-4zm3.515 7.008L14.438 10 8 13.433 1.562 10 4.25 8.567l3.515 1.874a.5.5 0 0 0 .47 0l3.515-1.874zM8 9.433 1.562 6 8 2.567 14.438 6 8 9.433z"/>
                            </svg>
                        </button>

                        <button type="button" class="btn border-secondary btn-sm riportOn btn-light" data-r="4" data-riport="1" data-val="0" title="{% if useri.langSet == 0 %}Makundi{% else %}Groups{% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.0em" height="1.0em" fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
                                <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
                            </svg>
                        </button>

                        <button type="button" class="btn border-secondary btn-sm riportOn btn-light" data-r="6" data-riport="1" data-val="0" title="{% if useri.langSet == 0 %}Wauzaji{% else %}Sales Person{% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                        </button> -->

                        <button type="button" class="btn border-secondary btn-sm riportOn btn-light" data-r="5" data-riport="1" data-val="0" title="{% if useri.langSet == 0 %}Akaunti za malipo{% else %}Payments Accounts{% endif %}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card-2-back" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                                <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zM1 9h14v2H1V9z"/>
                              </svg>
                        </button>
                    </div>
            </div>
            
            <div class="col-4  text-right">
                <div class="btn-group riportChatRist" id="riportChatRist">
                        <button type="button"  class="btn border-secondary btn-sm riportListChatOn btn-secondary" data-r="0" data-riport="0" data-val="0" title="{% if useri.langSet == 0 %}Orodha{% else %}List{% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.0em" height="1.0em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                                <line x1="8" y1="6" x2="21" y2="6"></line>
                                <line x1="8" y1="12" x2="21" y2="12"></line>
                                <line x1="8" y1="18" x2="21" y2="18"></line>
                                <line x1="3" y1="6" x2="3.01" y2="6"></line>
                                <line x1="3" y1="12" x2="3.01" y2="12"></line>
                                <line x1="3" y1="18" x2="3.01" y2="18"></line>
                            </svg>
                        </button>

                        <button type="button"  class="btn border-secondary btn-sm riportListChatOn btn-light" data-r="1" data-riport="0" data-val="0" title="{% if useri.langSet == 0 %}Chati{% else %}Chart{% endif %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.0em" height="1.0em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
                                <line x1="18" y1="20" x2="18" y2="10"></line>
                                <line x1="12" y1="20" x2="12" y2="4"></line>
                                <line x1="6" y1="20" x2="6" y2="14"></line>
                                </svg>
                        </button>  
                </div>
            </div>
          </div>


       </div>


       <div class="theDataPanel mt-4" id="theDataPanel">

       </div>

       

    </div>

    <div class=" showDt  PeriodTableData" >
        <!-- SET DURATION .................. -->
            <div class="row mt-3 pt-2 border-top" id="AnziaHadiTarehe" style="display: none;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">

                        <div class="text-right">
                            <button class="btn btn-sm btn-default" onclick="$('#AnziaHadiTarehe').hide(400)">
                                &times;
                            </button>
                        </div>
                        <div class="text-right ">
                        
                            <div class="row mb-2">
                                    <div class="col-3 ">
                                        <label   aria-label="">
                                            {% if useri.langSet == 0 %}Jina{% else %}Name{% endif %}
                                        </label>
                                    </div> 
                                    <div class="col-9">
                                            <input type="text" class="form-control dateRiport smallerFont" name="DateJina1" id="DateJina1"  aria-label="">
                                    </div>
                            </div> 
                            <div class="row">
                                    <div class="col-3 brown">
                                        <label   aria-label="">
                                            {% if useri.langSet == 0 %}Kuanzia{% else %}From{% endif %}
                                        </label>
                                    </div> 
                                    <div class="col-9">
                                            <input type="date" class="form-control dateRiport smallerFont" name="DateRipotKuanzia" id="DateRipotKuanzia"  aria-label="">
                                    </div>
                            </div> 
                            <div class="row">
                                    <div class="col-3 brown">
                                        <label   aria-label="">
                                            {% if useri.langSet == 0 %}Hadi{% else %}To{% endif %}
                                        </label>
                                    </div> 
                                    <div class="col-9">
                                            <input type="date" class="form-control dateRiport smallerFont" name="DateRipotHadi" id="DateRipotHadi" >
                                    </div>
                            </div> 
                        </div>

                        <div class="text-right py-2" >
                            <button onclick="
                            let anza = $('#DateRipotKuanzia').val(),isha=$('#DateRipotHadi').val()

                                    if(moment(anza)<=moment(isha)){
                                        createArray($('#DateJina1').val(),moment(anza).startOf('day').format(),moment(isha).endOf('day').format())
                                    }else{
                                        redborder('#DateRipotKuanzia')
                                        redborder('#DateRipotHadi')
                                    }

                                
                                
                                " class="btn btn-secondary btn-sm latoFont smallerFont">
                                {% if useri.langSet == 0 %}Ongeza{% else %}Add{% endif %}
                            </button>
                            </div>

                    </div>
            </div>

            <!-- SET TIME............................ -->
            <div class="row mt-3 pt-2 border-top " id="SetDate" style="display: none;">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                <div class="text-right">
                    <button class="btn btn-sm btn-default" onclick="$('#SetDate').hide(400)">
                        &times;
                    </button>
                </div>

                                
                <div class="row">
                    <div class="col-3 ">
                            <label   aria-label="">
                            {% if useri.langSet == 0 %}Jina{% else %}Name{% endif %}
                            </label>
                    </div> 
                    <div class="col-9">
                            <input type="text" class="form-control smallerFont" name="DateJina" id="DateJina"  >
                    </div>
                    <div class="col-3 mt-2 brown">
                            <label   aria-label="">
                            {% if useri.langSet == 0 %}Tarehe{% else %}Date{% endif %}
                            </label>
                    </div> 
                    <div class="col-9 mt-2"   >
                            <input type="date" class="form-control smallerFont dateRiport" name="DateRipot" id="DateRipot"  >
                    </div>
                    </div> 

                    <div class="text-right py-2" >
                    <button onclick="createArray($('#DateJina').val(),moment($('#DateRipot').val()).startOf('day').format(),moment($('#DateRipot').val()).endOf('day').format())" class="btn btn-secondary btn-sm latoFont smallerFont">
                        {% if useri.langSet == 0 %}Ongeza{% else %}Add{% endif %}
                    </button>
                    </div>

                    </div>
            </div>

            <!-- SAVED RIPORTS -->
            <div class=" mt-4 pt-2 px-2 py-3 border-top " id="theSavedRiport" style="display: none;max-width:400px">
                <div class="text-right">
                    <button class="btn btn-sm btn-default" onclick="$('#theSavedRiport').hide(400)">
                        &times;
                    </button>
                </div>
            <h6 ><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark">
                <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                </svg> {% if useri.langSet == 0 %}Ripoti zilizohifadhiwa{% else %}Saved Reports{% endif %} </h6>
                
            
                    <ul id="placeTheRiport"  class="list-unstyled d-block ">

                    </ul>
            
                
                
            <div id="saveR_loader">
                    <div   style="width: 300px;height: 100;" class="classic_div  d-flex justify-content-center align-items-center  "  >
                            <div  class="row classic_div whiteBg pb-2" style="min-width:200px ;"  >
                                
                            <div class="lds-ring col-3"><div></div><div></div><div></div><div></div></div>
                                <div class="col-9 pt-2 smallFont" > 
                                    
                                    {% if useri.langSet == 0 %} Tafadhari Subiri...  {% else %} Please Wait.. {% endif %}
                                
                                </div>
                            </div>
                        </div>
                </div>


            </div>
    </div>
    
 

    <script>
        document.getElementById('DateRipot').setAttribute("max",moment().format('YYYY-MM-DD')) 
        document.getElementById('DateRipotKuanzia').setAttribute("max",moment().format('YYYY-MM-DD')) 
        document.getElementById('DateRipotHadi').setAttribute("max",moment().format('YYYY-MM-DD')) 
    </script>
   
    
    <div class="text-right mt-3 PeriodTableData border-top p-3">
        <div class="input-group d-inline " >
            <span class="input-group-btn">
                <button type="button" class="btn btn-secondary btn-sm latoFont smallFont dropdown-toggle" aria-label="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {% if useri.langSet == 0 %}Ongeza{% else %}Add{% endif %}
                </button>
                <div class="dropdown-menu  smallFont">
                    <a class="dropdown-item btn btn-default smallFont" type="button" onclick="createArray('{% if useri.langSet == 0 %}Jana{% else %}YesterDay{% endif %}',moment().subtract(1,'days').startOf('day').format(),moment().subtract(1,'days').endOf('day').format())">{% if useri.langSet == 0 %}Jana {% else %}Yesterday{% endif %}</a>
                    <a class="dropdown-item btn btn-default smallFont" type="button"  onclick="createArray('{% if useri.langSet == 0 %}Wiki ilopita{% else %}Last Week{% endif %}',moment().startOf('isoWeek').subtract(1,'days').startOf('isoWeek').format(),moment().startOf('isoWeek').subtract(1,'days').endOf('isoWeek').format())" > {% if useri.langSet == 0 %}Wiki ilopita{% else %}last Week{% endif %}</a>
                    <a class="dropdown-item btn btn-default smallFont" type="button"  onclick="createArray('{% if useri.langSet == 0 %}Mwezi ulopita{% else %}Last Month{% endif %}',moment().startOf('month').subtract(1,'days').startOf('month').format(),moment().startOf('month').subtract(1,'days').endOf('month').format())">{% if useri.langSet == 0 %}Mwezi ulopita{% else %}last Month {% endif %}</a>
                    <a class="dropdown-item btn btn-default smallFont" type="button" onclick="createArray('{% if useri.langSet == 0 %}Mwaka huu{% else %}This Year{% endif %}',moment().startOf('Year').format(),moment().format())"> {% if useri.langSet == 0 %}Mwaka huu{% else %}This Year{% endif %}</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item btn btn-default smallFont" type="button" onclick="$('#SetDate').show(300)" >{% if useri.langSet == 0 %}Weka Tarehe{% else %}Set Date {% endif %}</a>
                    <a class="dropdown-item btn btn-default smallFont" type="button" onclick="$('#AnziaHadiTarehe').show(300)" >{% if useri.langSet == 0 %}Weka Muda{% else %}Set Duration {% endif %}</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item btn btn-default smallFont" type="button" onclick="roadRiportSave()" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark">
                            <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                            </svg>
                        {% if useri.langSet == 0 %}Ripoti zilizohifadhiwa{% else %}Saved Riport {% endif %}
                    </a>

                </div>
          </span>
        </div>
    </div>

    

    <div class="RiportDataPanel showDt text-right" style="display: none;position: fixed;top:90vh;right:10px">
        <button class="btn btn-danger btn-sm    showDtBtn" data-show=".PeriodTableData" data-hide=".RiportDataPanel">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
            </svg>
        </button>
    </div>

</div>



<!-- Modal SaveRiport-->
<div class="modal fade" id="saveRiportTime" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title">{% if useri.langSet == 0 %}Hifadi Ripoti {% else %}Save Report{% endif %}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form action="/riport/saveRiport" id="saveTheRiportform" method="post">
                        {% csrf_token %}
                            <div class="form-group">
                                <label class="brown weigt600" for="SaveRiportName">{% if useri.langSet == 0 %}Kichwa cha ripoti {% else %}Report Title{% endif %}<sup>*</sup></label>
                                <input type="text" class="form-control" name="SaveRiportName" id="SaveRiportName" aria-describedby="helpId" placeholder="">
                            
                            </div>       
                            
                            <div class="form-group">
                                <label for="saveReportDesc">{% if useri.langSet == 0 %}Maelezo{% else %}Descriptions{% endif %}</label>
                                <textarea class="form-control" name="saveReportDesc" id="saveReportDesc" rows="3"></textarea>
                            
                                <input type="hidden" name="fromT" id="fromT">
                                <input type="hidden" name="toT" id="toT">
                                <input type="hidden" value=1 name="sa" id="sa">

                            </div>   


                            
                            <p class="text-center">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </p>
                    </form>

                    <p class="text-center">
                          
                                <button type="button" class="btn btn-light btn-sm latoFont" data-dismiss="modal">Close</button>
                           
                    </p>



                </div>
            </div>

        </div>
    </div>
</div>

<script>
    
 $('body').on("submit", "#saveTheRiportform" ,function(e){
        e.preventDefault()

        let post_url = $(this).attr("action"),
            formData = new FormData(this),
            name = $('#SaveRiportName').val()

            if(name!=''){
                $("#saveRiportTime").modal('hide');
                $("#loadMe").modal('show');
    

                $.ajax({
                    url:post_url,
                    type: 'POST',
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    }).done(function(data) {
                        if(data.success){
                        toastr.success(lang(data.msg_swa,data.msg_eng), lang('Imefanikiwa','success'), {timeOut: 7000});
                         
                        $('#SaveRiportName').val('')
                        $('#saveReportDesc').val('')
                        roadRiportSave()
                      
                        }else{
                        toastr.error(lang(data.msg_swa,data.msg_eng), lang('Haijafanikiwa','Error'), {timeOut: 7000});
                    
                        }
                
                    })                
            }else{
                redborder('#SaveRiportName')
            }

            })

</script>



<!-- Modal INVOICE -->
<div class="modal fade" id="ShowTheInvo" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title"> {% if useri.langSet == 0 %} Ankara  {% else %} Invoice {% endif %}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                </div>
            <div class="modal-body" style="min-height: 310px;">
                        <div id="Invo_loader">
                            <div   style="width: 300px;height: 300px;" class="classic_div  d-flex justify-content-center align-items-center  "  >
                                    <div  class="row classic_div whiteBg pb-2" style="min-width:200px ;"  >
                                        
                                    <div class="lds-ring col-3"><div></div><div></div><div></div><div></div></div>
                                        <div class="col-9 pt-2 smallFont" > 
                                            
                                            {% if useri.langSet == 0 %} Tafadhari Subiri...  {% else %} Please Wait.. {% endif %}
                                        
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div  id="Invo_notFound">
                               <div   style="width: 300px;height: 300px;" class="classic_div  d-flex justify-content-center align-items-center  "  >
  

                                       <div>
                                          <div class="svg text-center d-block">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                                <polyline points="13 2 13 9 20 9"></polyline>
                                                </svg>
                                          </div>
                                         <div class="text-center" >{% if useri.langSet == 0 %} Hakuna Ankara iliyopatikana {% else %} No invoice Found{% endif %}</div>
                            
                                        </div>
                                     
                                    </div>   
                          
                        </div>


                    <div class="classic_div mt-sm-2 pt-3 pb-2 px-1 whiteBg the_invo_page" style="display: none;" id="the_invo_page" >

                        

                        <div id="theInvoAddress">

                        </div>
          
          
                         
          
                         <div class="table-responsive">
                           <table id="prod_table" class=" table-bordered table table-sm"  data-row=1>
                          <tr class="bg-light smallFont ">
                            <th  >#</th>
                            <th  id="hudumaMauzo" >{% if useri.langSet == 0 %} Bidhaa/Huduma {% else %} Item/Service {% endif %} </th>
          
                            
                            <th id="ifcolor" > {% if useri.langSet == 0 %} Rangi {% else %} Color {% endif %}</th>
                         
          
                           
                            <th id="ifSize" > {% if useri.langSet == 0 %} Size {% else %} Size {% endif %}</th>
                      
                            
                            <th > {% if useri.langSet == 0 %} Vipimo {% else %}  Units {% endif %}</th>
                            <th > {% if useri.langSet == 0 %} Bei {% else %}  Price {% endif %}</th>
                            <th > {% if useri.langSet == 0 %} Idadi  {% else %} Quantity {% endif %}</th>
                            <th >{% if useri.langSet == 0 %}  Jumla  {% else %} Total{% endif %}</th>
                            <th class="Hudumia" colspan="2" hidden > {% if useri.langSet == 0 %} Muda {% else %}  Duration {% endif %} </th>
                            <th class="Hudumia" hidden > {% if useri.langSet == 0 %} Jumla {% else %}  Total {% endif %} </th>
                          </tr>
          
          
          
                                  <tbody  id="view-invo_tbody">
                                     
          
          
                                  </tbody>
          
                         </table>
                         </div>
          
          
                         <div class="row ">
                             <div class="col-md-5">
          
                             </div>
                             <div class="col-md-7 row border py-2 text-right latoFont invo_sumary" style="margin-top: -9px;">
                            <!-- ACTUAL TOTAL -->
                            <div class="row classic_div border-bottom" id="when_discount" style="display: none;">
                                <div class="py-1 col-5 ">
                                  {% if useri.langSet == 0 %}  Jumla kwa Bei {% else %}  Actual Total {% endif %}: 
                              </div>
                             <div class="col-7 ">
                                 <span class=" pl-2" style="color:blue">
                                   {{duka.currencii}}
                                  </span>. 
                                  <span id="bei_halisi"></span>
                             </div>
          
                             <!-- DISCOUNT FIELD -->
                              <div class="py-1 col-5">
                                  {% if useri.langSet == 0 %}  Punguzo {% else %}  Discount {% endif %}: 
                              </div>
                             <div class="col-7 ">
                                 <span class=" pl-2" style="color:blue">
                                   {{duka.currencii}}
                                  </span>. 
                                  <span id="punguzo_tu"></span>
                             </div>
          
                            </div>
                              
          
                             <div class="row  classic_div col-12 m-0 p-0" id="show_vat_if" style="display: none;">
                             <!-- SUB TOTAL -->
                              <div class="py-1 col-5">
                                  {% if useri.langSet == 0 %}Jumla kwa Mauzo{% else %}Sub Total{% endif %}: 
                              </div>
                             <div class="col-7 ">
                                 <span class=" pl-2" style="color:blue">
                                   {{duka.currencii}}
                                  </span>. 
                                  <span id="bei_bila_vat"></span>
                             </div>
          
          
                             <!-- VAT -->
          
                             <div class="py-1 col-5 bg-light">VAT(<span id="vatp" ></span>%): 
                             </div>
           
                             <div class="col-7 bg-light text-right">
                                 <span class=" pl-2" style="color:blue">
                                  {{duka.currencii}}
                              </span>.  
                                <span id="the_invo_vat">
                                </span>
                             </div>
                             </div>
          
          
                          <!--TO BE PAID AMOUNT  -->
                              <div class="col-5 py-1 border-top">
                                <strong>{% if useri.langSet == 0 %} Jumla  {% else %} Total {% endif %}</strong> : 
                              </div>
                             <div class="col-7 py-1 border-top">
                                 <span class="pl-2" style="color:blue">
                                    {{duka.currencii}}
                                  </span>.
                                   <strong class="text-danger" id="TheInvoPage" ></strong>
                             </div>
          
                            
                             
          
          
                             </div>
          
          
                             
                         </div>
          
                         
                           <hr>
          
          
                     <div class="row classic_div">
                          <p class="col-12 " >{% if useri.langSet == 0 %} Imehakikiwa Na  {% else %} Confirmed By {% endif %}: 
                            <a href="{% if not the_bill.By.user.user == duka.owner and not the_bill.By == cheo %}/EmployeeDetails?wrk={{the_bill.By.fanyakazi.id}}{% else %}#{% endif %}">
                            <strong id="TheInvoBy" class="text-capitalize" ></strong> 
                           </a>
                          </p>
          
                        
                     </div>


                     <div id="ifFidia">
                          
                     </div>
                     


                          
                     
                       
          
          
                          
          
                        
            
          
                          </div>

                          <div class="table-responsive" id="IfPaid" >
                            <div class="classic_div " style="width: 700px;">
                         <h5 class="mt-3">{% if useri.langSet == 0 %} Malipo  {% else %} Payments {% endif %}:</h5> 
        
                        <div class="d-flex classic_div" >
                          <div class="px-2">
                            <div class="text-center " 
                                  style="
                                       height:50px;
                                       width:50px;
                                       font-size:40px;
                                       border:1px solid #f2f2f2;
                                       border-radius:50%;
                                       background:#fffdfd;
                                       -webkit-box-shadow: inset 0px 0px 7px -4px rgba(0,0,0,0.33); 
                                        box-shadow: inset 0px 0px 7px -4px rgba(0,0,0,0.33);
        
                                       "> 
                                 <div style="margin-top:-5px ;" > $</div> 
                            </div>
                          </div>
                          <div  style="border-left:2px solid #f2f2f2 ;">
                          <ul class="list-unstyled" id="TheMalipoLi" >
                        </ul>
                    </div>
                  </div>
                  </div>
                         </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              
            </div>
        </div>
    </div>
</div>



    <input type="hidden" id="currencii" value="{{duka.currencii}}" data-currencii="{{duka.currencii}}" />
   <input type="hidden"s value="{% if cheo.user == duka.owner %}1{% else %}0{% endif %}" id="HIMOWNER">
{% endblock %}

{% block billmpya %}
   <script src="{% static 'js/riports/repots.js' %}">  </script>
   <script src="{% static 'js/riports/payments/incomeExpenditure.js' %}">  </script>
{% endblock %}
 
{% block dash-mapper %}
  Dashboard
{% endblock %}

{% block nav-ripoti %}
class="c-menu__item style-none is-active"
{% endblock %}

{% block active-riport %} class="bi bi-graph-up text-primary" {% endblock %}

{% block dash-map %} 
   <a href="/riport/riportPage">{% if useri.langSet == 0 %}Ripoti {% else %}Reports{% endif %}</a>
   <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
  </svg>
  <a href="#">{% if useri.langSet == 0 %}Ripoti ya Mapato Na Matumizi {% else %}Income and Expenditure Reports{% endif %}</a>
{% endblock %}