
{% load humanize %}
{% load static %}
{% static "pics" as baseUrl %}


<!doctype html>
<html lang="en">
  <head>
    <title>
        INVO-{{the_bill.code}}
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <script type="text/javascript" src="{% static 'js/jquery.js' %}" ></script>

    <!-- <script src="{% static 'js/staffaccordion.js' %}"></script> -->

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/momentlocale.js' %}"></script>
    <script src="{% static 'js/qrcode.min.js' %}"></script>


<style>
    body{
       font-family: 'Lato', Calibri, Arial, sans-serif;
       color: rgb(97, 97, 97);
    } 

    html, body {
       
        min-width: 1130px;
      }

    td{
        color: rgb(51, 51, 51);
        font-weight:500;
        font-size: large;

    }
    .smallFont{
        font-size: small;
    }

    .brown{
        color:brown;
    }

    th{
        text-align: center;
    }

    table{
        border-color:#000  !important;
        background:#f2f2f2;
        border-width: 1px;
    }

    .total_amount{
        font-size: x-large;
    }
    .invo_sumary{
        font-size: large;
    }
    .itm_desc{
        font-weight:lighter;
    }
    td div strong{
        font-weight: bolder;
        color: #3989c6;
    }


</style>
</head>
  <body>

    
<div  class="table-responsive pt-3 pb-5" id="invo_box" >

    <div class="classic_div mt-sm-2 pt-3 pb-2 px-3 the_invo_page" id="the_invo_page" >
<h3 class="mb-3"><a href="/"> FanyaBiashara.com</a> </h3>        
        <div class="border-bottom py-3 text-center">
            {% if the_bill.Interprise.logo and the_bill.Interprise.invo_logo %}
                         <div  style="height: 80px;">
                            <img src="{{the_bill.Interprise.logo.url}}" style="height:100%">
                          </div> 
                       {% endif %}
                    
                       <h1 class="font-weight-bold">
                           {{the_bill.Interprise.name | title}}
                       </h1>
                       <h4 style="margin-top:-10px"  >
                         {{the_bill.Interprise.slogan}}
                       </h4>

                        <h4 style="margin-top:-10px"  >
                           {{the_bill.Interprise.jengo}}
                        </h4>

                       <h4 style="margin-top:-10px" >
                         {{the_bill.Interprise.mtaa.mtaa | title }}, {{the_bill.Interprise.mtaa.kata.kata | title }},    
                         {{the_bill.Interprise.mtaa.kata.wilaya.wilaya | title }} ,{{the_bill.Interprise.mtaa.kata.wilaya.mkoa.mkoa | title }} 
                         {{the_bill.Interprise.mtaa.kata.wilaya.mkoa.kanda.nchi.name | title }} 
                    </h4>
                    

                    {% if reg.count > 0 %}
                              
                    <div class="col-12" style="margin-top: -6px;">
                        <h6>
                         {% for r in reg %}
                            {% if forloop.counter > 1 %}
                               ,
                            {% endif %}
                               {{r.reg_name }}:  {{r.reg_no }}
                            {% endfor %}
                        </h6>
                    </div>   
                   
                {% endif %}
                    
                       <h3 style="margin-top:-10px" ><strong>{{the_bill.Interprise.Intp_code}}</strong> </h3>
       </div>
  <div class="row classic_div pt-2" >
        <!-- <div class="col-7 border-right">
            
            <div class="row" >
                
               
                <div class="col-12 ">
                    {% if the_bill.Interprise.logo and the_bill.Interprise.invo_logo %}
                    <div class="pl-5 classic_div" style="height: 80px;">
                       <img src="{{the_bill.Interprise.logo.url}}" style="height:100%">
                     </div> 
                  {% endif %}
                    <h2 class="font-weight-bold">
                        {{the_bill.Interprise.name | title}}
                    </h2>
                </div>
                                             
                <div class="col-12" style="margin-top:-6px">
                    <h4 class="">
                        {{the_bill.Interprise.mtaa | title}} , {{the_bill.Interprise.wilaya}} , {{the_bill.Interprise.mkoa}}, {{the_bill.Interprise.country}}
                    </h4>


                </div>

            </div>

             <div class="row" style="margin-top: -6px;">
               <div class="col-12">
                    <h4 class="">
                      code:{{the_bill.Interprise.Intp_code}} 
                    </h4>
                </div>
                <div class="col-12">
                    <h4 class="">
                        {{the_bill.Interprise.owner.email | title}} 
                    </h4>
                </div>

                  
                {% if reg.count > 0 %}
                       {% for r in reg %}
                        <div class="col-12" style="margin-top: -6px;">
                            <h4 >
                                {{r.reg_name }}:  {{r.reg_no }}
                            </h4>
                        </div>   
                       {% endfor %}
                    {% endif %}
                
            </div>
        <br>

    </div> -->
     <div class="col-12">
        {% if the_bill.cart %}
                <h1 class="text-danger ">
                        {% if the_bill.service %}
                        {% if then.langSet == 0 %} NUKUU YA HUUDUMA {% else %}SERVICE QUOTATION {% endif %}
                        {% else %}
                        {% if then.langSet == 0 %} NUKUU YA MANUNUZI {% else %} PURCHASE QUOTATION {% endif %}
                        {% endif %}
                    </h1>
        {% else %}
         <h1 class="text-danger ">
            {% if the_bill.service %}
               {% if then.langSet == 0 %} ANKARA YA HUUDUMA {% else %}SERVICE INVOICE {% endif %}
            {% else %}
             {% if then.langSet == 0 %} ANKARA {% else %} INVOICE {% endif %}
            {% endif %}
         </h1>
          <div class=" " style="margin-top:-14px">
              
               <h3>INVO-{{the_bill.code}}</h3> 
            
          </div>
          {% endif %}
          <hr>

          {% if  not the_bill.cart  %}
          <div class="row smallFont" style="margin-top: -6px;">
            <div class="col-5 ">
                <h4 class="text-danger">
                    {% if then.langSet == 0 %} Tarehe  {% else %} Invoice Date {% endif %}
                </h4>
            </div>
            <div class="col-7 ">
                <h4>
                    {{the_bill.date | date:'d/m/Y'}}
                </h4>
            </div>  
          </div>

       <div class="row smallFont" style="margin-top: -6px;">
        <div class="col-5 ">
            
              <h4 class="text-danger ">
                   {% if then.langSet == 0 %} Kukamilisha  {% else %} Due date {% endif %}
              </h4>
            
          </div>
        <div class="col-7 ">
            <h4>
                {{the_bill.kulipa | date:'d/m/Y'}}
            </h4>
        </div>
        </div>

        
    <div class="row ">
        <div class="col-5">
            <h4>
                {% if then.langSet == 0 %} Statasi{% else %} Status  {% endif %} :
            </h4>
        </div>
      <h4 class="col-7">
            {% if the_bill.ilolipwa == the_bill.amount %}
            <strong style="font-family:'Ubuntu',sans serif;color:#205302b4" >
               {% if then.langSet == 0 %}   IMELIPIWA{% else %} PAID  {% endif %}
            </strong>
            {% elif the_bill.ilolipwa != 0 %}
            <strong style="font-family:'Ubuntu',sans serif;color:#2f6a79" >
               {% if then.langSet == 0 %}  IMELIPWA KIASI {% else %} LESS PAID {% endif %}
            </strong>
            {% elif the_bill.ilolipwa == 0 %}
            <strong style="font-family:'Ubuntu',sans serif;color:#9b1010" >
                {% if then.langSet == 0 %}  HAIJALIPIWA {% else %} UNPAID {% endif %}
            </strong>
            {% endif %}
        </h4>

        </div>


        


     </div>
 </div>
   <hr>

   {% endif %}
  <!-- IF IS SERVICE -->
  {% if the_bill.service %}
  <h4 class="latoFont px-3 weight600">
                
     {% if useri.langSet == 0 %} Muda wa Huduma{% else %} Service Duration {% endif %}
  </h4> 
<h4 class="row px-3">
    <div class="col-7 row">
        <div class="col-3 "> {% if useri.langSet == 0 %}Kuanzia   {% else %} From {% endif %}:  </div>
        <div class="col-8 brown weight500">
            <script> document.write(moment('{{the_bill.servFrom | date:"r" }}').format('MMMM DD, YYYY, HH:mm')) </script>
             
         </div>
       
    </div>
    <div class="col-7 row"> 
      <div class="col-3 "> {% if useri.langSet == 0 %} Hadi {% else %} To {% endif %}:  </div>
        <div class="col-8 brown weight500">
         <script> document.write(moment('{{the_bill.servTo | date:"r" }}').format('MMMM DD, YYYY, HH:mm')) </script>
        </div>
     </div>
 </h4>

<hr>
{% endif %}

   <div class="row px-3">
    {% if not the_bill.cart %}
       <div class="col-6"></div>
        <div class="col-6 border-left border-bottom">
            <h5 class="row  ">
                <div class="col-4">
                <span class="text-danger">{% if then.langSet == 0 %} Kiasi  {% else %} Amount {% endif %}</span>:
                </div>
                <div class="col-8 text-right">
                <span class="smallFont" style="color: #2900dd;"> {{the_bill.Interprise.currencii}}</span>. <span >{{the_bill.amount | floatformat:'-2' | intcomma }} </span>

                </div>
                <div class="col-4">
                <span class="text-danger">{% if then.langSet == 0 %} Ilolipwa  {% else %} Paid {% endif %}</span>:
                </div>
                <div class="col-8 text-right">
                <span class="smallFont" style="color: #2900dd;"> {{the_bill.Interprise.currencii}}</span>. <span >{{the_bill.ilolipwa | floatformat:'-2' | intcomma }} </span>

                </div>
                {% if the_bill.ilolipwa != the_bill.amount %}
                <div class="col-4 border-top">
                <span class="text-danger">{% if then.langSet == 0 %} Deni  {% else %} Debt {% endif %}</span>:
                </div>
                <div class="col-8 border-top text-right">
                <span class="smallerFont" style="color: #2900dd;"> {{the_bill.Interprise.currencii}}</span>. <label >
                    <script>
                        //  $(document).ready(function(){
                            let am= Number('{{the_bill.amount}}'),
                                pd = Number('{{the_bill.ilolipwa}}')
                                document.write((am-pd).toLocaleString())
                        // })
                        
                    </script>
                </label>

                </div>

                {% endif %}
                </h5>
        </div>
    {% endif %} 
 


     <h4 class="col-6">
        <span class="text-danger">
            {% if then.langSet == 0 %} Bili kwa  {% else %} Bill To {% endif %}:
        </span> <br>
        <address >
           <strong> {{the_bill.mteja_jina | title }}</strong>
       
          
       
          {% if the_bill.online %} 
             <br>
             {% if then.langSet == 0 %} Simu  {% else %} Phone {% endif %}:   {{the_bill.user_customer.enteprise.owner.simu1 }}
             <br>
             {% if the_bill.user_customer %}
             
                {% if not the_bill.cart %}
                    {{the_bill.user_customer.jengo }} 
                    <br>
                {% endif %}    

             {% endif %}
             {{the_bill.user_customer.enteprise.mtaa.mtaa |title}},  {{the_bill.user_customer.enteprise.mtaa.kata.kata |title}},  
             {{the_bill.user_customer.enteprise.mtaa.kata.wilaya.wilaya |title}},  {{the_bill.user_customer.enteprise.mtaa.kata.wilaya.mkoa.mkoa |title}},  
             {{the_bill.user_customer.enteprise.mtaa.kata.wilaya.mkoa.kanda.nchi.name |title}}
         
     

             {% else %}
             <br>
              {% if then.langSet == 0 %} Simu  {% else %} Phone {% endif %}:   {{the_bill.simu }}
          <br>
            {{the_bill.address}}
          {% endif %}  
        </address>
        
        

       </h4>
       <div class="col-6"></div>
   </div>
   <br>


   <table id="prod_table" class=" table-bordered table "  data-row=1>
    <tr class="bg-light  ">
      <th   > #</th>
      <th   > {% if then.langSet == 0 %} Jina la Bidhaa  {% else %} Item Name {% endif %}</th>

      {% if color.count > 0  %}
      <th > {% if then.langSet == 0 %} Rangi {% else %} Color {% endif %}</th>
      {% endif %}

      {% if size.count > 0  %}
      <th > {% if then.langSet == 0 %} Size {% else %} Size {% endif %}</th>
      {% endif %}

      <th > {% if then.langSet == 0 %} Vipimo {% else %}  Units {% endif %}</th>
      <th > {% if then.langSet == 0 %} Bei {% else %}  Price {% endif %}</th>
      <th > {% if then.langSet == 0 %} Idadi  {% else %} Quantity {% endif %}</th>
      <th >{% if then.langSet == 0 %}  Jumla  {% else %}  Total {% endif %}</th>
      {% if the_bill.service %}
      <th colspan="2" > {% if then.langSet == 0 %}Muda  {% else %} Duration {% endif %}</th>
      <th >{% if then.langSet == 0 %}  Jumla{% else %}  Total{% endif %}</th>
      {% endif %}
    </tr>



            <tbody  id="view-invo_tbody">
               


            </tbody>

   </table>


   <div class="row ">
       <div class="col-5">
        {% if not the_bill.cart %} 
        <div class="col-12">
            <div id="imgBox">
                <img src="" alt="" id="qrImage">
                
            </div>
          </div>


          <script>
             $(document).ready(function(){
                const url = window.location.host;
                const imgBox= document.getElementById("imgBox")

                  qrcode = new QRCode('imgBox',{
                    text:`${url}/mauzo/viewInvo?item_valued={{727}}`,
                    height:200,
                    width:200,
                  
                })
             })
          </script>

          {% endif %}

       </div>
       <div class="col-7 row border py-2 text-right latoFont invo_sumary" style="margin-top: -9px;">
      <!-- ACTUAL TOTAL -->
      <!-- <div class="row  border-bottom " id="when_discount" style="display: none;margin-right:auto;margin-left:auto"> -->
          <div class="py-1 col-5 when_discount" style="display: none;">
            {% if then.langSet == 0 %}  Jumla kwa Bei {% else %}  Actual Total {% endif %}: 
        </div>
       <div class="col-7 when_discount" style="display: none">
           <span class=" pl-2" style="color:blue;font-size:small">
             {{the_bill.Interprise.currencii}}
            </span>. 
            <span id="bei_halisi"></span>
       </div>

       <!-- DISCOUNT FIELD -->
        <div class="py-1 col-5 when_discount" style="display: none">
            {% if then.langSet == 0 %}  Punguzo {% else %}  Discount {% endif %}: 
        </div>
       <div class="col-7 when_discount" style="display: none">
           <span class=" pl-2" style="color:blue;font-size:small">
             {{the_bill.Interprise.currencii}}
            </span>. 
            <span id="punguzo_tu"></span>
       </div>

      <!-- </div> -->
        

       <div class="row weight600 classic_div col-12 m-0 p-0" id="show_vat_if" style="display: none;">
       <!-- SUB TOTAL -->
        <div class="py-1 col-5">
            {% if then.langSet == 0 %}  Jumla kwa Mauzo {% else %}  Sub Total {% endif %}: 
        </div>
       <div class="col-7 ">
           <span class=" pl-2" style="color:blue;font-size:small">
             {{the_bill.Interprise.currencii}}
            </span>. 
            <span id="bei_bila_vat"></span>
       </div>


       <!-- VAT -->

       <div class="py-1 col-5 weight600 bg-light">VAT({{the_bill.Interprise.vatper|floatformat:'-2'}}%): 
       </div>

       <div class="col-7 bg-light text-right">
           <span class=" pl-2" style="color:blue;font-size:small">
            {{the_bill.Interprise.currencii}}
        </span>.  
          <span id="the_invo_vat">
          </span>
       </div>
       </div>

  <!--TO BE PAID AMOUNT  -->
    <div class="col-5 py-3 border-top total_amount" >
          <strong>{% if then.langSet == 0 %} Inayolipwa  {% else %} Payable {% endif %}</strong> : 
        </div>
       <div class="col-7 py-3 border-top total_amount">
           <span class="pl-2" style="color:blue;font-size:small">
              {{the_bill.Interprise.currencii}}
            </span>.
             <strong class="text-danger">{{the_bill.amount | floatformat:'-2' | intcomma }}</strong>
       </div>

    </div>

  
    

      
       


       </div>


       
       {% if ulilipa %}
               <hr>
               
               <div class="row classic_div ">
                   <div class="col-8">
                      <h5>{% if then.langSet == 0 %} Malipo  {% else %} Payments{% endif %} </h5>
                       
                        <table class="table table-sm"  >
                            <thead>
                                <tr>
                                    <th>{% if then.langSet == 0 %} Tarehe{% else %} Date{% endif %}</th>
                                    <th>{% if then.langSet == 0 %} Kiasi {% else %} Amount{% endif %} <span class="text-primary smallerFont">({{the_bill.Interprise.currencii}})</span> </th>
                                    <th>{% if then.langSet == 0 %} Njia ya Malipo{% else %} Payments Type{% endif %}</th>
                                    <th>{% if then.langSet == 0 %} Ilipokelewa Na{% else %}Receved By{% endif %}</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for m in ulilipa %}
                                <tr class="text-center" >
                                     <td> 
                                            <script>
                                                document.write(moment('{{m.tarehe | date:"r" }}').format('DD/MM/YYYY, HH:mm:'))
                                            </script>
                                    </td>
                                    <td><strong class="brown" > {{m.Amount | floatformat:'-2' | intcomma }} </strong></td>
                                    <td>{{m.Akaunt.aina | title }} </td>
                                    <td>{{m.by.user.user.first_name | title }}  {{m.by.user.user.last_name | title}}  </td>
                                </tr>
                                 
                                {% endfor %}
                            </tbody>
                               
                        </table>
            
            
            
                         
                   </div>
               </div>  
          {% endif %} 

   
     <hr>
    
     {% if not the_bill.cart %}
      <p> <h4>{% if then.langSet == 0 %} Imetolewa Na  {% else %} Issued By {% endif %}: <strong>{{the_bill.By.user.user.first_name | title}}   {{the_bill.By.user.user.last_name | title}}</strong> </h4>  </p>
     {% endif %}

     {% if fidia is not none %}
                 <h5 class="py-3" style="border-left: 3px solid #9c4545 ;background:rgb(250, 242, 242)">
                   <span class="px-2" style="color:#9c4545;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                      <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                    </svg>
                   </span>
                   {% if then.langSet == 0 %} Fidia ya bidhaa zilizorudishwa, kiasi {% else %} Refunding the returned items, amount {% endif %} {{the_bill.Interprise.currencii | title }}.{{fidia.re_am  | floatformat:'-2' | intcomma  }} ,
                   <a class="text-primary" href="#" >
                       RE-{{fidia.sale_rtn.code}}

                   </a>
                  
                 </h5>
                 {% endif %}
   
   {% if the_bill.ilolipwa != the_bill.amount %}
     <div class="desc">
         {{the_bill.invo_desc.desc | safe }}
     </div>      
    {% endif %}       

     <h4 class=" text-center" >
           {{the_bill.Interprise.name | title}},   {% if then.langSet == 0 %} Simu  {% else %} Phone {% endif %}:
           {% for sim in contact %}
           {% if sim.owner or sim.SIM1_invoince %}
          <label class="pr-2" style="color:blue">
             <u>  {{sim.user.simu1}}</u> , 
          </label>

          {%endif%}
        {% if sim.SIM2_invoince %}
          <label class="pr-2" style="color:blue">
             <u>  {{sim.user.simu2}}</u> , 
          </label>
          {% endif %}
          
       {% endfor %}

        </h4>


</div>
</div>





            <script>
                $('document').ready(function(){
                    let tot_vat=0,vat_include = false,vat_set=false,sub_tot=0
                        const vatper = Number('{{the_bill.Interprise.vatper}}')/100
                        let itms=[],itm_var={},
                            colors=[],color_var={},
                            sizes=[],sizes_var={},
                            tr='',
                            
                            set_v='',
                            includ_v='',
                            bei = 0,
                            act_bei=0,
                            sold_p=0
                    //create objects for items , color & sizes ...........................//


                    //CREATE ITEMS OBJECT...............// 

                    '{% for li in list %}'
                     vat_include=false
                     set_v='{{li.itm.vat_set}}'
                     includ_v='{{li.itm.vat_included}}'
                     vat_set=false
                     bei = Number('{{li.itm.produ.Bei_kuuza}}')
                     sale_bei = Number('{{li.itm.bei}}')
                     //make the price equal to sold price if the item sold price is greater than its actul saved price
                     sold_p = sale_bei/(1+vatper)

                    if(sold_p>bei){
                        bei = sale_bei
                    }

                     
                     if(includ_v =='True' ){
                        vat_include=true
                     }

                     if(set_v =='True' ){
                        vat_set=true
                     }

                    itm_var={
                        val:'{{li.itm.id}}',
                        bei:bei,
                        bei_jum:'{{li.itm.produ.Bei_kuuza_jum}}',
                        sold:sale_bei,
                        maelezo:'{{li.itm.produ.bidhaa.maelezo}}',
                        idadi:'{{li.itm.idadi}}',
                        jum:'{{li.itm.jum}}',
                        vat_set:vat_set,
                        vat_include:vat_include,
                        vipimo:`{{li.itm.produ.bidhaa.vipimo}}`,
                        vipimo_jum:'{{li.itm.produ.bidhaa.vipimo_jum}}',
                        jina:`{{li.itm.produ.bidhaa.bidhaa_jina}}`,
                        uwiano:'{{li.itm.produ.bidhaa.idadi_jum}}',
                        serial:`{% if li.itm.serial  %}{{li.itm.serial}}{% endif %}`,
                        timely:Number('{{li.itm.produ.timely}}'),
                        muda:Number('{{li.itm.saveT}}'),
                        picha:`{{li.picha}}`,

                    }

                    itms.push(itm_var)

                    '{% endfor %}'
                    //COLOR OBJECTS....................//
                    '{% for col in color %}'
                      color_var={
                          itm:'{{col.mauzo.id}}',
                          val:'{{col.id}}',
                          idadi:'{{col.idadi}}',
                          color_name:`{{col.color.color.color_name}}`,
                          color_code:'{{col.color.color.color_code}}'
                      }
                      colors.push(color_var)
                     '{% endfor %}'

                     //SIZES OBJECT...............//
                     '{% for sz in size %}'
                        sizes_var={
                            color:'{{sz.color.id}}',
                            size:`{{sz.size.sized.size}}`,
                            idadi:'{{sz.idadi}}',
                        }
                        sizes.push(sizes_var)
                     '{% endfor %}'
                     


                  let sales=0,total_vat=0,rnum=0,
                  dura = [
                            {
                            value:1,
                            name:lang('dakika','Minute(s)'),
                            
                            },
                            {
                            value:0,
                            name:'----',
                            
                            },
                            {
                            value:2,
                            name:lang('Saa','hour(s)'),
                            
                            
                            },
                            {
                            value:3,
                            name:lang('Siku','Day(s)'),
                            
                            
                            },
                            {
                            value:4,
                            name:lang('Wiki','Week(s)'),
                            
                            
                            },
                            {
                            value:5,
                            name:lang('mwezi','Month(s)'),
                            
                        
                            },
                            {
                            value:6,
                            name:lang('Miaka','Year(s)'),
                            
                            
                            },
                        
                        ]
  
                  itms.forEach(itm=>{
                      let col = c =>c.itm === itm.val,prc = p =>p.prod ===itm.prod,muda = dura.find(v=>v.value===itm.timely)
                      const colr = colors.filter(col)
                      let beis = 0 ,idadis=0,idad=0,vpmo='',sale=0

                      rnum+=1 
                      


                     tr+=`
                  <tr class="text-center" style="padding: 10px 3px !important;">`
                 
                   if(colr.length==0){

                    if( itm.vat_set){
                        //REGULATE MEASUARES.............//
                        if(Number(itm.idadi)%Number(itm.uwiano)==0){

                            beis= itm.vat_include?(Number(itm.bei_jum)/(1+vatper)):Number(itm.bei_jum)
                            vpmo = itm.vipimo_jum
                            idad = Number(itm.idadi)/Number(itm.uwiano)

                            sales+=Number(itm.sold)/(1+vatper)*idad*itm.muda
                            sale=Number(itm.sold)/(1+vatper)*idad
                        
                        }else{
                             beis= itm.vat_include?(Number(itm.bei)/(1+vatper)):Number(itm.bei)
                             vpmo=itm.vipimo
                             idad = Number(itm.idadi)
                            sales+=Number(itm.sold)*idad/(1+vatper)*itm.muda                                  
                            sale=Number(itm.sold)*idad/(1+vatper)                                   
                        }

                    }else{
                        if(Number(itm.idadi)%Number(itm.uwiano)==0){
                            beis = Number(itm.bei_jum)
                            vpmo = itm.vipimo_jum
                            idad = Number(itm.idadi)/Number(itm.uwiano)
                            sales+=Number(itm.sold)*idad*itm.muda
                            sale=Number(itm.sold)*idad

                        }else{
                            beis = Number(itm.bei)
                            vpmo = itm.vipimo
                            idad = Number(itm.idadi)
                            sales+=Number(itm.sold)*idad*itm.muda
                            sale=Number(itm.sold)*idad

                            

                        }
                          

                        
                    }

                    sub_tot+=(beis*idad*itm.muda)
                    if(itm.vat_set){
                        total_vat+=sale*vatper*itm.muda
                    }

                     
                    tr+=`
                    <td>${rnum}</td>
                    <td class="text-left" > 
                            <div class="d-flex">
                            <div  style="width:70px;heigth:70px" >`
                            if(itm.picha!=''){
                                tr+=` <img src="${itm.picha}" style="max-width:100%;max-height:100%"  >`
                            }else{
                                tr+=` <svg xmlns="http://www.w3.org/2000/svg" width="90%" height="90%" fill="currentColor" class="bi bi-card-image text-muted " viewBox="0 0 16 16">
                                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                    <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                                </svg>`
                            }
                            tr+=`</div>

                                <div class="ml-1" >
                                <div><strong class="pl-1  text-capitalize" > ${itm.jina}</strong></div>
                                <div class="pl-2 text-muted smallerFont itm_desc" >${itm.maelezo}</div>
                                <div class="pl-2  smallerFont itm_desc font-weight-bold" >${itm.serial.replace(/[&\/\\#,+()$~%"*?<>{}`]/g, "")}</div>
                                </div>
                    </td>` 
                    
                    if(colors.length>0){
                        tr+=`<td style="padding: 10px 3px !important;"> --- </td>` 
                    }

                    if(sizes.length>0){
                      tr+=`<td style="padding: 10px 3px !important;"> --- </td>`
                    }

                     //REGULATE PRICE FOR VAT.............................//
              
                tr+=`<td style="padding: 10px 3px !important;" >${vpmo}</td>
                      <td style="padding: 10px 3px !important;" > 
                                ${Number(beis).toLocaleString()} 
                     </td>` 

                     tr+=`<td style="padding: 10px 3px !important;" > ${Number(idad).toFixed(2)}</td> 
                           <td style="padding: 10px 3px !important;" >${ (beis * Number(idad)).toLocaleString()} </td> 
                           {% if the_bill.service %}
                                <td  style="padding: 10px 3px !important;" >${muda.name} </td> 
                                <td  style="padding: 10px 3px !important;" >${itm.muda} </td> 
                                <td  style="padding: 10px 3px !important;" >${(beis * Number(idad)*Number(itm.muda)).toLocaleString()} </td> 
                            {% endif %}  
                    `
                 
                }else{
                    let span=colr.length+1


                         
                    tr+=`
                    <td class="rnum" `
                    if(colr.length>1){
                     tr+=` rowspan="${span}"`
                    }
                tr+=`>${rnum}</td>
                    
                    <td class="text-left span1" id="span_${itm.val}" `
                    
                    if(colr.length>1){
                     tr+=` rowspan="${span}"`
                    }
                    
                  tr+=`>
                     <div class="d-flex">
                            <div  style="width:70px;heigth:70px" >`
                            if(itm.picha!=''){
                                tr+=` <img src="${itm.picha}" style="max-width:100%;max-height:100%"  >`
                            }else{
                                tr+=` <svg xmlns="http://www.w3.org/2000/svg" width="90%" height="90%" fill="currentColor" class="bi bi-card-image text-muted " viewBox="0 0 16 16">
                                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                    <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                                </svg>`
                            }
                            tr+=`</div>

                                <div class="ml-1" >
                                <div><strong class="pl-1  text-capitalize" > ${itm.jina}</strong></div>
                                <div class="pl-2 text-muted smallerFont itm_desc" >${itm.maelezo}</div>
                                <div class="pl-2  smallerFont itm_desc font-weight-bold" >${itm.serial.replace(/[&\/\\#,+()$~%"*?<>{}`]/g, "")}</div>
                                </div>               
                     </td>` 


                    colr.forEach(col=>{
                        let szi = s=> s.color == col.val
                        const sz = sizes.filter(szi)

               if(colr.length>1){
               tr+=`<tr class=" text-center" style="padding: 10px 3px !important;">`
               }

                      if(sz.length==0){

                        
                        if( itm.vat_set){
                            //REGULATE MEASUARES.............//
                            if(Number(col.idadi)%Number(itm.uwiano)==0){

                                beis= itm.vat_include?(Number(itm.bei_jum)/(1+vatper)):Number(itm.bei_jum)
                                vpmo = itm.vipimo_jum
                                idad = Number(col.idadi)/Number(itm.uwiano)
                                sales+=Number(itm.sold)*itm.muda*Number(col.idadi)/(1+vatper)
                                sale=Number(itm.sold)*Number(col.idadi)/(1+vatper)

                            
                            }else{
                                 beis= itm.vat_include?(Number(itm.bei)/(1+vatper)):Number(itm.bei)
                                 vpmo=itm.vipimo
                                 idad = Number(col.idadi)
                                 sales+=Number(itm.sold)*itm.muda*idad/(1+vatper)
                                 sale=Number(itm.sold)*idad/(1+vatper)

                               
                            }

                        }else{
                            if(Number(col.idadi)%Number(itm.uwiano)==0){
                                beis = Number(itm.bei_jum)
                                vpmo = itm.vipimo_jum
                                idad = Number(col.idadi)/Number(itm.uwiano)
                                sales+=Number(itm.sold)*Number(col.idadi)*itm.muda
                                sale=Number(itm.sold)*Number(col.idadi)

                            }else{
                                beis = Number(itm.bei)
                                vpmo = itm.vipimo
                                idad = Number(col.idadi)
                                sales+=Number(itm.sold)*idad*itm.muda
                                sale=Number(itm.sold)*idad

                            }
                              

                            
                        }

                        sub_tot+=(beis*idad*itm.muda)
                        if(itm.vat_set){
                            total_vat+=sale*vatper*itm.muda
                        }

                          tr+=`<td style="padding: 10px 3px !important;" class="smallFont text-left">
                            <label 
                            style="
                            width:20px;
                            height:20px;
                            background:${col.color_code};
                            border-radius:100%;
                            color:rgba(240, 248, 255, 0);
                            border:1px solid #ccc"
                            >
                            ''
                        </label> 
                        ${titleCase(col.color_name)}
                          </td> `
                          if(sizes.length>0){
                          tr+=`<td style="padding: 10px 3px !important;"> --- </td> `
                          }

                           
                          
                          tr+=`<td style="padding: 10px 3px !important;" >${vpmo}</td>
                          <td style="padding: 10px 3px !important;" > 
                                    ${Number(beis).toLocaleString()} 
                         </td>`

                        
                        tr+=` <td style="padding: 10px 3px !important;" > ${Number(idad).toFixed(2)}</td> 
                              <td style="padding: 10px 3px !important;" >${ (beis * Number(idad)).toLocaleString()} </td> 
                              {% if the_bill.service %}
                                        <td  style="padding: 10px 3px !important;" >${muda.name} </td> 
                                        <td  style="padding: 10px 3px !important;" >${itm.muda} </td> 
                                        <td  style="padding: 10px 3px !important;" >${(beis * Number(idad)*Number(itm.muda)).toLocaleString()} </td> 
                                {% endif %}
                              `
            
                     }else{
                        tr+=`<td style="padding: 10px 3px !important;" `
                        if(sz.length>1){
                           tr+=` rowspan=${sz.length+1}` 
                        }
                        
                       tr+=` data-itm="${itm.val}" class="span2 smallFont text-left" >
                            <label 
                            style="
                            width:20px;
                            height:20px;
                            background:${col.color_code};
                            border-radius:100%;
                            color:rgba(240, 248, 255, 0);
                            border:1px solid #ccc"
                            >
                            ''
                        </label> 
                            ${titleCase(col.color_name)}</td>` 
                         
                         sz.forEach(s=>{
                            if( itm.vat_set){
                                //REGULATE MEASUARES.............//
                                if(Number(s.idadi)%Number(itm.uwiano)==0){

                                    beis= itm.vat_include?(Number(itm.bei_jum)/(1+vatper)):Number(itm.bei_jum)
                                    vpmo = itm.vipimo_jum
                                    idad = Number(s.idadi)/Number(itm.uwiano)
                                    sales+=Number(itm.sold)*itm.muda*Number(s.idadi)/(1+vatper)
                                    sale=Number(itm.sold)*Number(s.idadi)/(1+vatper)

                                
                                }else{
                                     beis= (Number(itm.bei)/(1+vatper))
                                     vpmo=itm.vipimo
                                     idad = Number(s.idadi)
                                     sales+=Number(itm.sold)*itm.muda*idad/(1+vatper)
                                     sale=Number(itm.sold)*idad/(1+vatper)

                                   
                                }

                            }else{
                                if(Number(s.idadi)%Number(itm.uwiano)==0){
                                    beis = Number(itm.bei_jum)
                                    vpmo = itm.vipimo_jum
                                    idad = Number(s.idadi)/Number(itm.uwiano)
                                    sales+=Number(itm.sold)*Number(s.idadi)*itm.muda
                                    sale=Number(itm.sold)*Number(s.idadi)

                                    
                                }else{
                                    beis = Number(itm.bei)
                                    vpmo = itm.vipimo
                                    idad = Number(s.idadi)
                                    sales+=Number(itm.sold)*idad*itm.muda
                                    sale=Number(itm.sold)*idad

                                }
                                  

                                
                            }
                            sub_tot+=(beis*idad*itm.muda)
                            if(itm.vat_set){
                                total_vat+=sale*vatper*itm.muda
                            }

                          if(sz.length>1){
                           tr+=`<tr class="text-center" style="padding: 10px 3px !important;"> `
                             
                          }   

                           tr+=`<td class="text-center" style="padding: 10px 3px !important;"><span class="text-danger smallFont"> ${s.size}</span></td>` 
                          
                           tr+=`<td style="padding: 10px 3px !important;" >${vpmo}</td>
                                <td style="padding: 10px 3px !important;" > ${Number(beis).toLocaleString()} </td>`


                               tr+=`<td class="text-center " style="padding: 10px 3px !important;" > ${Number(idad).toFixed(2)}</td> 
                                  <td class="text-center " style="padding: 10px 3px !important;" >${ (beis * Number(idad)).toLocaleString()} </td>
                                  {% if the_bill.service %}
                                  <td  style="padding: 10px 3px !important;" >${muda.name} </td> 
                                  <td  style="padding: 10px 3px !important;" >${itm.muda} </td> 
                                  <td  style="padding: 10px 3px !important;" >${(beis * Number(idad)*Number(itm.muda)).toLocaleString()} </td> 
                          {% endif %}  
                                `
                           if(sz.length>1){
                          tr+=`  </tr>`
                        }
                           
                  
                             
                         })
                     }
                      
                   
                     if(colr.length>1){
                        tr+=`</tr>`
                        
                        }                     
                    })
                   
                }

                tr+=`</tr>`

                  })  

                //  console.log('sub',sub_tot)
                //  console.log('sales',sales)
                //  console.log('diff',Number(sub_tot-sales).toLocaleString())
                  
                  $('#view-invo_tbody').html(tr)

                  if(sub_tot-sales>0){
                    $('.when_discount').show()
                  }

                  $('#bei_halisi').text(sub_tot.toLocaleString())
                  $('#punguzo_tu').text((sub_tot-sales).toLocaleString())

                  $('#bei_bila_vat').text(sales.toLocaleString())
                  
                  if(total_vat>0){
                      $('#show_vat_if').show()
                  }else{
                       $('#show_vat_if').hide()
                     
                  }
                  $('#the_invo_vat').text(total_vat.toLocaleString())

                  $('.span2').each(function(){
                      if(Number($(this).attr('rowspan'))){
                      let rowspan=Number($(this).attr('rowspan'))-1,
                          parent='#span_'+$(this).data('itm'),
                          prow= Number($(parent).attr('rowspan'))
                     $(parent).attr('rowspan',prow + rowspan)
                     $(parent).siblings('.rnum').attr('rowspan',prow + rowspan)
                     }
                    //  $(parent).attr('rowspan',Number(parent.attr('rowspan'))+1)
                     // console.log(prow)
                  })
                 
                 
             


              
               
            
            //PRINT BILL
           
            
           })
           
       



           
//function for title Case
function titleCase(str) {
    var splitStr = str.toLowerCase().split(' ');
    for (var i = 0; i < splitStr.length; i++) {
        // You do not need to check if i is larger than splitStr length, as your for does that for you
        // Assign it back to the array
        splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);     
    }
    // Directly return the joined string
    return splitStr.join(' '); 
 }


           
    $(document).ready(function(){
        setTimeout(function(){window.print();}, 200)

        window.onafterprint = function(e){
                   closeMe()

         }




function closeMe()
    {
        
        window.opener = self;
        try{
            if(window.outerWidth>800){
              setTimeout(function(){window.close();}, 100)
              
           }else{
               window.open()
               
               setTimeout(function(){window.close();}, 5000)
           }
           }catch(err){
            alert(err.message)
        }
         
    }


    })      



              


            </script>
          
          <span id="luga" hidden >{{then.langSet}}</span>


  <script src="/static/js/lugha.js"></script>

      
    </body>
</html>






