{% extends 'services.html' %}
{% load static %}
<!-- TOP NAVIATIONS <MENU -->
    {% block top-nav-group %} actively {% endblock %}
    {% block top-nav-group-icon %}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
        <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
      </svg>
    {% endblock %}
        
    <!-- NAVIGATIONS FOR MOBILE -->
    {% block active-group-menu %}
    text-primary weight700
    {% endblock %}
    {% block group-icon %}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-collection-fill" viewBox="0 0 16 16">
        <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
    </svg>
    {% endblock %}

    {% block ufupisho %}
    {% if useri.langSet == 0 %} Makundi ya Huduma{% else %}Services Groups{% endif %}
    {% endblock %}

    {% block li-title %}
    {% if useri.langSet == 0 %}Orodha ya Makundi ya Huduma  {% else %}Services Groups List{% endif %}

{% endblock %}


{% block dash-map %}
   {% if useri.langSet == 0 %}Makundi {% else %}Groups{% endif %}
{% endblock %}

    <!-- NAV MAPPER -->
{% block map-with %}
{% if useri.langSet == 0 %}Makundi{% else %}Groups{% endif %}
{% endblock %}
 
<!-- ROAD ALL ITEME -->
{% block roadMap %}/stoku/serviceKundi{% endblock %}

{% block datatable %}
<script>    
    $('#loadMe').modal('show')
  </script>
<script src="{% static 'js/services/servicesKundi.js' %}"></script>    
{% endblock %}