{% extends 'welcome.html' %}

{% block content %}
<div class="content-panel whiteBg p-3  py-3"   style="margin-top:90px">
    <h3 class="text-md-center mt-4 ">{% if lang == 0 %}Makubaliano na Utaratibu {% else %}Terms & Conditions{% endif %}</h3>
            {% if lang == 0 %}
            <div class="termPanel mb-3">
                <h4 class="mb-2">
                    Utangulizi:
                </h4>
                <p>
                    Karibu kwenye Utaratibu/kanuni na makubaliano yanayosimamia matumizi ya huduma za fanyabiashara zilizoorodheshwa na timu ya kampuni la fanyabiasha. Ikiwa haukubaliani na masharti haya, basi uko huru kutojiandikisha kutumia programu na ikiwa unakubali basi unaweza kuweka alama ya tiki kwenye kisanduku cha kukubali na uendelee kujiandikisha. Notisi hii pia inaweza kuboreshwa wakati wowote kwani masharti mengine zaidi yanaweza kutokea hapo, jisikie huru kukagua na kufanya maamuzi yako.                        </p>
            </div>

            <div class="termPanel mb-3">
                <h4 class="mb-2">
                    Tafsiri:
                </h4>
                <p>
                    “Fanyabiashara” <br>
                    Neno la Kiswahili linalomaanisha kufanya biashara na limetumika kama jina na program hii                           <br> <br> “Makubariano” ama “Kanuni” <br>
                inamaanisha Sheria na Masharti haya ya Fanyabiashara na inajumuisha arifa, sera, miongozo au masharti yoyote yanayotumwa Kwako na Fanyabiashara au kuchapishwa kwenye tovuti.                            
                    <br> <br> “Akaunti ya kusimamia mahesabu” <br>
                    Inamaanisha akaunti ambayo mtumiaji/kampuni inamiliki ili data iliyoongezwa iweze kuchakatwa na kudhibitiwa kwa njia ambayo mtumiaji anaweza kuona kile hasa kinachotokea katika mahesabu ya karakana/biashara yake.                            
                    <br> <br>  “Kiasi cha akaunti” <br>
                    Inamaanisha kiasi ambacho mtumiaji anacho kwenye akaunti yake baada ya kuongeza malipo kwenye akaunti ya kampuni na kupewa tokeni ambazo ataingiza ili kuchaji upya akaunti yake ya fanyabiashara. Kiasi cha akaunti kinaweza kutumika kulipia usajili wa akaunti ya usimamizi, baada ya malipo ya mpango wa matumizi na utafutaji masoko.                        
                    <br>  <br>  “Mtumiaji wa kawaida” <br>
                Hii inamaanisha watumiaji wote ambao hawana biashara yoyote ya kusimamiwa kwa kutumia programu ya fanyabiara watumiaji hawa wanaweza kuagiza vitu na kuwasiliana na wachuuzi wao.                  
                </p>
            </div>

            <div class="termPanel mb-3">
                <h4 class="mb-2">
                    Nini fanyabiashara itafanya kwa ajiri yako:
                </h4>
                <h5>Makubaliano ya matumizi ya programu</h5>
                <p>
                    Hii inahusisha haki ya kupata huduma ikiwa ni pamoja na kupata taarifa zote zinazoruhusiwa zinazohitajika kwako na kufanya shughuli zote zinazoruhusiwa kwa biashara yako kulingana na mpango wako wa matumizi mahali popote wakati wowote, ikiwa hitilafu yoyote au hitilafu au utendakazi wowote usiofaa utatokea wakati wa operesheni yako tafadhali wasiliana nasi kwa msaada. Endapo kutatokea masasisho/mabadiliko yoyote ya mfumo shirika letu litakujulisha kwa kutuma ujumbe sahihi.                         </p>


                <h5>Usalama na Usiri</h5>
                <p>
                    Usalama ni sehemu muhimu unapotumia huduma zetu. Fanyabiashara itakuwezesha kulinda data yako dhidi ya kufikiwa na kutumiwa vibaya na watumiaji wengine bila ruhusa yako kama unapozingatia taratibu zote unazofuata ili kulinda akaunti yako na kifaa chako pia. FanyaBiashara itamlazimu mtumiaji kudhibitisha uhali wa natumizi ya kwa kuingiza barua pepe na neno la siri pia haitaruhusu mtumiaji Zaidi ya mmoja katika akaunti moja. Fanyabiashara pia italinda taarifa zako za siri na kutoshirikiwa na mtu yeyote kama vile nenosiri kama mtumiaji.                        </p>               

                <h5>Uthabiti na usahihi</h5>
                <p>
                    Fanyabiashara itakusaidia kupanga data yako jinsi inavyokusudiwa kwa usahihi katika ripoti zote zinazozalishwa na matukio yote ambayo unaweza kuwa unaendesha ambayo yanahusisha hesabu kama vile ankara, bili, maagizo ya wateja, miamala ya uhasibu na kadhalika. Hii pia inahitaji data sahihi zilizoingizwa kiusahihi.                        </p>  

                <h5>Kama mmiliki wa biashara au karakana ya kusimamia</h5>
                <p>
                    Muuzaji/mtoa huduma ni yule ambaye ana akaunti ya biashara yake ambayo ni kusimamia kwa usaidizi wa programu ya Fanyabiashara. Kama muuzaji/mtoa huduma Fanyabiashara kama programu ya usimamizi wa hesabu mtandaoni hukusaidia kufuatilia uhasibu wa biashara yako (malipo yaliyofanywa na kupokea na usimamizi wa akaunti za malipo), bili, kuagiza, ankara, usimamizi wa hisa (vitu, vipengele vya kutumia na huduma), uzalishaji(vipengee/wafanyikazi wa usimamizi wa nyenzo na kazi zilizofanywa, muda wa uzalishaji hadi bidhaa za mwisho), dhibiti waendeshaji wa biashara kwa ruhusa za watumiaji, wasiliana na wateja wako na wachuuzi wako pia (uwezo wa kuzungumza), utangazaji wa kidijitali wa bidhaa zako, biashara, huduma, kategoria za vitu, chapa za bidhaa, vikundi vya bidhaa pia tovuti nyingine yoyote ambayo unamiliki.                        </p>  

                <h5>Kama mtumiaji wa kawaida.</h5>
                <p>
                    Mtumiaji wa kawaida ni yule ambaye hamiliki biashara/biashara ya kusimamia kwa usaidizi wa programu hii. Mtumiaji anaweza tu kutazama wasifu/vitu/huduma za biashara kisha anaweza kuongeza kwenye kikapu, bonyeza agizo na kufanya agizo hilo lishughulikiwe na muuzaji wake kwa kuongeza anaweza kuongeza mtu wa kati kama wakala wa kuchukua/uwasilishaji, bidhaa zilizoagizwa na hupokea uthibitisho. na kutengeneza ankara zako za ununuzi wakati wa shughuli hizi zote programu ya fanyabiashara hutoa notisi inayoonyesha bidhaa na kuonyesha bei, kiasi, vipimo, anwani na sheria na masharti kutoka kwa muuzaji wa bidhaa na jumla ya gharama ya huduma/vitu vyote vitakavyonunuliwa. Pia mtumiaji wa kawaida anaweza kuongeza bango na kubainisha mahali ambapo mtumiaji atachukua anapobofya, katika hili anaweza kuongeza kiungo au kuongeza taarifa kueleza anachotaka kutoka kwa watembeleaji.                         </p>   


            </div>

            <div class="termPanel mb-3">
                <h4 class="mb-2">
                    Mambo ambayo Fanyabiashara haiwezi kufanya kwa ajiri yako:
                </h4>
                <p>
                    Kama mtumiaji wa kawaida au mmiliki wa biashara/biashara fanyabiashara huhifadhi tu rekodi za ununuzi wako, ankara, mauzo, uzalishaji, uhasibu na kutoa ripoti kulingana na jinsi unavyotumia programu. Yafuatayo ni mambo ambayo fanyabiashara haiwezi kukufanyia:                        </p>

                <h5> Malipo baina ya mteja na biashara/ biashara na mteja/mteja na mteja/biashara na biashara</h5>
                <p>
                    Fanyabiashara haina njia za malipo ambazo zinaweza kutumiwa na wachuuzi au wateja kufanya malipo kwa bidhaa zilizonunuliwa au huduma zinazotolewa au kushughulikia malipo ya kurejesha kiasi. Fanyabiashara hutoa notisi tu kama ankara ambazo hurahisisha kukokotoa gharama ya kulipwa, kwa hivyo mifumo mingine ya malipo inayoaminika inaweza kutumika kulingana na muuzaji/mtoa huduma na makubaliano ya mteja kisha fanyabiashara inaweza kuhifadhi maelezo kama marejeleo tu ikiwa yameongezwa kwenye ankara na muuzaji. au mtoa huduma. Kwa kesi hii fanyabiashara inatoa ankara pekee, na risiti za malipo hutolewa kwa njia ya malipo ambayo muuzaji anatumia.
                    
                </p>
                <h5>Malipo kwa watumiaji.</h5>
                <p>
                    Hii inahusisha kulipa watumiaji wa fanyabiashara, hii inaweza kuwa kurejesha pesa au aina yoyote ya malipo kwa watumiaji. Malipo yanayofanywa na watumiaji yanapaswa kufanywa kwa uangalifu na kiasi kinapaswa kutathminiwa kwa usahihi kulingana na huduma ambazo mtumiaji anapaswa kulipa ili kuepuka matumizi yasiyofaa ya pesa zako kwa sababu program hii haina uwezo wa kurudisha pesa kwako kwa sasa.                          
                </p>               

                
            </div>


            <div class="termPanel mb-3">
                <h4 class="mb-2">
                    Vitu ambavyo mtumiaji anatakiwa kufanya:
                </h4>
                <p>
                    Hii inajumuisha taratibu na hatua zote ambazo watumiaji wa kawaida na mmiliki wa biashara wanatakiwa kufanya kabla na wakati wa kutumia programu. Yafuatayo ni mambo ya kuzingatiwa na watumiaji kabla na wakati wa kutumia programu ya fanyabiashara.                         </p>

                <h5> Soma na uelewe utaratibu na makubaliano pamoja na sera zingine kama</h5>
                <p>
                    Kusoma notisi hii na arifa za <a href="/termprivacypolice?lang={{lang}}" >sera ya faragha na usalama</a>  baada ya kuelewana kisha fanya uamuzi unaofaa ikiwa unakubali na kuendelea na usajili au ikiwa hukubali hakuna haja ya kujisajili au kuendelea kutumia program hii                        
                </p>
                    <h5>kuingiza data sahihi na thabiti.</h5>
                <p>
                    Hii inahusisha data yote muhimu ya ingizo ya mtumiaji ambayo mtumiaji anaombwa kujaza inapaswa kuwa sahihi na thabiti kwa uwezekano wa utendakazi wa programu. Hii inajumuisha jina la mtumiaji, jinsia, mahali na mtaa ulipo. Pia kuweka kiasi wakati wa kuagiza au kuchakata bili au ankara kunapaswa kuwa sahihi na kwa bei za bidhaa za usimamizi wa biashara zinapaswa kutofautiana ili kuepuka ukokotoaji na tathmini ya bidhaa zenye thamani ipasavyo.                       
                </p> 

                <h5>Matumizi mazuri ya lugha.</h5>
                <p>
                    Lugha ya kuudhi isiyokuwa na staha na matusi hayapaswi kutumiwa wakati wa kupiga gumzo na katika majina ya biashara au maneno mengine yoyote ambayo mtumiaji anaombwa kuandika. Watumiaji na waendeshaji wanapaswa kutumia maneno sahihi na yenye staha ambayo yanafaa kwa watumiaji wengine ambayo hayajumuishi matusi au aina yoyote ya maneno ambayo yanaudhi  watumiaji wengine. Kutumia maneno sahihi na yenye staha humfanya mtumiaji kuwa huru dhidi ya uhalifu wa mtandaoni na matatizo mengine.                    
                
            </div>

            <div class="termPanel mb-3">
                <h4 class="mb-2">
                    Hitimisho:
                </h4>
            
                <p>
                    Kwa kuhitimisha, haya ni masharti ambayo mtumiaji anapaswa kusoma kabla ya kujiunga na kutumia au kusoma wakati wa kutumia na kama operesheni yoyote ambayo inabidi ifanye na inaonekana haelewi mtumiaji anaweza pia kurejerea ilani hii ili kufanya uamuzi sahihi kwa kuelewa jinsi inavyofanya. uwezekano wa kufanya kile anachotaka. Kwa habari zaidi, jisikie huru kuwasiliana nasi pia. Asante na karibu.                        
                </p>
                
            </div>

            {% else %}
            <div class="termPanel mb-3">
                <h4 class="mb-2">
                    Introduction:
                </h4>
                <p>
                    Welcome to terms & condition that govern the use of fanyabiashara services listed by fanyabiasha corporation team. If you don’t agree with these condition, then you are free not to register to use the application and if you agree then you can check on I agree check box and continue to register. This notice can also be upgraded at any time as more other terms can emerge there feel free to review and make your decisions.
                </p>
            </div>

            <div class="termPanel mb-3">
                <h4 class="mb-2">
                    Definitions:
                </h4>
                <p>
                    “Fanyabiashara” <br>
                    This is a Swahili word meaning “do business” as a name of this inventory management software 
                <br> <br> “Agreements” or “Terms”  <br>
                    means these Fanyabiashara Terms and Conditions and includes any notices, policies, guidelines or conditions sent to You by Fanyabiashara or posted on the Website.
                <br> <br> “Enterprise/Account to manage” <br>
                    Means the account which user/company owns so as the data added to can be manipulated and managed in the way that user can view what exactly is happening to the inventory 
                <br> <br>  “Account Amount” <br>
                    Means the amount that user has to his/her account after adding making payment to the company account and given tokens that he/she enter to recharge his/her fanyabiashara account. Account amount can be used to pay for management account registration, after usage plan payment and marketing.
                <br> <br> “Items”  <br>
                    These are goods which users having enterprises add for their customers and that are managed in terms of use, worth evaluation, sales and purchases.
                <br>  <br>  “Normal Users” <br>
                    This means all users that do not have any enterprise to be managed using fanyabiara application these users only can order items and communicate with their vendors.
            </p>
            </div>

            <div class="termPanel mb-3">
                <h4 class="mb-2">
                    What Fanyabiashara can do for you:
                </h4>
                <h5>Use of software agreement</h5>
                <p>
                    This involve a right to access the service including accessing all allowed information required for you and making all allowed operations for your enterprise according to your usage plan anywhere anytime, if any error or bug or any improper functionality incur during your operation please contact us to for help. In case of any system upgrades/changes our organization will inform you by proper message pop overs.      </p>


                <h5>security & Privacy</h5>
                <p>
                    Security is vital part when using our service. Fanyabiashara grants you to protect your data from being accessed and misused by other users without your permission as when you consider all the possible procedures that you follow to protect your account and your device too. FanyaBiashara will validate any other login either from defferent device. Fanyabiashara also grants to protect your confidential information and not to share by anyone such as your user password.     
                </p>               

                <h5>Consistency & accuracy</h5>
                <p>
                    Fanyabiashara grants you to organize your data as intended with accuracy across all generated reports and all instances that you may be running that involves calculations such as invoices, bills, customer orders, accounting transactions and so on. This also require proper and correct data entered.                          
                </p>  

                <h5>As an Enterprise to manage owner (Vendor/service provider)</h5>
                <p>
                    A vendor/service provider is the one who has an account for his/her enterprise that is to manage with the help of Fanyabiashara software. As vendor/service provider Fanyabiashara as an online inventory management software helps you to keep track of your enterprise accounting (payment made & receives and payment accounts management), billing, ordering, invoicing, stock management (items, components to use and services), production(components/material management workers & tasks performed, production duration to the final products), manage enterprise operator(s) with user permissions, communicate with your customers and your vendors too (chatting capability), digital marketing for your goods, enterprise, services, items categories , items brands, item groups also any other website you may own                        
                </p>  

                <h5>As a normal User.</h5>
                <p>
                    A normal user is the one who do not own a business/enterprise to manage with the help of this software. The user can only view enterprise profiles/items/services then can add to cart, press an order and get that order processed by his/her vendor on addition he/she can add a middle man as pickup/delivery agent, ordered items receives confirmations and generating your purchase invoices during all these operations fanyabiashara app generates a notice showing items and indicating price, quantity, units, item name vendor address & terms and the total cost for all services/items to be purchased. Also a normal user can add a banner and specify where the user will take when clicked,in this he/she can add a link or add notice to explain what he want from the visitors.                        </p>   


            </div>

            <div class="termPanel mb-3">
                <h4 class="mb-2">
                    What Fanyabiashara can’t do for you:
                </h4>
                <p>
                    As normal user or business/enterprise owner fanyabiashara only keep records of your purchases, invoices, sales, production, accounting and generate reports according to how are you using the software. The following are the things that fanyabiashara can’t do for you:
                </p>

                <h5>customer to business/ business to customer/customer to customer/business to business, payments</h5>
                <p>
                    Fanyabiashara do not have a payment means that can be used by both vendors or customers to make payments on the items purchased or services offered or handling amount return payments. Fanyabiashara only generates notices as invoices that make it easy to calculate the cost to be paid, hence Other trusted payment platforms can be used according to vendor/service provider and customer agreements then fanyabiashara can only store the description as reference if added to invoice by vendor or service provider. By this case fanyabiashara only offers invoices and receipts for payments is offered by the payment means that a vendor is using.                    
                </p>
                <h5>User payments.</h5>
                <p>
                    This involves paying fanyabiashara users, this may be refunding or any kind of payment to the users. Payments made by users should be carefully made and the amount should be correctly evaluated according to the services that user should pay to avoid improper use of your money since the software do not have pay back functionalities.                        
                
                </p>               

                
            </div>


            <div class="termPanel mb-3">
                <h4 class="mb-2">
                    What users should to do:
                </h4>
                <p>
                    This includes all the procedures and measures both normal users and enterprise owner are required to do before and when using the software. The following are things to be considered by users before and while using fanyabiashara software.                        </p>

                <h5> Read and understand the terms & condition and our privacy policy</h5>
                <p>
                    Reading this notice and the <a href="/termprivacypolice?lang={{lang}}">privacy & Security policy</a>  notice after understanding then make a proper decision whether to agree and continue with registration or if you don’t agree the there is no need to register.   
                </p>                 
                
                <h5>Correct & consistent user input data.</h5>
                <p>
                    This involves all the necessary user input data that the user is prompted to fill should be correct and consistent for potential functioning of the software. This includes user name, gender, place and the street where you are. Also entering quantity when ordering or processing bills or invoices should be correct and for enterprise management item prices should be inconsistent to avoid miscalculation and evaluation of items worth accordingly.                          
                </p> 

                <h5>Proper use of language.</h5>
                <p>
                    Offensive language and assaults should not be used while chatting and on enterprise titles and names or any other words that user is prompted to enter. Users and operators should use proper words that are convenient to other users that do not include assaults or any kind of words that conflict with the other users. Using proper words keep user free of cybercrimes and trouble.                        </p>               

                
            </div>

            <div class="termPanel mb-3">
                <h4 class="mb-2">
                    Conclusion:
                </h4>
            
                <p>
                    On concluding these are the terms that user should read before joining and using or read when using and if any operation that has to perform and seems to not understand user also can feel free to revise this notice so as to make proper decision by understanding how it likely to perform what he/she want. For more information, feel free to contact us too. Thank you and welcome.                  
                
                </p>
                
            </div>
            {% endif %}
</div>

<script>
    $('#langSel').change(function(){
        const sel = $(this).val()

        location.replace(`/terms?lang=${sel}`)
    })
</script>

{% endblock %}
{% block homepage %}/?lang={{lang}}{% endblock %}