{% extends 'welcome.html' %}

{% block content %}
<div class="content-panel whiteBg p-3  py-3"   style="margin-top:90px">
    <h3 class="text-md-center mt-4 ">{% if lang == 0 %}Sera ya Faragha na usalama {% else %}Privacy Policy & Security{% endif %}</h3>
            {% if lang == 0 %}
            <div class="termPanel mb-3">
                <h4 class="mb-2">
                    Utangulizi:
                </h4>
                <p>
                    Kampuni ya Uppertech Engeneering (“timu”, Usimamizi”) kama mmiliki na waendeshaji wa tovuti hii na mfumo wa fanyabiashara, tunaheshimu, kutunza na kulinda data yako ya faragha, hii ni ilani kwa sera inayozingatia. jinsi tunavyokusanya, kuhifadhi, kutumia na kutoa data yako ya binafsi au ya shirika kama mtumiaji wa huduma zetu na kama mgeni wa tovuti yetu na mifumo yetu yote ya mtandaoni na programu za simu.
                </p>
            </div>

            <div class="termPanel mb-3">
             
                <p>
                    Sera hii imeundwa ili kukuarifu kuhusu jinsi tunavyochakata data yako ya binafsi/shirika, na kwa nini tunahitaji data hizi na katika hali zipi tunahitaji kufanya kazi kulingana na data yako tuliyokusanya, kisha utafanya chaguo bora zaidi kuhusu matumizi ya huduma zetu na kwa kutembelea tovuti yetu.                </p>
                <p>
                    Katika notisi hii tutakuwa tukifafanua yafuatayo:               
                 </p>

                 <ul class="list-style-number">
                    <li><a class="navItem" href="#dataCollected">Data tunazokusanya</a></li>
                    <li><a class="navItem" href="#useOfData">Matumizi ya Data</a></li>
                    <li><a class="navItem" href="#dataSharing">Namna tunavyowasilisha Data zako kwa watumiaji wengine </a></li>
                    <li><a class="navItem" href="#dataTranfer">Usafirishaji wa data</a></li>
                    <li><a class="navItem" href="#security">Usalama</a></li>
                    <li><a class="navItem" href="#ContactUs">wasiliana nasi</a></li>
                 </ul>

            </div>

            <div id="dataCollected" class="termPanel mb-3">
                <h4 class="mb-2">
                    Data tunazokusanya:
                </h4>
                <p>
                    Hii inahusisha data zote ambayo unaweza kutoa wakati wowote programu yetu inapokuhitaji ujaze, au data ambazo zinachukuliwa kiotomatiki kutoka katika kifaa chako wakati unatumia programu yetu na hizi zinaweza kujumuisha zifuatazo:                </p>
                
                <h6>Data binafsi au za shilika(campuni n.k)</h6>
                <p>
                    Data hizi ni zile zinazokusanywa unaposajili na kuunda akaunti ili kutumia huduma yetu na unaposasisha au kuongeza data nyingine unapotumia huduma yetu. akaunti iliyoundwa inaweza kuwa ya kibinafsi au inayomilikiwa na shirika kama vile kampuni au taasisi kulingana na msingi wa matumizi. Data inaweza kujumuisha jina kamili la mtumiaji (jina la kwanza na la mwisho), barua pepe, nambari ya simu, Jina la shirika, jinsia, nchi, mkoa, wilaya, kata, na mtaa/kijiji.                </p>


                <h6>Data za kifaa unachotumia.</h6>
                <p>
                    Hizi ni pamoja na data iliyokusanywa kiotomatiki kutoka kwa kifaa chako ukitumia huduma yetu. Data inaweza kuwa anwani ya itifaki ya mtandao ya kifaa chako (anwani ya IP), toleo la kivinjari, mipangilio ya kivinjari na mipangilio ya tarehe na saa.                </p>               

                <h6>Data ya akiba na vidakuzi.</h6>
                <p>
                    Hizi ni data zinazotolewa kwa kivinjari cha kifaa chako na kuhifadhiwa kama marejeleo ya kile ambacho programu yetu inapaswa kufanya kulingana na data iliyohifadhiwa.                 </p>  

                <h6>Data unayotoa ili kuboresha matumizi ya huduma zetu na kukamilisha kazi yako.</h6>
                <p>
                    Hii inahusisha data inayoeleza mapendeleo yako kuhusu kutumia huduma zetu iwe kwa kutumia huduma inayotozwa au huduma isiyolipishwa. Unapotumia huduma inayotozwa, data kuhusu muda wa matumizi huhifadhiwa na aina ya huduma uliyopendelea kutumia. Pia data unayotoa unapounda bili, kuagiza, kuongeza kwenye rukwama, kuunda ankara, miamala ya uzalishaji, marekebisho ya stoku na utendaji mwingine.               </p>  

               
            </div>

            <div id="useOfData" class="termPanel mb-3">
                <h4 class="mb-2">
                    Matumizi ya Data:
                </h4>
                <p>
                    FanyaBiashara tumia data zako unapotumia huduma zetu za mtandaoni kukupa taarifa zinazohusishwa nawe. Data zako husaidia mfumo kufuatilia unapotuma ombi kuhusu maelezo unayohitaji, kwa kutumia data yako tu taarifa yako itaonyeshwa.
                
                <p>
                    Data unayotoa ili kuboresha matumizi ya huduma yetu hutusaidia kuratibu malipo ya huduma zinazolipishwa ambazo umependekeza kutumia.                
                   
                <p>
                    Pia tunatumia data ambazo unaingiza kwenye mfumo ili kufanya kazi yako ili kutengeneza namna ya kuonyesha, kukokotoa na kubuni jinsi maelezo yako ambayo unapendekeza kushirikiwa yanaonyeshwa kwa watumiaji wengine wanaoshirikiana. Data hizi husaidia mfumo kutengeneza ankara, bili, ripoti za uzalishaji, marekebisho ya stoku na ripoti zingine.                </p>               

                
            </div>


            <div id="dataSharing" class="termPanel mb-3">
                <h4 class="mb-2">
                    Namna tunavyowasilisha Data zako kwa watumiaji wengine:
                </h4>
                <p>
                    Hii inahusisha kushiriki data yako kwa watumiaji wengine ikiwa kutakuwa na mahusiano ya kibiashara. Data inaweza kuwasirishwa kwa namna mbili:
                </p>

                
                <p>
                    
                    Kwanza kama mnunuzi au mhitaji wa huduma pindi unapoagiza kwa muuzaji anaweza kuhitaji kujua wewe ni nani na uko wapi kwa hivyo mfumo unawasilisha barua pepe yako, nambari ya simu, anwani yako ya mtaa na idadi ya vitu unavyopendekezwa. .                </p>                       
                
                
                <p>
                    Pili kama muuzaji/mtoa huduma mfumo huwasilisha bidhaa au huduma zako unazotoa, anwani yako ya mtaani, barua pepe, jina la biashara, nambari za simu na majina ya mahali pako kwa ujumla. Data husaidia mteja wako kujua wewe ni nani na unashughulikia nini.                            </p> 

                           
            </div>

            <div id="dataTranfer" class="termPanel mb-3">
                <h4 class="mb-2">
                    usafirishaji wa data:
                </h4>
            
                <p>
                    Fanyabiashara Kama huduma ya mtandaoni inayohusisha kuingiza na kuchakata data, data hizi huhifadhiwa na kudumishwa na kulindwa. Kwa hivyo, data zako husafirishwa kwa kampuni yetu ya mwenyeji ambayo hutuhakikishia usalama, kuhifadhi na kudumisha data hizi. Data husafirishwa nje ya nchi na kwa sasa campuni inayohusika na uhifadi wa data hizi ni amazon, Data huhifadhiwa popote ambapo kituo chetu cha mtoa huduma mwenyeji kinaweza kuwa.                </p>
                
            </div>

            <div id="security" class="termPanel mb-3">
                <h4 class="mb-2">
                    Usalama:
                </h4>
            
                <p>
                    Hii ni sehemu muhimu sana kwamba data yako ni muhimu sana kwako na kwetu kwa hivyo tunakuhakikishia kulinda na kupatikana kwako na kwa uendelevu wa huduma yetu. Kama mtumiaji ili kuunda uwezekano wa ulinzi kikamilifu pia inabidi ufuate taratibu za usalama ili kulinda kifaa chako moja kwa moja kwenye akaunti yako dhidi ya kutumiwa vibaya.                
            </div>

            <div id="ContactUs" class="termPanel mb-3">
                <h4 class="mb-2">
                    Wasiliana nasi:
                </h4>
            
                <p>
                    Kwa habari zaidi jisikie huru kuwasiliana nasi wakati wowote. 
                    <h6>Simu: +255 753202965, +255 782330586, +255 765370232</h6>
                    <h6>Barua pepe: fanyabiashara@info.com</h6>
                    <h6>anwani: Buzuruga plaza 2nd floor, Chumba No 215, Buzuruga, Mwanza, Tanzania</h6>
                 </p>
                
            </div>
            {% else %}
            <div class="termPanel mb-3">
                <h4 class="mb-2">
                    Introduction:
                </h4>
                <p>
                    Horizoncodes company (“the team”,” The management”) as the owner and operators of this website and the fanyabiashara system and as the fact that we respect, take care and protect your privacy data, this is a notice for a policy basing on how we collect, retain, use and share your personal or organization data as a user of our services and as visitor of our website and all of our online platforms and mobile apps.                 </p>
            </div>

            <div class="termPanel mb-3">
             
                <p>
                    This policy is designed to inform you on how we process your personal/organization data, and why do we need these data and in which scenarios we need to work basing on your data we collected, then you will make a better choice regarding in usage of our services and on visiting our website. 
                </p>
                <p>
                    In this notice we will be clarifying the following:               
                 </p>

                 <ul class="list-style-number">
                    <li><a class="navItem" href="#dataCollected">the data we collect</a></li>
                    <li><a class="navItem" href="#useOfData">How we use your data</a></li>
                    <li><a class="navItem" href="#dataSharing">How we share your data</a></li>
                    <li><a class="navItem" href="#dataTranfer">Data Transfer</a></li>
                    <li><a class="navItem" href="#security">Security</a></li>
                    <li><a class="navItem" href="#ContactUs">Contact us</a></li>
                 </ul>

            </div>

            <div id="dataCollected" class="termPanel mb-3">
                <h4 class="mb-2">
                    the data we collect:
                </h4>
                <p>This involve all the data that either you provide whenever our software attempts you to, or the data that are taken automatically from your device while using our software and these may include the following:</p>
                
                <h6>Personal/organization Data.</h6>
                <p>
                    These data are those collected when you register and create an account to use our service and when you update or add other data while using our service. the account created may be personal or owned by an organization such as a company or an institution depending on the basis of usage. The data may include user full name (first and last name), email, phone number, Organization name, gender, country, region, district, ward, and the street/village.
                </p>


                <h6>Device Data.</h6>
                <p>
                    These include the data that collected automatically from your device while using our service. The data may be your device internet protocol address (IP address), browser version, browser settings and date and time settings.
                </p>               

                <h6>Caches & cookies data.</h6>
                <p>
                    These are the data that are generated to your device browser and stored as the reference of what our software should do according to the data stored                </p>  

                <h6>Data you provide to enhance the usage of our service and to get your task done.</h6>
                <p>
                    These involves the data that tells what are your preferences on using our services whether using billed service or free service. When you use the billed service, data about the duration for usage is stored and the kind of service that you preferred to use. Also the data you provide while creating bills, ordering, adding to cart, creating invoices, manufacturing transactions, stock adjustments and other functionalities.                </p>  

               
            </div>

            <div id="useOfData" class="termPanel mb-3">
                <h4 class="mb-2">
                    The use of data:
                </h4>
                <p>
                    FanyaBiashara use your data while you are using our online services to give you the information that are associate with you. Your data helps the system to keep track when you make a request on the information you need, using your data only your information will be displayed.                 </p>

                
                <p>
                    The data that you provide to enhance the use of our service helps us to schedule the billing for the paid services that you proposed to use.                </p>
                
                   
                <p>
                    We also use the data that you give to the system to get your task done so as to generate the means regarding to display, calculate, and design the way that your information that you propose to be shared are pictured to other cooperate users. These data help the system to generate invoices, bills, manufacturing, stock adjustments and other reports.                
                </p>               

                
            </div>


            <div id="dataSharing" class="termPanel mb-3">
                <h4 class="mb-2">
                    How we share your data:
                </h4>
                <p>
                    This involves sharing your data to other users if there will be a business contact. The data may be shared in two ways:
                </p>

                
                <p>
                    
                    First as a buyer or service in need that when you press an order to vendor the vendor may need to know who are you and where are you therefore the system share your email, phone number, your street address and the quantity of items you are proposed.
                </p>                       
                
                
                <p>
                    Second as a vendor/service provider the system share your items or services you provide, your street address, email, enterprise name, phone numbers and the names your place in general. The data helps your customer to know of who are you and what you are dealing with.                </p> 

                           
            </div>

            <div id="dataTranfer" class="termPanel mb-3">
                <h4 class="mb-2">
                    Data Transfer:
                </h4>
            
                <p>
                    Fanyabiashara As an online service that involve inputting and processing data, these data may be stored and maintained and guarded. Therefore, your data are transferred to our hosting company that assures us of the security, storage and maintain ace of these data. The data are transferred outside the country and by now our hosting service is amazon the data are stored wherever our hosting service provider center may be.                
                </p>
                
            </div>

            <div id="security" class="termPanel mb-3">
                <h4 class="mb-2">
                    Security:
                </h4>
            
                <p>
                    This is very important part that your data are very important to you and for us hence we guarantee to protect and be available for you and for the sustainability of our service. As a user to make a fully protection potential also you have to follow the security procedures to protect your device direct to your account from being misused.                </p>
                
            </div>

            <div id="ContactUs" class="termPanel mb-3">
                <h4 class="mb-2">
                    Contact us:
                </h4>
            
                <p>
                    For more information feel free to contact us any time. 
                    <h6>Phone: +255 753202965, +255 782330586, +255 765370232</h6>
                    <h6>email: fanyabiashara@info.com</h6>
                    <h6>address: Buzuruga plaza 2nd floor, Room No 215, Buzuruga, Mwanza, Tanzania</h6>
                 </p>
                
            </div>
            {% endif %}
</div>
<script src="/static/js/userdash.js" ></script>

<script>
    $('#langSel').change(function(){
        const sel = $(this).val()

        location.replace(`/termprivacypolice?lang=${sel}`)
    })

    $('.navItem').click(function(){
        //e.preventDefault()
        href = $(this).attr('href')
        goTo(href)
        // $('#navbarCollapse').toggle(200)

    })
</script>

{% endblock %}
{% block homepage %}/?lang={{lang}}{% endblock %}