{% extends 'userdash.html' %}

{% block bidhaa %}
<!-- <div  class="page-content Analytical tab_div"> -->
    
    <div class="whiteBg py-1 " style="margin-top: -15px;"> 
      <div class="row classic_div">

         <div class="col-md-6 col-12  pl-2 {% if bil_num == 0 %} border-bottom {% endif %}">
      
            
            
          </div>

          <div class="col-12 col-md-6 row py-2 py-md-3 ">
            <div class="col-0 col-md-2">

            </div>
            <div class="col-12 col-md-10 px-0">
              <div class="row classic_div px-0 ">
                <div class="col-9 px-0">
                  <form action="{% url 'viewTransfer' %}" method="get">
                    <div class="input-group"> 
                       
                       
                              <input type="text" name="code" id="code" placeholder=" {% if useri.langSet == 0 %}  Andika no ya Uhamisho {% else %} write Tranfer no.. {% endif %}" class="form-control smallFont">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary smallerFont btn-sm pt-2">
                               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                   <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                 </svg>
                            </button>
                        </div>  
                       
                       
                    </div>
              </form>
                </div>
                <div class="col-3 text-right px-0">
                   <a href="/stoku/kuhamisha" class="btn latoFont  smallFont btn-primary border0 btn-sm">
                  + {% if useri.langSet == 0 %}Mpya  {% else %}New {% endif %}
                </a>
                </div>
              </div>
              
            </div>

         
          </div>
      </div>


      <script>
                 // when no item found alert...............................//  
                 if (!Boolean(Number('{{got}}'))){
                  toastr.error('{% if useri.langSet == 0 %} Hakuna Bidhaa iliyotambulika {% else %} No item Found {% endif %}', 'Error Alert', {timeOut: 2000});
                }
        $('#invo-auto-search').keyup(function(){
           $('#href_a').attr('href',`viewInvo?code=${$(this).val()}&back_to='allbill'`)
        })
      </script>
        



       {% if bil_num > 0 %}
                {% load humanize %}
      <div class="table-responsive pb-5">
       <table class="table table-hover " style="color: rgb(92, 92, 92);">
            <thead>
              <tr>
                <th class="latoFont" scope="col">
                  {% if useri.langSet == 0 %}  Uhamisho# {% else %} Transfer# {% endif %}
                
                </th>
                <th class="latoFont" scope="col">
                  {% if useri.langSet == 0 %} Tarehe   {% else %}Date {% endif %}
      
                </th>
                <th class="latoFont" scope="col">
                  {% if useri.langSet == 0 %} Kwenda  {% else %}To {% endif %}
      
                </th>
                <th class="latoFont" scope="col">
                  {% if useri.langSet == 0 %} Statasi  {% else %}Stutus {% endif %}
      
                </th>
                <th class="latoFont" scope="col">          
                  {% if useri.langSet == 0 %} Na  {% else %}By {% endif %}
                </th>
               
                <th class="latoFont" scope="col"> Action </th>
              </tr>
            </thead>
            <tbody>
                  {% for bil in bili %}
              <tr>
                <td class="text-center latoFont">TR-{{bil.transfer.code}}</td>
                <td class="text-center latoFont">
                   <script>
                    document.write(moment('{{bil.transfer.tarehe | date:"r" }}').format('DD/MM/YYYY HH:mm:ss'))
                  </script> 
                  

                </td>

                <td class="text-center text-primary latoFont ">
                    {{bil.Interprise.name}}
                </td>

                <td class="text-center smallerFont latoFont ">
                  {% if bil.transfer.order %}
                    <label for="oda" class="latoFont bg-danger px-2 py-1  text-light" >
                      {% if useri.langSet == 0 %} Zimeagizwa {% else %} Ordered {% endif %}
                    </label>
                  {% else %}
                    <label for="oda" class="latoFont bg-success px-2 py-1 text-light" >
                      {% if useri.langSet == 0 %} Zimehamishwa {% else %} Transfered {% endif %}
                    </label>
                  {% endif %}
                </td>
      
                <td class="text-center latoFont"> {{bil.transfer.By.user.user.first_name | title }}  {{bil.transfer.By.user.user.last_name | title }}</td>
      
                
                <td class="text-center">
                      <div class=" text-center">
                        
        
        
                        <a href="{% url 'viewTransfer' %}?item_valued={{bil.id}}&back_to='allbill' "  class="btn btn-default text-primary btn-sm">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                              </svg>
                            </a>
                        <!-- </form> -->
                           
      
                           
      
                      </div>
                </td>
              </tr>
             {% endfor %}
            </tbody>
          </table>
        </div>
        <p class=" p-4 border-top">
           


        {% if bili.has_previous %}
          <a href="{% url 'transferNote' %}?page=1" type="button"  class="btn btn-light border0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0zM4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z"/>
            </svg>
            </a>
      
            <a href="{% url 'transferNote' %}?page={{bili.previous_page_number}}" type="button"  class="btn btn-light  border0">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
            </a>
          {% endif %}
      
        {% if bili.has_next %}
            <a href="{% url 'transferNote' %}?page={{bili.next_page_number}}" type="button" class="btn btn-light border0">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
      
            <a href="{% url 'transferNote' %}?page={{pages}}" type="button"  class="btn btn-light border0" >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.146 3.646a.5.5 0 0 0 0 .708L7.793 8l-3.647 3.646a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0zM11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z"/>
              </svg>
            </a>
      {% endif %}
            <label for="">
             
              {% if useri.langSet == 0 %} Ukurasa wa {{p_num}} kati ya {{pages}} {% else %} page {{p_num}} of {{pages}} {% endif %}
      
            </label>
        </p>
       {%else%}
      
       
      <p class="pt-3 pb-5 text-center">
                 {% if useri.langSet == 0 %} Hakuna Bidhaa zilizohamishwa kwa sasa{% else %}No Transfered Items Found{% endif %}
       
      </p>
      
      {% endif %}
      
      
      
</div>
{% endblock %}



    
{% block nav-stock %}
class="c-menu__item style-none is-active  showingpop2"
{% endblock %}

{% block dash-mapper %}
  {% if useri.langSet == 0 %} Bidhaa {% else %} Items{% endif %}
{% endblock %}

{% block akaunt-map %} {% if useri.langSet == 0 %}   Bidhaa zilizohamishwa{% else %}  Transfered Items{% endif %}{% endblock %}

{% block active-transfer-menu %} class="btn-default btn pop2_active_menu btn-sm " {% endblock %}

{% block active-stock %} class="bi bi-cart-check text-primary" {% endblock %}
{% block stock-item %}
    <svg xmlns="http://www.w3.org/2000/svg" height="24" class="text-primary" viewBox="0 0 24 24" width="24" fill="currentColor">
      <path d="M0 0h24v24H0z" fill="none"/><path d="M20 4H4v2h16V4zm1 10v-2l-1-5H4l-1 5v2h1v6h10v-6h4v6h2v-6h1zm-9 4H6v-4h6v4z"/>
    </svg>
{% endblock %}