{% extends 'userdash.html' %}

{% block mauzo %}
    {% load humanize %}

<div  class="whiteBg  pb-5 classic_div pr-3" id="invoice_wrapper"  >
    <div class="row ">

        <div class="col-md-4  border-right" >
            <header class="border-bottom  ">
                <div class="row classic_div py-2">

                <div class="col-12">
                   <form action="{% url 'viewTransfer' %}" method="get">
                    <div class="input-group"> 
                      <div class="input-group-prepend border">
                        <button type="button" onclick="$('.listin').toggle(400)" class="d-flex d-md-none btn btn-light btn-sm  " >
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                            <line x1="8" y1="6" x2="21" y2="6"></line>
                            <line x1="8" y1="12" x2="21" y2="12"></line>
                            <line x1="8" y1="18" x2="21" y2="18"></line>

                            
                            </svg>
                        </button>
                       
                     </div> 
                       
                              <input type="text" name="code" id="code" placeholder=" {% if useri.langSet == 0 %}  Andika no ya Uhamisho {% else %} write Tranfer no.. {% endif %}" class="form-control smallFont">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary smallerFont btn-sm pt-2">
                               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                   <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                 </svg>
                            </button>
                        </div>  
                       
                       
                    </div>
              </form>

                </div>


                </div>

                
            </header>
            <!-- <div class="row classic_div py-2 pl-4 border-bottom">
                 <div class="input-group"> 
                     <div class="input-group-prepend">
                        <label for="input" class="pt-1 pr-2">
                            {% if useri.langSet == 0 %}  Tafuta  {% else %} Search {% endif %}:
                        </label>
                     </div> 
                           <input type="text" id="invo-auto-search" placeholder=" {% if useri.langSet == 0 %}  Andika no ya ankara {% else %} write invoice no.. {% endif %}" class="form-control smallFont">
                     <div class="input-group-append">
                         <a href="#" id="href_a" class="btn btn-secondary smallerFont btn-sm pt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                              </svg>
                            </a>
                     </div>  
                 </div>

               
            </div> -->

           
                 
            <div class="listin" style="height: 100vh;">
             <ul class="list-unstyled listin" style='overflow-y:auto;height:67vh;overflow-x:hidden' >
                {% for invo in bili %}

                {% if invo.id == the_bill.id %}

                <li class="p-2  border-bottom" style="border-left:4px solid rgb(0, 106, 228) ;background:rgb(232, 232, 255)" >
                 {% else %}   
                <li class="p-2  border-bottom" >
                 {% endif %}
                    

                        <a  class="row smallerFont text-decoration-none" style="color: #414141;" href="{% url 'viewTransfer' %}?item_valued={{invo.id}}&back_to='allbill' " >
                            <div class="col-12">
                            <strong> {{invo.Interprise.name | title}}</strong> 
                            </div>
                           

                            <div class="col-7 latoFont  pt-0">
                              <span class="text-primary btn btn-default btn-sm smallFont px-0 latoFont">TR-{{invo.transfer.code}}</span> |
                             <script>
                                  document.write(moment('{{invo.transfer.tarehe | date:"r"  }}').format('DD/MM/YYYY  HH:mm'))
                    
                             </script>
                                    
                            </div>

                            <div class="col-5 text-right pt-1">
                               
                                 

                                {% if invo.transfer.order %}
                                <span class="text-danger py-1 px-0 btn btn-sm  btn-default  latoFont"  style="color: aliceblue;">
                                    {% if useri.langSet == 0 %}  Zimeagizwa {% else %}Ordered {% endif %}
                                </span>
                                {% else %}
                                <span class="text-success py-1 px-0 btn btn-sm  btn-default  latoFont" style="color: aliceblue;">
                                    {% if useri.langSet == 0 %} Zimehamishwa {% else %}Transfered {% endif %}
                                </span>
                                {% endif %}

                            </div>
                          </a>
                    
                </li>

                {% endfor %}
            </ul>

            <div>
           
                {% if bili.has_previous %}
                  <a href="{% url 'viewTransfer' %}?page=1" type="button"  class="btn btn-default border0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0zM4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z"/>
                    </svg>
                    </a>
              
                    <a href="{% url 'viewTransfer' %}?page={{bili.previous_page_number}}" type="button"  class="btn btn-default  border0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                      </svg>
                    </a>
                  {% endif %}
              
                {% if bili.has_next %}
                    <a href="{% url 'viewTransfer' %}?page={{bili.next_page_number}}" type="button" class="btn btn-default border0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    </a>
              
                    <a href="{% url 'viewTransfer' %}?page={{pages}}" type="button"  class="btn btn-default border0" >
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.146 3.646a.5.5 0 0 0 0 .708L7.793 8l-3.647 3.646a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0zM11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z"/>
                      </svg>
                    </a>
              {% endif %}
                    <label for="">
                     
                      {% if useri.langSet == 0 %} Ukurasa wa {{p_num}} kati ya {{pages}} {% else %} page {{p_num}} of {{pages}} {% endif %}
              
                    </label>
            </div>             
            </div> 


        </div>

        <div class="col-md-8"  >
            <header class="border-bottom row py-3">
                
                <div class="col-md-12 text-right">

                {% if the_bill.transfer.order  %}
                    {% if the_bill.Interprise.id == duka.id %}
                    <button  class="btn btn-light latoFont btn-sm smallFont">
                      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                        <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                      </svg> {% if useri.langSet == 0 %}Ghairi{% else %}Remove{% endif %}
                    </button>
                    {% else %}
                      <button  class="btn btn-success latoFont btn-sm smallFont" data-toggle="modal"  data-target="#confirm_transfer" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                          <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                          <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                        </svg> {% if useri.langSet == 0 %} Hamisha{% else %} Transfer{% endif %}
                      </button>
                      {% endif %}
                {% else %}
                    <a href="/stoku/kuhamisha" class="btn btn-primary btn-sm latoFont smallFont">
                      <strong> + </strong> {% if useri.langSet == 0 %}Mpya{% else %}New{% endif %}
                    </a>
                {% endif %}

                </div>

            </header>


         
            
            
            

            <div  class="table-responsive pt-3 " id="invo_box" >

                <div class="classic_div mt-sm-2 pt-3 pb-2 px-3 the_invo_page" id="the_invo_page" >

              <div class="row classic_div pt-3" >
                    <div class="col-md-7   border-right">

                      <h5 class="text-secondary mt-1 pb-3  border-bottom font-weight-bold">
                        {% if useri.langSet == 0 %}NOTISI YA KUHAMISHA BIDHAA {% else %}ITEM(S) TRANSFER NOTE{% endif %}
                     </h5>

                      <div class="row">
                        <div class="text-danger py-1 col-3">
                            {% if useri.langSet == 0 %}  Kutoka{% else %}  From{% endif %}:
                        </div> 
                        <div class="col-9"  >
                           <strong>{{duka.name| title }} </strong> 
                        </div>                        
                      </div>
                      <div class="row">
                        <div class="text-danger py-1 col-3">
                            {% if useri.langSet == 0 %}  Kwenda{% else %}  To{% endif %}:
                        </div> 
                        <div class="col-9"  >
                           <strong>{{the_bill.Interprise.name| title }} </strong> 
                        </div>                        
                      </div>

                      <div class="row">
                        <div class="text-danger col-3" >
                            {% if useri.langSet == 0 %} Anwani{% else %} Address{% endif %}:
                      </div>
                      <div class="col-9">
                        {{the_bill.Interprise.mtaa.mtaa | title }}, {{the_bill.Interprise.mtaa.kata.kata | title }},
                        {{the_bill.Interprise.mtaa.kata.wilaya.wilaya |title }}, {{the_bill.Interprise.mtaa.kata.wilaya.mkoa.mkoa |title }},  

                        {{the_bill.Interprise.mtaa.kata.wilaya.mkoa.kanda.nchi.name |title }},  
                      </div>                         
                      </div>

                      {% if the_bill.By is not null %}
                      <div class="row">
                        <div class="col-3 text-danger">
                           {% if useri.langSet == 0 %} Aliyeagiza {% else %} Ordered By {% endif %}: 
                        </div>
                        <div class="col-9">
                          <a href="{% if not the_bill.Na.user == duka.owner and not the_bill.By == cheo  %}/EmployeeDetails?wrk={{the_bill.By.fanyakazi.id}}{% else %}#{% endif %}">
                          <strong>{{the_bill.By.user.user.first_name | title}}   {{the_bill.By.user.user.last_name | title}}</strong>
                        </a>
                        </div>
                      </div>
                   {% endif %}
                    </div>
                 <div class="col-md-5">
                     
                      <div class="text-md-right " style="margin-top:9px">
                         <h6> <strong>  TR-{{the_bill.transfer.code}}</strong></h6> 
                      </div>
                      <hr>

                      <div class="row smallFont" style="margin-top: -6px;">
                        <div class="col-5 text-md-right">
                            <p class="text-danger">
                                {% if useri.langSet == 0 %} Ilirekodiwa  {% else %}  Recorded on {% endif %}
                            </p>
                        </div>
                        <div class="col-7 text-md-right">
                            <p> 
                              <script>
                                      document.write(moment('{{the_bill.transfer.tarehe | date:"r"  }}').format('DD/MM/YYYY HH:mm'))
                              </script>
                                
                            </p>
                        </div>  
                      </div>

                   <div class="row smallFont" style="margin-top: -6px;">
                    <div class="col-5 text-md-right">
                        <p class="text-danger text-md-right">
                             {% if useri.langSet == 0 %} Kuhamishwa  {% else %} Due date {% endif %}
                        </p>
                    </div>
                    <div class="col-7 text-md-right">
                        <p>
                            {{the_bill.transfer.date}}
                        </p>
                    </div>
                    </div>

                    
                <div class="row text-md-right">
                    <div class="col-5">
                        <h6>
                            {% if useri.langSet == 0 %} Statasi{% else %} Status  {% endif %} :
                        </h6>
                    </div>
                  <h6 class="col-7">
                        {% if the_bill.transfer.order %}
                        <strong style="font-family:'Ubuntu',sans serif;color:#f81100f6" >
                           {% if useri.langSet == 0 %} ZIMEAGIZWA {% else %} ORDERED  {% endif %}
                        </strong>
                        {% else %}
                        <strong style="font-family:'Ubuntu',sans serif;color:#13a100" >
                           {% if useri.langSet == 0 %}  ZIMEHAMISHWA {% else %} TRANSFERED {% endif %}
                        </strong>
                        
                        {% endif %}
                    </h6>

                    </div>

  
                    


                 </div>
             </div>
               <hr>
               <div class="row px-3">
                  <div class="col-md-6">

                 </div> 
              
               </div>
               <br>


               

               <div class="table-responsive">
                 <table id="prod_table" class=" table-bordered table table-sm" style="min-width: 600px;" data-row=1>
                <tr class="bg-light smallFont ">
                  <th   > {% if useri.langSet == 0 %} Jina la Bidhaa  {% else %} Item Name {% endif %}</th>

                  {% if color.count > 0  %}
                  <th > {% if useri.langSet == 0 %} Rangi {% else %} Color {% endif %}</th>
                  {% endif %}

                  {% if size.count > 0  %}
                  <th > {% if useri.langSet == 0 %} Size {% else %} Size {% endif %}</th>
                  {% endif %}

                  <th > {% if useri.langSet == 0 %} Vipimo {% else %}  Units {% endif %}</th>
                  <th > {% if useri.langSet == 0 %} Idadi  {% else %} Quantity {% endif %}</th>
                  
                </tr>



                        <tbody  id="view-invo_tbody">
                           


                        </tbody>

               </table>
               </div>


               <div class="row ">



                   <div class="col-12 py-4">
                         
                    
                    {% if the_bill.transfer.By is not null %}
                    <div class="row">
                      <div class="col-md-6">
                        {% if cm.count > 0 %}
                        <p class="pl-2 Assitant smallFont">
                          {% if useri.langSet == 0 %} Uthibitisho wa kupokea na: {% else %} Receive comfirmed By: {% endif %}   
                        </p>
                        {% endif %}
                        <ul class="list-unstyled " style="max-width:190px ;padding-left:18px;margin-top:-7px" >
                            {% for r in cm %}
                              <li class="row pt-2 mt-2" style="border-radius:7px ;-webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.58);
                              -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.58);
                              box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.58);">
                                 <div class="col-3">
                                  {% if  r.user.picha %}
                                    <img style="width:30px;height:30px;" class="rounded-circle userimage"  src="{{ r.user.picha.url }}" alt="">
                                    {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                    </svg>
                                 {% endif %}
                                </div>
                                 <div class="col-9">
                                   <p class="latoFont smallerFont " >
                                        <span class="font-weight-bold" > {{r.user.user.first_name | title}}   {{r.user.user.last_name | title}}</span>
                                      <br>
  
                                      <script>
                                        document.write(moment('{{r.tarehe | date:"r" }}').format('DD/MM/YYYY HH:mm:ss'))
                                      </script>
                                   </p>
                                  
                                  
                                 </div>
                                 
                              </li>
                            {% endfor %}
                        </ul>
                      </div>
                      <p class="text-right col-md-6" >
                          {% if useri.langSet == 0 %} Imeidhinishwa na {% else %} Issued By {% endif %}:
                          <a href="{% if not the_bill.transfer.By.user == duka.owner and not the_bill.transfer.By == cheo %}/EmployeeDetails?wrk={{the_bill.transfer.By.fanyakazi.id}}{% else %}#{% endif %}">
                            <strong>{{the_bill.transfer.By.user.user.first_name | title}}   {{the_bill.transfer.By.user.user.last_name | title}}</strong> 
                         </a>
                      </p>
                    </div>
                      
                        {% endif %}   
                       
                     <div class="text-center py-2" style="border-left:3px solid yellow;background:#f0f8fc">
                          
                               <div class="p-3 d-inline" style="height: 50px;width:50px;border-radius:50%;color:rgb(191, 230, 253)">
                                    <span class="text-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                                          </svg>
                                    </span>
                               </div>|
                          <span>{{the_bill.reasons}} </span>  
                           
                              </div>
                   </div>
                   
               </div>

               
              
        

            </div>

 
            </div>

            
           


                        <script>
                            $('document').ready(function(){
                                let tot_vat=0,vat_include = false,vat_set=false,sub_tot=0
                                    const vatper = Number('{{duka.vatper}}')/100
                                    let itms=[],itm_var={},
                                        colors=[],color_var={},
                                        sizes=[],sizes_var={},
                                        tr='',
                                        
                                        set_v='',
                                        includ_v='',
                                        bei = 0,
                                        act_bei=0
                                //create objects for items , color & sizes ...........................//


                                //CREATE ITEMS OBJECT...............// 

                                '{% for li in list %}'
                             
                                 //make the price equal to sold price if the item sold price is greater than its actul saved price
                               

                                 
                           
 
                                itm_var={
                                    val:'{{li.itm.id}}',
                                    prod:'{{li.itm.bidhaa.id}}',
                                    idadi:'{{li.itm.uhamisho.qty}}',
                                    jum:'{{li.itm.jum}}',
                                    picha:'{{li.picha}}',
                                    vat_set:false,
                                    vat_include:false,
                                    maelezo:'{{li.itm.bidhaa.maelezo}}',
                                    code:' {% if li.itm.manunuzi  %} BILL-{{li.itm.manunuzi.manunuzi.code}} {% elif li.itm.produced  %} BATCH-{{li.itm.produced.production.code}} {% elif li.itm.ongezwa %} ADJ-{{li.itm.ongezwa.code}} {% endif %}',
                                    vipimo:'{{li.itm.bidhaa.vipimo}}',
                                    vipimo_jum:'{{li.itm.bidhaa.vipimo_jum}}',
                                    jina:'{{li.itm.bidhaa.bidhaa_jina}}',
                                    uwiano:'{{li.itm.bidhaa.idadi_jum}}',
                                    serial:'{{li.itm.serial}}',

                                }

                                itms.push(itm_var)

                                '{% endfor %}'

                           

                                //COLOR OBJECTS....................//
                                '{% for col in color %}'
                                  color_var={
                                      itm:'{{col.bidhaa.id}}',
                                      val:'{{col.color.id}}',
                                      idadi:'{{col.received.qty}}',
                                      color_name:'{{col.color.color_name}}',
                                      color_code:'{{col.color.color_code}}'
                                  }
                                  colors.push(color_var)

                                 '{% endfor %}'

                                  

                               

                                 //SIZES OBJECT...............//
                                 '{% for sz in size %}'
                                    sizes_var={
                                        color:'{{sz.sized.color.id}}',
                                        size:'{{sz.sized.size}}',
                                        idadi:'{{sz.received.qty}}',
                                    }
                                    sizes.push(sizes_var)
                                 '{% endfor %}'



                                 //USED PRICES.........................//
                                 let pr=[],pr_var={}
                                 '{% for p in prices %}'
                                    pr_var={
                                        unit:'{{p.unit}}',
                                        price:Number('{{p.price}}'),
                                        qty:Number('{{p.qty}}'),
                                        prod:'{{p.prod}}'
                                    }
                                    pr.push(pr_var)

                                 '{% endfor %}'
                                 


                              let sales=0,total_vat=0
                              itms.forEach(itm=>{
                                  let col = c =>c.itm === itm.val,prc = p =>p.prod ===itm.prod
                                  
                                  const colr = colors.filter(col),prices = pr.filter(prc)
                                  let beis = 0 ,idadis=0,idad=0,vpmo='',sale=0

                                  let prics = [],
                                       prc1 = {
                                        unit:itm.vipimo,
                                        price:Number(itm.bei),
                                        qty:1
                                       } 

                                    prics.push(prc1)   

                                    if(Number(itm.uwiano)>1){
                                        prc2={
                                             unit:itm.vipimo_jum,
                                             price:Number(itm.bei_jum),
                                             qty:Number(itm.uwiano)
                                        }
                                        prics.push(prc2)

                                    }


                                    prics = [...prics,...pr]


                                   
                                     

                                
                                      



                                  


                                 tr+=`
                              <tr class="text-center   latoFont" style="padding: 10px 3px !important;">`

                             
                               if(colr.length==0){

                                let prp = b => itm.idadi % b.qty===0,
                                   prop_price = prics.filter(prp)

                                   if(prop_price.length == 0){
                                    prop_price = prics.filter(b=>Number(b.qty)===1)
                                }  

                                 prop_price.sort((a,b)=>(a.qty>b.qty)? 1 :(a.qty ===b.qty)
                                   ?((a.qty > b.qty)? 1 : -1) : -1 )
                                 let ps = prop_price[prop_price.length-1]  
                                         
                                            beis = Number(itm.bei)*Number(ps.qty)

                                       

                                        vpmo = ps.unit
                                        idad = Number(itm.idadi)/Number(ps.qty)

                              

                           
                                 
                                tr+=`
                                <td class="text-left" > 
                                  <div class="d-flex">
                                    <div style="width:40px;heigth:40px" >`
                                      if(itm.picha!=''){
                                        tr+=` <img src="${itm.picha}" style="max-width:100%;max-height:100%"  >`
                                       }else{
                                           tr+=` <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                                             <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                             <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                                           </svg>`
                                       }
                                    tr+=`</div>
  
                                    <div class="ml-1" >
                                      <div><strong class="pl-1" style="color: #3989c6"> ${titleCase(itm.jina)}</strong></div>
                                      <div class="pl-2 text-muted smallerFont itm_desc" style="color:blue">${itm.maelezo} <u class="darkblue latoFont ml-1 pl-1 border-left">${itm.code} </u> </div>
                                      <div class="pl-2  smallerFont itm_desc font-weight-bold" >${itm.serial.replace(/[&\/\\#,+()$~%"*?<>{}`]/g, "")}</div>
                                    </div> 
                                </td>` 
                                
                                if(colors.length>0){
                                    tr+=`<td style="padding: 10px 3px !important;"> --- </td>` 
                                }

                                if(sizes.length>0){
                                  tr+=`<td style="padding: 10px 3px !important;"> --- </td> `
                                }
 
                                 //REGULATE PRICE FOR VAT.............................//
                          
                            tr+=`<td style="padding: 10px 3px !important;" >${vpmo}</td>
                                 ` 

                                 tr+=` <td style="padding: 10px 3px !important;" > ${Number(idad).toFixed(2)}
                                 </td> 
                                        
                                `
                             
                            }else{
                                let span=colr.length+1
                                     
                                  
                                
                                tr+=`<td class="text-left span1" id="span_${itm.val}" rowspan="${span}">
                                  <div class="d-flex">
                                    <div style="width:40px;heigth:40px" >`
                                      if(itm.picha!=''){
                                        tr+=` <img src="${itm.picha}" style="max-width:100%;max-height:100%"  >`
                                       }else{
                                           tr+=` <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-card-image" viewBox="0 0 16 16">
                                             <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                             <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
                                           </svg>`
                                       }
                                    tr+=`</div>
  
                                    <div class="ml-1" >
                                      <div><strong class="pl-1" style="color: #3989c6"> ${titleCase(itm.jina)} </strong></div>
                                      <div class="pl-2 itm_desc text-muted smallerFont" style="color:blue">${itm.maelezo} <u class="darkblue latoFont ml-1 pl-1 border-left">${itm.code} </u></div>
                                    </div>
                                </td>` 
                               
                                colr.forEach(col=>{
                                    let szi = s=> s.color == col.val
                                    const sz = sizes.filter(szi)


                           tr+=`<tr class=" text-center  latoFont" style="padding: 10px 3px !important;">`
                                  if(sz.length==0){
                                    let prp = b => col.idadi % b.qty===0,
                                       prop_price = prics.filter(prp)

                                       if(prop_price.length == 0){
                                        prop_price = prics.filter(b=>Number(b.qty)===1)
                                    }  
    
                                     prop_price.sort((a,b)=>(a.qty>b.qty)? 1 :(a.qty ===b.qty)
                                       ?((a.qty > b.qty)? 1 : -1) : -1 )
                                     let ps = prop_price[prop_price.length-1]

                                    vpmo = ps.unit
                                    idad = Number(col.idadi)/Number(ps.qty)

        
                               

                                      tr+=`<td style="padding: 10px 3px !important;" class="smallerFont text-left">
                                        <label 
                                        style="width:15px;
                                        height:15px;
                                        background:${col.color_code};
                                        border-radius:100%;
                                        color:rgba(240, 248, 255, 0);
                                        border:1px solid #ccc"
                                        >
                                        ''
                                    </label> 
                                    ${titleCase(col.color_name)}
                                      </td> `
                                      if(sizes.length>0){
                                      tr+=`<td style="padding: 10px 3px !important;"> --- </td> `
                                      }

                                       
                                      
                                      tr+=`<td style="padding: 10px 3px !important;" >${vpmo}</td>
                                      `

                                    
                                    tr+=` <td style="padding: 10px 3px !important;" > 
                                        ${Number(idad).toFixed(2)}
                                    </td> 
                                           `
                        
                                 }else{
                                    tr+=`<td style="padding: 10px 3px !important;" `
                                    if(sz.length>1){
                                       tr+=` rowspan=${sz.length+1}` 
                                    }
                                    
                                   tr+=` data-itm="${itm.val}" class="span2 smallerFont text-left" >

                                        <label 
                                        style="width:15px;
                                        height:15px;
                                        background:${col.color_code};
                                        border-radius:100%;
                                        color:rgba(240, 248, 255, 0);
                                        border:1px solid #ccc"
                                        >
                                        ''
                                    </label> 
                                        ${titleCase(col.color_name)}</td>` 
                                     
                                     sz.forEach(s=>{

                                        let prp = b => s.idadi % b.qty===0,
                                           prop_price = prics.filter(prp)

                                           if(prop_price.length == 0){
                                            prop_price = prics.filter(b=>Number(b.qty)===1)
                                        }  
        
                                         prop_price.sort((a,b)=>(a.qty>b.qty)? 1 :(a.qty ===b.qty)
                                           ?((a.qty > b.qty)? 1 : -1) : -1 )
                                         let ps = prop_price[prop_price.length-1]
                                            beis = Number(itm.bei)*Number(ps.qty)
                                        vpmo = ps.unit
                                        idad = Number(s.idadi)/Number(ps.qty)
                                        sale=Number(itm.sold)*Number(s.idadi)

                                if( itm.vat_set){
                                    //REGULATE MEASUARES.............//
                                        beis= (beis/(1+vatper))
                                        sales+=Number(itm.sold)/(1+vatper)*Number(s.idadi)
                                        sale=sale/(1+vatper)               

                                }else{
                                        sales+=Number(itm.sold)*Number(s.idadi)

                                }
                                        sub_tot+=(beis*idad)
                                        if(itm.vat_set){
                                            total_vat+=sale*vatper
                                        }

                                      if(sz.length>1){
                                       tr+=`<tr class="text-center   latoFont" style="padding: 10px 3px !important;"> `
                                         
                                      }   

                                       tr+=`<td class="text-center" style="padding: 10px 3px !important;"><span class="text-danger smallFont"> ${s.size}</span></td>` 
                                      
                                       tr+=`<td style="padding: 10px 3px !important;" >${vpmo}</td>
                                            `


                                           tr+=`  <td class="text-center " style="padding: 10px 3px !important;" > ${Number(idad).toFixed(2)} 
                                           </td> 
                                            `
                                       if(sz.length>1){
                                      tr+=`  </tr>`
                                    }
                                       
                              
                                         
                                     })
                                 }
                                  
                               
                                    tr+=`</tr>
                                `
                                })
                               
                            }

                            tr+=`</tr>`



                            


                              })  

                            //  console.log('sub',sub_tot)
                            //  console.log('sales',sales)
                            //  console.log('diff',Number(sub_tot-sales).toLocaleString())
                              
                              $('#view-invo_tbody').html(tr)

                            

                              
                           

                              $('.span2').each(function(){
                                  if(Number($(this).attr('rowspan'))){
                                  let rowspan=Number($(this).attr('rowspan'))-1,
                                      parent='#span_'+$(this).data('itm'),
                                      prow= Number($(parent).attr('rowspan'))
                                 $(parent).attr('rowspan',prow + rowspan)
                                 }
                                //  $(parent).attr('rowspan',Number(parent.attr('rowspan'))+1)
                                 // console.log(prow)
                              })
                             
                             


                          
                           
                        
                        //PRINT BILL
                       
                        
                       })
                       
                      

                        </script>
        

        </div>



       
        
        
 
        

    </div>

</div>


 

    <!-- MESSAGE ARERT -->
    {% if then.msg.success %}
    <script>

      

        $('document').ready(function(){
            let msg = '{{then.msg.eng}}'

        '{% if useri.langSet == 0 %}'
              msg = '{{then.msg.swa}}'
          '{% endif %}'
        toastr.success(msg, 'Success Alert', {timeOut: 2000});
        })
        
    </script>

{% elif not then.msg.success  and then.msg.is_added  %}


    <script>
        $('document').ready(function(){

        let msg = '{{then.msg.eng}}'

        '{% if useri.langSet == 0 %}'
              msg = '{{then.msg.swa}}'
          '{% endif %}'


            
        toastr.error(msg, 'Error Alert', {timeOut: 2000});
        })
    </script>

    

{% endif %}


<!-- Modal ya kuhakiki kuhamisha-->
    <div class="modal fade" id="confirm_transfer" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{% if useri.langSet == 0 %}Hakiki Kuhamisha{% else %}Comfirm Transfer{% endif %}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
              </svg>
            </div>
            <p class="text-center" > 
              {% if useri.langSet == 0 %} 
                 Bidhaa zilizoainishwa zitapunguzwa katika stoku hii na kuongezwa stoku zilipoagizwa
              {% else %} 
                  Item(s) will be reduced from this Stock and added to where the item(s) were ordered  
              {% endif %} </p>
          </div>
          <div class=" row classic_div pb-4 ">
            <div class="col-6 ">
              <button type="button" class="btn btn-light smallFont latoFont " data-dismiss="modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                  <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                </svg>
                {% if useri.langSet == 0 %} Ghairi{% else %} Close {% endif %}
              </button>
            </div>

            <form method="post" data-transfer={{the_bill.id}} action="\stoku\hamisha_oda" id="hakiki_oda1"  class="col-6  ">
              {% csrf_token %}

              <button type="submit" class="btn btn-success d-flex smallFont latoFont "  >
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                  <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                  <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                </svg>
                {% if useri.langSet == 0 %}  Hamisha{% else %}  Transfer{% endif %}
               </button>
              </form>
            
          </div>
        </div>
      </div>
    </div>


    <script src="/static/js/item_transfer.js"></script>

{% endblock %}
{% block dash-mapper %}
 {% if useri.langSet == 0 %} Bidhaa  {% else %} Items {% endif %}
{% endblock %}   
{% block nav-stock %}
class="c-menu__item  is-active has-submenu showingpop2 "
{% endblock %}

{% block active-transfer-menu %} class="btn-default btn pop2_active_menu btn-sm " {% endblock %}

{% block active-stock %} class="bi bi-shop text-primary font-weight-bold"{% endblock %}
{% block stock-item %}
    <svg xmlns="http://www.w3.org/2000/svg" height="24" class="text-primary" viewBox="0 0 24 24" width="24" fill="currentColor">
      <path d="M0 0h24v24H0z" fill="none"/><path d="M20 4H4v2h16V4zm1 10v-2l-1-5H4l-1 5v2h1v6h10v-6h4v6h2v-6h1zm-9 4H6v-4h6v4z"/>
    </svg>
{% endblock %}

{% block dash-map %}<a href="#" class="tab_show" data-show="#general-panel">  {% if useri.langSet == 0 %}Kuhamisha Bidhaa{% else %} Items Transfer {% endif %}</a> {% endblock %}