sudo systemctl restart gunicorn.service
sudo journalctl -u gunicorn.service -f
sudo nano /etc/systemd/system/gunicorn.service
source venv/bin/activate
nano account/management/commands/test_gcs_upload.py
python manage.py test_gcs_upload


bado kuna changamoto yaaani nikiongeza grouped Item kwenye page ya groupedItems.html mfano soda za chupa  yenye  Members  mfano pepsi yenye pc 7 na coca yenye pc 12 nashangaa  kwenye #sym:bidhaa_stoku.idadi ya soda za chupa inakuwa 7 ambapo inatakiwa #sym:bidhaa_stoku .idadi ya soda za chupa iwe  0 na huku kwenye page za waiterpage.html yenye waiterpage.js, waiter_device_dashboard.html yenye waiter_device_dashboard.js na pos_tab.html yenye pos.js inatakiwa idadi ya soda za chupa ionekane 19(7+12)  na katika kujumlisha zile idadi za bidhaa kwa kila member item inatakiwa ichukue #sym:bidhaa_stoku.bidhaa 